<div class="breadcrumb">
  <a [routerLink]="['accueil']">Accueil</a>
  <a href="tab-ref-correspondant" class="selected-item">
    <i class="fas fa-chevron-right"></i>
    Gestion des Correspondants
  </a>
</div>
<div class="container-fluid">
  <div class="body d-flex">
    <div class="col-md-12">
      <div class="mt-3">
        <div class="sidebar">
          <div class="card">
            <div class="card-body">
              <ul class="d-flex">
                <li class="col-md-12 selected-table"><i class="fas fa-tasks"></i><a>Gestion des Correspondants</a></li>
              </ul>
            </div>
          </div>
        </div>
        <div class="mt-2 datagrid-bloc">
          <div class="quick-filters d-flex">
            <div class="search-add-section-div mt-3">
              <div class="search input-group">
                <input
                  class="form-control py-2 border-right-0 border search-form-control"
                  type="search"
                  placeholder="Rechercher"
                  id="example-search-input"
                  #searchBox
                  (keyup.enter)="search(searchBox.value)"
                  (input)="ClearSearch($event, searchBox.value)"
                />
                <span class="input-group-append">
                  <button
                    class="btn btn-outline-secondary border-left-0 border btn-search"
                    type="button"
                    (click)="search(searchBox.value)"
                  >
                    <i class="fa fa-search"></i>
                  </button>
                </span>
              </div>
              <div class="mr-3">
                <button class="btn add-action" (click)="addItemAction()">
                  <i class="fas fa-plus-circle mr-1"></i>
                  Ajouter Correspondant
                </button>
              </div>
            </div>
            <div></div>
          </div>
          <div class="datatable mt-4">
            <app-ng-data-table
              [loading]="loading"
              (action)="actionMethod($event)"
              (pageChanged)="pagination($event)"
              (filterValue)="filters($event)"
              (sort)="sortEvent($event)"
              [component]="'tabRefStyle'"
              [columns]="columns"
              [frozenCols]="[]"
              [frozenWidth]="'0px'"
              [checkBoxSelection]="false"
              [data]="items"
              [totalFiltred]="totalFiltred"
              [total]="total"
              [page]="page"
              [limit]="limit"
              [end]="end"
              [start]="start"
              [columnResizeMode]="'expand'"
            >
            </app-ng-data-table>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<ng-template #content let-modal>
  <div class="modal-header">
    <h4 class="modal-title" *ngIf="editItem">Modification de correspondant "{{ itemLabel }}"</h4>
    <h4 class="modal-title" *ngIf="addItem">Ajout de correspondant</h4>
    <h4 class="modal-title" *ngIf="deleteItems">Suppression de correspondant "{{ itemLabel }}"</h4>
    <h4 class="modal-title" *ngIf="editVisibility">Activation / désactivation de correspondant " {{ itemLabel }}"</h4>
    <button type="button" class="close" aria-label="Close" (click)="close()">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  <div class="modal-body">
    <div class="col-md-12" *ngIf="deleteItems">Voulez-vous supprimer le correspondant "{{ itemLabel }}" ?</div>
    <form [formGroup]="tabForm">
      <div class="form-group col-md-12 d-flex justify-content-between align-items-baseline" *ngIf="editItem || addItem">
        <label class="col-sm-5">Nom<span class="mandatory"> *</span></label>
        <input
          type="text"
          class="form-control col-sm-7"
          value="{{ editItem ? selectedItem.firstName : '' }}"
          formControlName="firstName"
        />
      </div>
      <div class="form-group col-md-12 d-flex justify-content-between align-items-baseline" *ngIf="editItem || addItem">
        <label class="col-sm-5">Prénom<span class="mandatory"> *</span></label>
        <input
          type="text"
          class="form-control col-sm-7"
          value="{{ editItem ? selectedItem.firstName : '' }}"
          formControlName="lastName"
        />
      </div>
      <div class="form-group col-md-12 d-flex justify-content-between align-items-baseline" *ngIf="editItem || addItem">
        <label class="col-sm-5">Fonction<span class="mandatory"> *</span></label>
        <input
          type="text"
          class="form-control col-sm-7"
          value="{{ editItem ? selectedItem.function : '' }}"
          formControlName="function"
        />
      </div>
      <div class="form-group col-md-12 d-flex justify-content-between align-items-baseline" *ngIf="editItem || addItem">
        <label class="col-sm-5">Téléphone<span class="mandatory"> *</span></label>
        <input
          type="number"
          min="0"
          class="form-control col-sm-7"
          value="{{ editItem ? selectedItem.phone : '' }}"
          formControlName="phone"
        />
      </div>
      <div class="form-group col-md-12 d-flex justify-content-between align-items-baseline" *ngIf="editItem || addItem">
        <label class="col-sm-5">E-mail<span class="mandatory"> *</span></label>
        <input
          type="text"
          class="form-control col-sm-7"
          value="{{ editItem ? selectedItem.mail : '' }}"
          formControlName="mail"
        />
      </div>
      <div class="form-group col-md-12 d-flex justify-content-between align-items-baseline" *ngIf="editItem || addItem">
        <label class="col-sm-5">Login</label>
        <input
          type="text"
          class="form-control col-sm-7"
          value="{{ editItem ? selectedItem.login : '' }}"
          formControlName="login"
        />
      </div>
      <div class="form-group col-md-12 d-flex justify-content-between align-items-baseline" *ngIf="editItem || addItem">
        <label class="col-sm-5">Etablissement<span class="mandatory"> *</span></label>
        <div class="autocomplete form-control value col-12 col-sm-7">
          <p-dropdown
            class="col-md-7 p-0"
            [options]="relatedEntities.establishments"
            formControlName="establishment"
            placeholder="Choisir un établissement"
            emptyFilterMessage="Aucun résultat trouvé"
            optionLabel="label"
            [showClear]="true"
            (onChange)="onEstablishmentSelect($event)"
            [placeholder]="'Sélectionner un établissement'"
            [filter]="true"
          ></p-dropdown>
        </div>
      </div>
      <div class="form-group col-md-12 d-flex justify-content-between align-items-baseline" *ngIf="editItem || addItem">
        <label class="col-sm-5">Sous-Direction</label>
        <div class="autocomplete form-control value col-12 col-sm-7">
          <p-multiSelect
            class="col-md-7 p-0"
            [options]="relatedEntities.subDivisions"
            optionLabel="label"
            formControlName="subDivisions"
            placeholder="Choisir une Sous-Direction"
            emptyFilterMessage="Aucun résultat trouvé"
            (onChange)="onSubDivisionSelect($event)"
            [placeholder]="'Sélectionner une sous-direction'"
            [filter]="true"
            [class.ng-invalid]="tabForm.errors && tabForm.errors.oneOfTheseFields"
          ></p-multiSelect>
        </div>
      </div>
      <div class="form-group col-md-12 d-flex justify-content-between align-items-baseline" *ngIf="editItem || addItem">
        <label class="col-sm-5">Service</label>
        <div class="autocomplete form-control value col-12 col-sm-7">
          <p-multiSelect
            class="col-md-7 p-0"
            [options]="relatedEntities.services"
            optionLabel="label"
            formControlName="services"
            placeholder="Choisir un service"
            emptyFilterMessage="Aucun résultat trouvé"
            (onChange)="onServiceSelect($event)"
            [placeholder]="'Sélectionner un service'"
            [filter]="true"
            [class.ng-invalid]="tabForm.errors && tabForm.errors.oneOfTheseFields"
          ></p-multiSelect>
        </div>
      </div>

      <div
        class="form-group col-md-12 d-flex justify-content-between align-items-baseline"
        *ngIf="addItem || editVisibility"
      >
        <label class="col-sm-5">Date début de validité<span class="mandatory"> *</span></label>
        <input type="date" name="datepicker" class="form-control date-input col-sm-7" formControlName="startDate" />
      </div>

      <div
        class="form-group col-md-12 d-flex justify-content-between align-items-baseline"
        *ngIf="addItem || editVisibility"
      >
        <label class="col-sm-5">Date fin de validité</label>
        <input
          type="date"
          name="datepicker"
          class="form-control date-input col-sm-7"
          formControlName="endDate"
          [class.ng-invalid]="tabForm.errors && tabForm.errors.dateInvalid"
        />
      </div>
    </form>
  </div>
  <div class="modal-footer">
    <button type="button" class="btn btn-light cancel-btn" (click)="close()">Annuler</button>
    <button
      *ngIf="editItem || editVisibility"
      type="submit"
      class="btn btn-light valid-btn"
      [attr.disabled]="btnLoading"
      (click)="submit()"
    >
      Modifier
    </button>
    <button
      *ngIf="addItem"
      type="submit"
      class="btn btn-light valid-btn"
      [attr.disabled]="btnLoading"
      (click)="submit()"
    >
      Ajouter
    </button>
    <button
      type="button"
      class="btn btn-light valid-btn"
      *ngIf="deleteItems"
      (click)="deleteItemss(itemToDelete)"
      [attr.disabled]="btnLoading"
    >
      Supprimer
    </button>
  </div>
</ng-template>
