//input upload file
.upload-file {
  height: 30px;
  .button-upload {
    font-weight: 600;
    font-size: 14px;
    margin: 0;
    background-color: #00d6d4;
    color: #fff;
    border: #00d6d4 solid 2px;
    border-radius: 2px;
  }
}
