<div class="col-md-12">
  <h5>Liens avec oeuvres</h5>

  <ol class="rounded-list">
    <li>Fait partie de:</li>
    <li>
      <span><a href="#">149</a> | 22/01/2020 | Jean</span>
    </li>
    <li>
      Composé de :
      <ol>
        <li>
          <span><a href="#">149</a> | 22/01/2020 | Jean</span>
        </li>
        <li>
          <span><a href="#">149</a> | 22/01/2020 | Jean</span>
        </li>
        <li>
          <span><a href="#">149</a> | 22/01/2020 | Jean</span>
        </li>
      </ol>
    </li>
  </ol>
</div>
