<div class="col-md-12 pl-0">
  <div class="col-md-12 p-0">
    <h5 class="pl-0">Liens avec oeuvres</h5>

    <ol class="rounded-list" *ngIf="!add">
      <li>Fait partie de:</li>
      <li>
        <span><a href="#">149</a> | 22/01/2020 | Jean</span>
      </li>
      <li>
        Composé de :
        <ol>
          <li>
            <span><a href="#">149</a> | 22/01/2020 | Jean</span>
          </li>
          <li>
            <span><a href="#">149</a> | 22/01/2020 | Jean</span>
          </li>
          <li>
            <span><a href="#">149</a> | 22/01/2020 | Jean</span>
          </li>
        </ol>
      </li>
    </ol>
  </div>

  <ol class="mb-2" *ngIf="add">
    <li class="mb-2">Fait partie de:</li>
    <li>
      <!--      <select formControlName="photographyType" style="font-size: 12px" class="col-12 p-1">-->
      <!--        <option value="">&#45;&#45;Choisissez Référence&#45;&#45;</option>-->
      <!--        <option *ngFor="let type of types" [value]="type">{{ type }}</option>-->
      <!--      </select>-->
      <ng-multiselect-dropdown
        style="font-size: 12px"
        class="col-12 p-1"
        class="select"
        [placeholder]="'--Choisir Référence d\'oeuvre--'"
        [settings]="dropdownSettings"
        [data]="refs"
        (onSelect)="onItemSelect($event)"
        (onSelectAll)="onSelectAll($event)"
      >
      </ng-multiselect-dropdown>
    </li>
  </ol>

  <!--    <label class="col-md-2">Fait partie de:</label>-->
  <!--    -->
  <!--    <div class="autocomplete col-md-9">-->
  <!--      <div class="autocomplete col-md-12">-->
  <!--        <select formControlName="photographyType" style="font-size: 12px" class="col-12 p-1">-->
  <!--          <option value="">&#45;&#45;Choisissez un type&#45;&#45;</option>-->
  <!--          <option *ngFor="let type of types" [value]="type">{{ type }}</option>-->
  <!--        </select>-->
  <!--        <ng-template #itemTemplate let-item>-->
  <!--          <a [innerHTML]="item.name"></a>-->
  <!--        </ng-template>-->
  <!--        <ng-template #notFoundTemplate let-notFound>-->
  <!--          <div [innerHTML]="notFound"></div>-->
  <!--        </ng-template>-->
  <!--      </div>-->

  <!--      <ng-template #itemTemplate let-item>-->
  <!--        <a [innerHTML]="item.name"></a>-->
  <!--      </ng-template>-->
  <!--      <ng-template #notFoundTemplate let-notFound>-->
  <!--        <div [innerHTML]="notFound"></div>-->
  <!--      </ng-template>-->
  <!--    </div>-->
</div>
