<div class="form-bloc">
  <div class="form-group col-md-6">
    <label>Titre</label>
    <input class="form-control" placeholder="titre" *ngIf="edit" />
    <div class="" *ngIf="!edit">Titre de la sculpture</div>
  </div>
  <div class="form-group col-md-6">
    <label>Domaine</label>
    <div class="autocomplete form-control" *ngIf="edit">
      <ng-autocomplete
        placeholder="Domaines"
        [data]="domains"
        [searchKeyword]="keyword"
        (selected)="selectDomain($event)"
        (inputChanged)="onChangeSearch($event)"
        (inputFocused)="onFocused($event)"
        [itemTemplate]="itemTemplate"
        [notFoundTemplate]="notFoundTemplate"
      >
      </ng-autocomplete>
      <ng-template #itemTemplate let-item>
        <a [innerHTML]="item.name"></a>
      </ng-template>
      <ng-template #notFoundTemplate let-notFound>
        <div [innerHTML]="notFound"></div>
      </ng-template>
    </div>
    <div class="value" *ngIf="!edit">Sculpture</div>
  </div>
  <div class="form-group col-md-6">
    <label class="-4">Dénomination</label>
    <div class="autocomplete form-control" *ngIf="edit">
      <ng-autocomplete
        placeholder="Dénomination"
        [data]="denomination"
        [searchKeyword]="keyword"
        (selected)="selectEvent($event)"
        (inputChanged)="onChangeSearch($event)"
        (inputFocused)="onFocused($event)"
        [itemTemplate]="itemTemplate"
        [notFoundTemplate]="notFoundTemplate"
      >
      </ng-autocomplete>
      <ng-template #itemTemplate let-item>
        <a [innerHTML]="item.name"></a>
      </ng-template>
      <ng-template #notFoundTemplate let-notFound>
        <div [innerHTML]="notFound"></div>
      </ng-template>
    </div>
    <div class="value" *ngIf="!edit">Statuette</div>
  </div>
  <div class="divider"></div>
  <div class="form-group col-md-12" style="max-width: 98%">
    <label style="margin-right: -17%" class="col-md-3">Auteurs</label>
    <ng-multiselect-dropdown
      *ngIf="edit"
      class="select"
      [placeholder]="'--- Choisir des auteurs ---'"
      [settings]="dropdownSettings"
      [data]="WorkOfArtService.authors"
      (onSelect)="onDomainSelect($event)"
      (onSelectAll)="onSelectAll($event)"
    >
    </ng-multiselect-dropdown>
    <div class="value" *ngIf="!edit">Auteur 1, Auteur 11</div>
  </div>
  <div class="col-md-8"></div>
  <div class="divider"></div>
  <div class="form-group col-md-6">
    <label class="col-md-3">Hauteur</label>
    <div class="d-flex" *ngIf="edit">
      <input class="col-md-8 form-control" />
      <select class="col-md-4 form-control">
        <option class="active">cm</option>
        <option>m</option>
      </select>
    </div>
    <div class="value" *ngIf="!edit">85cm</div>
  </div>
  <div
    class="form-group col-md-6"
    *ngIf="
      selectedDomain ==
        ('Sculpture' || 'Luminaire' || 'Pièce de musée' || 'Horlogerie' || 'Art textile' || 'Art de la table') && edit
    "
  >
    <label class="col-md-4">Largeur</label>
    <div class="d-flex" *ngIf="edit">
      <input class="col-md-8 form-control" />
      <select class="col-md-4 form-control">
        <option class="active">cm</option>
        <option>m</option>
      </select>
    </div>
    <p class="value" *ngIf="!edit">85cm</p>
  </div>
  <div class="form-group col-md-6" *ngIf="selectedDomain == ('Peinture' || 'Art graphique') || edit">
    <label class="">Largeur Tot</label>
    <div class="d-flex" *ngIf="edit">
      <input class="col-md-8 form-control" />
      <select class="col-md-4 form-control">
        <option class="active">cm</option>
        <option>m</option>
      </select>
    </div>
    <p class="value" *ngIf="!edit">85cm</p>
  </div>
  <div class="form-group col-md-6" *ngIf="selectedDomain == ('Peinture' || 'Art graphique') || edit">
    <label class="">Hauteur Tot</label>
    <div class="d-flex" *ngIf="edit">
      <input class="col-md-8 form-control" />
      <select class="col-md-4 form-control">
        <option class="active">cm</option>
        <option>m</option>
      </select>
    </div>
    <p class="value" *ngIf="!edit">85cm</p>
  </div>
  <div class="form-group col-md-6" *ngIf="selectedDomain === ('Luminaire' || 'Pièce de musé' || 'Horlogerie') || edit">
    <label class="">Longueur</label>
    <div class="d-flex" *ngIf="edit">
      <input class="col-md-8 form-control" />
      <select class="col-md-4 form-control">
        <option class="active">cm</option>
        <option>m</option>
      </select>
    </div>
    <p class="value" *ngIf="!edit">85cm</p>
  </div>
  <div class="form-group col-md-6">
    <label class="">Profondeur</label>
    <div class="d-flex" *ngIf="edit">
      <input class="col-md-8 form-control" />
      <select class="col-md-4 form-control">
        <option class="active">cm</option>
        <option>m</option>
      </select>
    </div>
    <div class="value" *ngIf="!edit">85cm</div>
  </div>
  <div class="form-group col-md-6">
    <label class="col-md-3">Poids</label>
    <div class="d-flex" *ngIf="edit">
      <input class="col-md-8 form-control" />
      <select class="col-md-4 form-control">
        <option class="active">Kg</option>
      </select>
    </div>
    <div class="value" *ngIf="!edit">85cm</div>
  </div>
  <div class="form-group col-md-6" *ngIf="selectedDomain === ('Luminaire' || 'Pièce de musée') || edit">
    <label class="">Diamètre</label>
    <div class="d-flex" *ngIf="edit">
      <input class="col-md-8 form-control" />
      <select class="col-md-4 form-control">
        <option class="active">cm</option>
        <option>m</option>
      </select>
    </div>
    <p class="value" *ngIf="!edit">85cm</p>
  </div>
  <div class="col-md-4"></div>
  <div class="divider"></div>
  <div class="form-group col-md-6">
    <label class="">Epoque</label>
    <div class="form-control autocomplete" *ngIf="edit">
      <ng-autocomplete
        placeholder="Epoque"
        [data]="denomination"
        [searchKeyword]="keyword"
        (selected)="selectEvent($event)"
        (inputChanged)="onChangeSearch($event)"
        (inputFocused)="onFocused($event)"
        [itemTemplate]="itemTemplate"
        [notFoundTemplate]="notFoundTemplate"
      >
      </ng-autocomplete>
      <ng-template #itemTemplate let-item>
        <a [innerHTML]="item.name"></a>
      </ng-template>
      <ng-template #notFoundTemplate let-notFound>
        <div [innerHTML]="notFound"></div>
      </ng-template>
    </div>
    <div class="value" *ngIf="!edit">Années</div>
  </div>
  <div class="form-group col-md-6">
    <label class="">Style</label>
    <div class="autocomplete form-control" *ngIf="edit">
      <ng-autocomplete
        placeholder="Style"
        [data]="denomination"
        [searchKeyword]="keyword"
        (selected)="selectEvent($event)"
        (inputChanged)="onChangeSearch($event)"
        (inputFocused)="onFocused($event)"
        [itemTemplate]="itemTemplate"
        [notFoundTemplate]="notFoundTemplate"
      >
      </ng-autocomplete>
      <ng-template #itemTemplate let-item>
        <a [innerHTML]="item.name"></a>
      </ng-template>
      <ng-template #notFoundTemplate let-notFound>
        <div [innerHTML]="notFound"></div>
      </ng-template>
    </div>
    <div class="value" *ngIf="!edit">85cm</div>
  </div>
  <div class="form-group col-md-6">
    <label class="">Date de création</label>
    <input type="date" class="form-control" *ngIf="edit" />
    <div class="value" *ngIf="!edit">12/01/2020</div>
  </div>
  <div class="form-group col-md-6">
    <label class="">Matières <span class="mandatory">*</span></label>
    <div class="autocomplete form-control" *ngIf="edit">
      <ng-autocomplete
        placeholder="Matières"
        [data]="denomination"
        [searchKeyword]="keyword"
        (selected)="selectEvent($event)"
        (inputChanged)="onChangeSearch($event)"
        (inputFocused)="onFocused($event)"
        [itemTemplate]="itemTemplate"
        [notFoundTemplate]="notFoundTemplate"
      >
      </ng-autocomplete>
      <ng-template #itemTemplate let-item>
        <a [innerHTML]="item.name"></a>
      </ng-template>
      <ng-template #notFoundTemplate let-notFound>
        <div [innerHTML]="notFound"></div>
      </ng-template>
    </div>
    <p class="value" *ngIf="!edit">Metal</p>
  </div>
</div>
<!--</div>-->
