<div class="form-bloc">
  <div class="form-group d-flex col-md-3">
    <label class="col-md-3">Titre</label>
    <input class="form-control col-md-7" *ngIf="edit" />
    <div class="col-md-9" *ngIf="!edit">Titre de la sculpture</div>
  </div>
  <div class="form-group d-flex col-md-3">
    <label class="col-md-3">Domaine</label>
    <div class="autocomplete col-md-9" *ngIf="edit">
      <ng-autocomplete
        placeholder="Domaines"
        [data]="domains"
        [searchKeyword]="keyword"
        (selected)="selectDomain($event)"
        (inputChanged)="onChangeSearch($event)"
        (inputFocused)="onFocused($event)"
        [itemTemplate]="itemTemplate"
        [notFoundTemplate]="notFoundTemplate"
      >
      </ng-autocomplete>
      <ng-template #itemTemplate let-item>
        <a [innerHTML]="item.name"></a>
      </ng-template>
      <ng-template #notFoundTemplate let-notFound>
        <div [innerHTML]="notFound"></div>
      </ng-template>
    </div>
    <div class="col-md-9 value" *ngIf="!edit">Sculpture</div>
  </div>
  <div class="col-md-3"></div>
  <div class="form-group d-flex col-md-3">
    <label class="col-md-4">Dénomination</label>
    <div class="autocomplete col-md-7" *ngIf="edit">
      <ng-autocomplete
        placeholder="Dénomination"
        [data]="denomination"
        [searchKeyword]="keyword"
        (selected)="selectEvent($event)"
        (inputChanged)="onChangeSearch($event)"
        (inputFocused)="onFocused($event)"
        [itemTemplate]="itemTemplate"
        [notFoundTemplate]="notFoundTemplate"
      >
      </ng-autocomplete>
      <ng-template #itemTemplate let-item>
        <a [innerHTML]="item.name"></a>
      </ng-template>
      <ng-template #notFoundTemplate let-notFound>
        <div [innerHTML]="notFound"></div>
      </ng-template>
    </div>
    <div class="col-md-7 value" *ngIf="!edit">Statuette</div>
  </div>
  <div class="form-group d-flex col-md-12">
    <label style="margin-right: -17%" class="col-md-3">Auteurs</label>
    <div class="col-md-9 value" *ngIf="!edit">Auteur 1, Auteur 11</div>
  </div>
  <div class="d-flex col-12 descriptif-bloc">
    <hr class="horizontal-line" />
    <div class="form-group d-flex col-md-3">
      <label class="col-md-3">Hauteur</label>
      <div class="d-flex" *ngIf="edit">
        <input class="col-md-7 form-control" />
        <select class="col-md-4 form-control">
          <option class="active">cm</option>
          <option>m</option>
        </select>
      </div>
      <div class="col-md-9 value" *ngIf="!edit">85cm</div>
    </div>
    <div
      class="form-group d-flex col-md-3"
      *ngIf="
        selectedDomain ==
          ('Sculpture' || 'Luminaire' || 'Pièce de musée' || 'Horlogerie' || 'Art textile' || 'Art de la table') && edit
      "
    >
      <label class="col-md-4">Largeur</label>
      <div class="d-flex" *ngIf="edit">
        <input class="col-md-7 form-control" />
        <select class="col-md-4 form-control">
          <option class="active">cm</option>
          <option>m</option>
        </select>
      </div>
      <p class="col-md-7 value" *ngIf="!edit">85cm</p>
    </div>
    <div
      class="form-group d-flex col-md-3"
      *ngIf="selectedDomain === ('Luminaire' || 'Pièce de musé' || 'Horlogerie') || edit"
    >
      <label class="col-md-4">Longueur</label>
      <div class="d-flex" *ngIf="edit">
        <input class="col-md-7 form-control" />
        <select class="col-md-4 form-control">
          <option class="active">cm</option>
          <option>m</option>
        </select>
      </div>
      <p class="col-md-7 value" *ngIf="!edit">85cm</p>
    </div>
    <div class="form-group d-flex col-md-3">
      <label class="col-md-3">Profondeur</label>
      <div class="d-flex" *ngIf="edit">
        <input class="col-md-7 form-control" />
        <select class="col-md-4 form-control">
          <option class="active">cm</option>
          <option>m</option>
        </select>
      </div>
      <div class="col-md-9 value" *ngIf="!edit">85cm</div>
    </div>
    <div class="form-group d-flex col-md-3">
      <label class="col-md-3">Poids</label>
      <div class="d-flex" *ngIf="edit">
        <input class="col-md-7 form-control" />
        <select class="col-md-4 form-control">
          <option class="active">Kg</option>
        </select>
      </div>
      <div class="col-md-9 value" *ngIf="!edit">85cm</div>
    </div>
    <div class="form-group d-flex col-md-3" *ngIf="selectedDomain === ('Luminaire' || 'Pièce de musée') || edit">
      <label class="col-md-4">Diamètre</label>
      <div class="d-flex" *ngIf="edit">
        <input class="col-md-7 form-control" />
        <select class="col-md-4 form-control">
          <option class="active">cm</option>
          <option>m</option>
        </select>
      </div>
      <p class="col-md-7 value" *ngIf="!edit">85cm</p>
    </div>
    <div class="form-group d-flex col-md-3" *ngIf="selectedDomain == ('Peinture' || 'Art graphique') || edit">
      <label class="col-md-4">Hauteur Tot</label>
      <div class="d-flex" *ngIf="edit">
        <input class="col-md-7 form-control" />
        <select class="col-md-4 form-control">
          <option class="active">cm</option>
          <option>m</option>
        </select>
      </div>
      <p class="col-md-7 value" *ngIf="!edit">85cm</p>
    </div>
    <div class="form-group d-flex col-md-3" *ngIf="selectedDomain == ('Peinture' || 'Art graphique') || edit">
      <label class="col-md-4">Largeur Tot</label>
      <div class="d-flex" *ngIf="edit">
        <input class="col-md-7 form-control" />
        <select class="col-md-4 form-control">
          <option class="active">cm</option>
          <option>m</option>
        </select>
      </div>
      <p class="col-md-7 value" *ngIf="!edit">85cm</p>
    </div>
    <hr class="horizontal-line" />
    <div class="form-group d-flex col-md-3">
      <label class="col-md-3">Epoque</label>
      <div class="autocomplete col-md-7" *ngIf="edit">
        <ng-autocomplete
          placeholder="Epoque"
          [data]="denomination"
          [searchKeyword]="keyword"
          (selected)="selectEvent($event)"
          (inputChanged)="onChangeSearch($event)"
          (inputFocused)="onFocused($event)"
          [itemTemplate]="itemTemplate"
          [notFoundTemplate]="notFoundTemplate"
        >
        </ng-autocomplete>
        <ng-template #itemTemplate let-item>
          <a [innerHTML]="item.name"></a>
        </ng-template>
        <ng-template #notFoundTemplate let-notFound>
          <div [innerHTML]="notFound"></div>
        </ng-template>
      </div>
      <div class="col-md-7 value" *ngIf="!edit">Années</div>
    </div>
    <div class="form-group d-flex col-md-3">
      <label class="col-md-3">Matières <span class="mandatory">*</span></label>
      <div class="autocomplete col-md-7" *ngIf="edit">
        <ng-autocomplete
          placeholder="Matières"
          [data]="denomination"
          [searchKeyword]="keyword"
          (selected)="selectEvent($event)"
          (inputChanged)="onChangeSearch($event)"
          (inputFocused)="onFocused($event)"
          [itemTemplate]="itemTemplate"
          [notFoundTemplate]="notFoundTemplate"
        >
        </ng-autocomplete>
        <ng-template #itemTemplate let-item>
          <a [innerHTML]="item.name"></a>
        </ng-template>
        <ng-template #notFoundTemplate let-notFound>
          <div [innerHTML]="notFound"></div>
        </ng-template>
      </div>
      <p class="col-md-7 value" *ngIf="!edit">Metal</p>
    </div>
    <div class="form-group d-flex col-md-3">
      <label class="col-md-4">Style</label>
      <div class="autocomplete col-md-7" *ngIf="edit">
        <ng-autocomplete
          placeholder="Style"
          [data]="denomination"
          [searchKeyword]="keyword"
          (selected)="selectEvent($event)"
          (inputChanged)="onChangeSearch($event)"
          (inputFocused)="onFocused($event)"
          [itemTemplate]="itemTemplate"
          [notFoundTemplate]="notFoundTemplate"
        >
        </ng-autocomplete>
        <ng-template #itemTemplate let-item>
          <a [innerHTML]="item.name"></a>
        </ng-template>
        <ng-template #notFoundTemplate let-notFound>
          <div [innerHTML]="notFound"></div>
        </ng-template>
      </div>
      <div class="col-md-7 value" *ngIf="!edit">85cm</div>
    </div>

    <!--    <div class="form-group d-flex col-md-3">-->
    <!--      <label class="col-md-4">Nombre unité</label>-->
    <!--      <input type="number" class="form-control col-md-7" *ngIf="edit" />-->
    <!--      <p class="col-md-7 value" *ngIf="!edit">2</p>-->
    <!--    </div>-->
    <div class="form-group d-flex col-md-3">
      <label class="col-md-3">Date de création</label>
      <input type="date" class="form-control col-md-7" *ngIf="edit" />
      <div class="col-md-7 value" *ngIf="!edit">12/01/2020</div>
    </div>
    <hr class="horizontal-line" />
    <!--      <div class="form-group d-flex col-md-3">-->
    <!--        <label class="col-md-4">Marquage</label>-->
    <!--        <input type="text" class="form-control col-md-7" />-->
    <!--      </div>-->
    <!--      <div class="form-group d-flex col-md-3">-->
    <!--        <label class="col-md-4">Signature</label>-->
    <!--        <input type="text" class="form-control col-md-7" />-->
    <!--      </div>-->
    <!--      <div class="form-group d-flex col-md-12">-->
    <!--        <label class="col-md-4">Mots descriptifs</label>-->
    <!--        <tag-input [addOnBlur]="true" class="col-md-7" [clearOnBlur]="true">-->
    <!--          <tag-input-dropdown [autocompleteItems]="autocompleteItems"> </tag-input-dropdown>-->
    <!--        </tag-input>-->
    <!--      </div>-->
    <!--      <div class="form-group d-flex col-md-12">-->
    <!--        <label class="col-md-4">Description commentaire</label>-->
    <!--        <textarea id="story" name="story" class="form-control col-md-7" rows="5" cols="33"> </textarea>-->
    <!--      </div>-->
  </div>
</div>
<!--</div>-->
<div class="col-md-12 header-section dock-menu">
  <div class="container">
    <ul class="navbar-nav ml-4">
      <!--                <li class="nav-item active first-icon">-->
      <!--                  <a (click)="page1()" class="nav-link text-uppercase font-weight-bold">-->
      <!--                    <i class="zmdi zmdi-assignment-o zmdi-hc-3x"></i>-->
      <!--                  </a>-->
      <!--                  <p>Détails</p>-->
      <!--                </li>-->
      <li class="nav-item second-icon">
        <a class="nav-link text-uppercase font-weight-bold">
          <i class="zmdi zmdi-camera zmdi-hc-3x"></i>
        </a>
        <p style="margin-left: -12px">Photographies</p>
      </li>
      <li class="nav-item second-icon">
        <a class="nav-link text-uppercase font-weight-bold">
          <i class="fas fa-paperclip"></i>
        </a>
        <p style="margin-left: -13px">Pièces jointes</p>
      </li>
      <li class="nav-item second-icon">
        <a class="nav-link text-uppercase font-weight-bold">
          <i class="fas fa-link"></i>
        </a>
        <p style="margin-left: -22px">Liens avec oeuvres</p>
      </li>
      <li class="nav-item firth-icon">
        <a class="nav-link text-uppercase font-weight-bold">
          <i class="zmdi zmdi-pin zmdi-hc-3x"></i>
        </a>
        <p style="margin-left: -10px">Localisations</p>
      </li>
      <li class="nav-item fifth-icon">
        <a class="nav-link text-uppercase font-weight-bold">
          <i class="fas fa-search zmdi-hc-3x"></i>
        </a>
        <p style="margin-left: 0px">Constats</p>
      </li>
      <li class="nav-item fifth-icon">
        <a class="nav-link text-uppercase font-weight-bold">
          <i class="zmdi zmdi-play zmdi-hc-3x"></i>
        </a>
        <p style="margin-left: 1px">Actions</p>
      </li>
      <li class="nav-item second-icon">
        <a class="nav-link text-uppercase font-weight-bold">
          <i class="fas fa-link"></i>
        </a>
        <p style="margin-left: -22px">Liens hypertextes</p>
      </li>

      <!--                <li class="nav-item second-icon">-->
      <!--                  <a (click)="page2()" class="nav-link text-uppercase font-weight-bold">-->
      <!--                    <i class="fas fa-bezier-curve"></i>-->
      <!--                  </a>-->
      <!--                  <p style="margin-left: -20px">Oeuvres en relation</p>-->
      <!--                </li>-->
    </ul>
  </div>
</div>
