hr {
  margin-top: 1rem;
  margin-bottom: 1rem;
  border: 0;
  border-top: 1px solid rgba(0, 0, 0, 0.1);
}

.divider {
  border-bottom: 0.1em solid #babfc7;
  width: 90%;
  margin-left: 40px;
}

::ng-deep ng-multiselect-dropdown {
  width: 65%;
}
::ng-deep .multiselect-dropdown .dropdown-btn {
  border-color: transparent;
  color: black;
  background-color: white;
}
