.black-bar {
  background-color: #1b1b1b;
  width: 10px;
  margin-right: 10px;
}

.pdf-table {
  width: 300px;
  border: 1px solid black;
}

.pdf-text-info {
  width: 90px;
}

.empty-line {
  height: 30px;
  color: #ffffff;
}

.sideway-text {
  color: #ffffff;
  text-orientation: mixed;
  writing-mode: vertical-rl;
}
