<div class="container-fluid">
  <div class="d-flex row mr-t-5">
    <div [ngClass]="isCollapsed ? 'col-lg-12 col-xs-12 main' : 'ml-xs-0 col-lg-10 col-xs-12 main'">
      <div class="search-header">
        <div class="title-bloc col-md-12">
          <div class="left-title-bloc">
            <h1 class="title">Catalogue des biens culturels</h1>
            <p>254 Biens culturels</p>
          </div>
          <div class="sort-bloc">
            <strong class="d-inline p-2">Trié par:</strong>
            <select class="form-select d-inline p-2" aria-label="Default select example">
              <option selected>Ordre Alphabétique</option>
              <option value="1">Récemment modifiées</option>
              <option value="2">Plus récentes</option>
            </select>
            <div class="panier d-inline p-2">
              <i class="fa fa-shopping-basket icon" (click)="open(content)">
                <span class="nbr-panier">{{ selectedOeuvre.length }}</span>
              </i>
            </div>
            <ng-template #content let-modal>
              <div class="modal-header col-12 text-sm-center col-sm-12">
                <h4 style="margin-left: 30%" class="text-center" id="s">
                  {{ selectedOeuvre.length > 0 ? selectedOeuvre.length : 'Aucun' }} bien{{
                    selectedOeuvre.length > 1 ? 's' : ''
                  }}
                  culturel{{ selectedOeuvre.length > 1 ? 's' : '' }} demandé{{ selectedOeuvre.length > 1 ? 's' : '' }}
                </h4>
                <button type="button" class="close" aria-label="Close" (click)="modal.dismiss('Cross click')">
                  <span aria-hidden="true">&times;</span>
                </button>
              </div>
              <div class="modal-body">
                <div class="shop-container container-fluid">
                  <div class="row" *ngIf="selectedOeuvre.length > 0">
                    <div class="col-md-12">
                      <i
                        class="float-right fas fa-file-download d-inline p-2"
                        placement="top"
                        ngbTooltip="Exporter"
                      ></i>
                    </div>
                  </div>
                  <div class="col-md-12" *ngIf="selectedOeuvre.length === 0; else existSelectedOeuvre">
                    <div class="alert alert-warning" role="alert" style="margin-top: 25px">
                      Vous n'avez aucun bien culturel demandé.
                    </div>
                  </div>
                  <ng-template #existSelectedOeuvre>
                    <div class="row">
                      <aside class="col-lg-7">
                        <div class="card" style="height: 444.78px">
                          <div class="table-responsive">
                            <table class="table table-borderless table-shopping-cart">
                              <thead class="text-muted">
                                <tr class="small text-uppercase">
                                  <th scope="col"></th>
                                  <!--<th scope="col" width="120">Price</th>-->
                                  <th scope="col" class="text-right d-none d-md-block" width="100"></th>
                                </tr>
                              </thead>
                              <tbody>
                                <tr *ngFor="let oeuvre of selectedOeuvre; let index = index">
                                  <td>
                                    <figure class="itemside align-items-center">
                                      <div class="aside"><img [src]="oeuvre.image" class="img-sm" /></div>
                                      <figcaption class="info">
                                        <a class="title text-dark" data-abc="true">{{ oeuvre.titre }}</a>
                                        <!--<p class="text-muted small">SIZE: L <br> Brand: MAXTRA</p>-->
                                      </figcaption>
                                    </figure>
                                  </td>
                                  <!--<td>
                                  <div class="price-wrap"> <var class="price">$10.00</var> <small class="text-muted"> $9.20 each </small> </div>
                                </td>-->
                                  <td class="text-center d-none d-md-block">
                                    <button
                                      (click)="removeFromBasket($event, oeuvre)"
                                      placement="top"
                                      ngbTooltip="Retirer du panier"
                                      type="button"
                                      class="btn btn-outline-danger btn-xs"
                                    >
                                      <i class="fa fa-trash" aria-hidden="true"></i>
                                    </button>
                                  </td>
                                </tr>
                              </tbody>
                            </table>
                          </div>
                        </div>
                      </aside>
                      <aside class="col-lg-5">
                        <div class="card mb-3">
                          <div class="card-body">
                            <form>
                              <div class="form-group">
                                <div class="input-group">
                                  <input type="text" class="form-control" name="" placeholder="Nom" />
                                </div>
                              </div>
                              <div class="form-group">
                                <div class="input-group">
                                  <input type="text" class="form-control" name="" placeholder="Prénom" />
                                </div>
                              </div>
                              <div class="form-group">
                                <!--<input type="text" class="form-control" name="" placeholder="Direction" />-->
                                <select class="form-control">
                                  <option value="">Choisissez une direction</option>
                                </select>
                              </div>
                              <div class="form-group">
                                <div class="input-group">
                                  <select class="form-control">
                                    <option value="">Choisissez une Sous-direction</option>
                                  </select>
                                </div>
                              </div>
                              <div class="form-group">
                                <div class="input-group">
                                  <input type="text" class="form-control" name="" placeholder="Fonction" />
                                </div>
                              </div>
                              <div class="form-group">
                                <div class="input-group">
                                  <select class="form-control">
                                    <option value="">Choisissez un Batiment</option>
                                  </select>
                                </div>
                              </div>
                              <div class="form-group">
                                <div class="input-group">
                                  <input type="text" class="form-control" name="" placeholder="Téléphone" />
                                </div>
                              </div>
                              <div class="form-group">
                                <div class="input-group">
                                  <input type="text" class="form-control" name="" placeholder="Mail" />
                                </div>
                              </div>
                              <div class="form-group">
                                <div class="input-group">
                                  <input
                                    type="text"
                                    class="form-control"
                                    name=""
                                    onfocus="(this.type='date')"
                                    placeholder="Date de livraision souhaité"
                                  />
                                </div>
                              </div>
                              <div class="form-group">
                                <div class="input-group">
                                  <textarea placeholder="Commentaire"></textarea>
                                </div>
                              </div>
                            </form>
                          </div>
                        </div>
                      </aside>
                    </div>
                  </ng-template>
                </div>
                <form>
                  <div class="form-group"></div>
                </form>
              </div>
              <div class="modal-footer">
                <button
                  class="btn btn-out btn-primary btn-square btn-main"
                  data-abc="true"
                  (click)="modal.dismiss('Cross click')"
                >
                  Valider
                </button>
              </div>
            </ng-template>
            <i class="fas fa-file-download d-inline p-2"></i>
          </div>
        </div>
        <div class="col-md-12">
          <div class="mt-2 wrap">
            <div class="form-group search">
              <input type="text" class="form-control w-100" placeholder="Rechercher …" />
              <button type="submit" class="searchButton">
                <i class="fa fa-search"></i>
              </button>
            </div>
          </div>
          <div class="form-group mt-3 d-flex">
            <div class="filter-bloc dropdown-container search-container mb-2 mr-2 mb-sm-0">
              <div
                ngbDropdown
                placement="bottom-left"
                autoClose="outside"
                container="dropdown-container"
                (openChange)="onToggel($event, 'form1')"
                class="d-inline-block drop-bloc d-inline p-2"
                #domainesDropdown="ngbDropdown"
              >
                <ng-template #TemplateForm1>
                  <p *ngFor="let value of formDomainsValues; let index = index">
                    <span>{{ value }}</span>
                  </p>
                </ng-template>
                <button
                  class="btn dropdown-btn list quick-filter-btn"
                  id="dropDownSearch1"
                  ngbDropdownToggle
                  (click)="resetFilter()"
                >
                  <span>
                    <i class="fab fa-creative-commons-nd" style="color: #1f2b50"></i>
                    Domaines
                    <i class="fa fa-sort-down" *ngIf="!firstSearchDrop && formDomainsValues.length > 0"></i>
                  </span>
                  <div
                    [ngbTooltip]="formDomainsValues.length > 0 ? TemplateForm1 : ''"
                    placement="right"
                    *ngIf="!firstSearchDrop && formDomainsValues.length > 0"
                  >
                    <div class="mt-3">
                      <p *ngFor="let value of formDomainsValues; let index = index">
                        <span *ngIf="index < 4">{{ value }}</span>
                      </p>
                      <p *ngIf="showForm1End">...</p>
                    </div>
                  </div>
                </button>
                <div class="py-0 ng-dropdown" ngbDropdownMenu aria-labelledby="dropDownSearch1" style="width: 400px">
                  <div class="columns-dropdown" style="width: 100% !important">
                    <form [formGroup]="form1">
                      <div class="col-12 pt-1">
                        <div class="form-group col-10">
                          <div class="col-md-12">
                            <ngx-treeview
                              [config]="config"
                              [items]="domains"
                              (selectedChange)="formDomainsValues = $event"
                              (filterChange)="onFilterChange($event)"
                            >
                            </ngx-treeview>
                          </div>
                        </div>
                      </div>
                    </form>
                  </div>
                </div>
              </div>
              <div class="dropdown d-inline p-2tr" ngbDropdown #myDrop="ngbDropdown">
                <button
                  data-toggle="dropdown"
                  aria-haspopup="true"
                  aria-expanded="false"
                  class="btn dropdown-btn list quick-filter-btn"
                  id="dropdownMenuHauteur"
                  ngbDropdownToggle
                  (click)="resetFilter()"
                >
                  <span>
                    <i class="fas fa-text-height" style="color: #1f2b50"></i>
                    Hauteur
                  </span>
                  <div placement="right">
                    <div class="mt-3" *ngIf="highValue">
                      <p>
                        <span>Min: {{ value }} cm - Max:{{ highValue }} cm </span>
                      </p>
                      <p *ngIf="showForm1End">...</p>
                    </div>
                  </div>
                </button>
                <div
                  class="dropdown-menu"
                  aria-labelledby="dropdownMenuHauteur"
                  style="width: 400px !important"
                  #matSelect
                >
                  <div class="columns-dropdown">
                    <form [formGroup]="form1">
                      <div class="pt-1 col-12">
                        <div class="form-group col-11">
                          <div class="filters mt-2 filter-bloc">
                            <h5>Hauteur [cm]</h5>
                            <div class="row">
                              <div class="col-10">
                                <ngx-slider
                                  [(value)]="value"
                                  [(highValue)]="highValue"
                                  [options]="optionsCm"
                                ></ngx-slider>
                              </div>
                              <div class="col-1">
                                <i
                                  class="fa fa-times cancel-icon"
                                  (click)="resetHeight('dropdownMenuHauteur')"
                                  title="Annuler"
                                ></i>
                              </div>
                            </div>
                          </div>
                        </div>
                      </div>
                    </form>
                  </div>
                </div>
              </div>
              <div class="dropdown d-inline p-2" ngbDropdown>
                <button
                  data-toggle="dropdown"
                  aria-haspopup="true"
                  aria-expanded="false"
                  class="btn dropdown-btn list quick-filter-btn"
                  id="dropdownMenuLargeur"
                  ngbDropdownToggle
                  (click)="resetFilter()"
                >
                  <span>
                    <i class="fas fa-text-width" style="color: #1f2b50"></i>
                    Largeur
                  </span>
                  <div placement="right">
                    <div class="mt-3" *ngIf="highValue1">
                      <p>
                        <span>Min: {{ value1 }} cm - Max:{{ highValue1 }} cm </span>
                      </p>
                    </div>
                  </div>
                </button>
                <div
                  class="dropdown-menu"
                  aria-labelledby="dropdownMenuLargeur"
                  style="width: 400px !important"
                  #matSelect
                >
                  <div class="columns-dropdown">
                    <form [formGroup]="form1">
                      <div class="pt-1 col-12">
                        <div class="form-group col-11">
                          <div class="filters mt-2 filter-bloc">
                            <h5>Largeur [cm]</h5>
                            <div class="row">
                              <div class="col-md-10">
                                <ngx-slider
                                  [(value)]="value1"
                                  [(highValue)]="highValue1"
                                  [options]="optionsCm"
                                ></ngx-slider>
                              </div>
                              <div class="col-1">
                                <i
                                  class="fa fa-times cancel-icon"
                                  (click)="resetWidth('dropdownMenuLargeur')"
                                  title="Annuler"
                                ></i>
                              </div>
                            </div>
                          </div>
                        </div>
                      </div>
                    </form>
                  </div>
                </div>
              </div>
              <div class="dropdown d-inline p-2" ngbDropdown>
                <button
                  data-toggle="dropdown"
                  aria-haspopup="true"
                  aria-expanded="false"
                  class="btn dropdown-btn list quick-filter-btn"
                  id="dropdownMenuPoids"
                  ngbDropdownToggle
                  (click)="resetFilter()"
                >
                  <span>
                    <i class="fas fa-weight" style="color: #1f2b50"></i>
                    Poids
                  </span>
                  <div>
                    <div class="mt-3" *ngIf="highValue3">
                      <p>
                        <span>Min: {{ value3 }} kg - Max:{{ highValue3 }} kg </span>
                      </p>
                      <p *ngIf="showForm1End">...</p>
                    </div>
                  </div>
                </button>
                <div class="dropdown-menu" aria-labelledby="dropdownMenuPoids" style="width: 400px !important">
                  <div class="columns-dropdown">
                    <form [formGroup]="form1">
                      <div class="pt-1 col-12">
                        <div class="form-group col-11">
                          <div class="filters mt-2 filter-bloc">
                            <h5>Poids [Kg]</h5>
                            <div class="row">
                              <div class="col-10">
                                <ngx-slider
                                  [(value)]="value3"
                                  [(highValue)]="highValue3"
                                  [options]="optionsKg"
                                ></ngx-slider>
                              </div>
                              <div class="col-1">
                                <i
                                  class="fa fa-times cancel-icon"
                                  (click)="resetWeight('dropdownMenuPoids')"
                                  title="Annuler"
                                ></i>
                              </div>
                            </div>
                          </div>
                        </div>
                      </div>
                    </form>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="picture-bloc-images" *ngFor="let section of oeuvreToShow; let index = index" style="margin-top: 2%">
        <div class="col-12 section-name">
          <strong>{{ section.name }}</strong>
        </div>
        <div class="col-md-12" style="margin-top: 1%">
          <div class="card-columns">
            <div
              class="card shadow p-3 items-bloc item"
              style="margin-bottom: 0"
              *ngFor="let items of section.items"
              (click)="details(items.visible, items.image)"
            >
              <div class="card-block flip">
                <img class="card-img-top img-fluid" [src]="items.image" alt="Card image cap" />
                <strong>{{ items.titre }}</strong>
                <ul>
                  <li>{{ items.auteur }}</li>
                  <li>
                    <i class="fa fa-eye icon" aria-hidden="true" placement="top" ngbTooltip="Voir plus de détails"></i>
                  </li>
                  <li *ngIf="!items.isDemanded; else removeOuvre" class="shopping">
                    <i
                      data-toggle="tooltip"
                      data-placement="top"
                      placement="top"
                      ngbTooltip="Ajouter au panier"
                      class="fa fa-shopping-basket icon"
                      aria-hidden="true"
                      (click)="addToBasket($event, items)"
                    ></i>
                  </li>
                  <ng-template #removeOuvre>
                    <li class="shopping">
                      <i
                        placement="top"
                        ngbTooltip="Retirer du panier"
                        class="far fa-trash-alt icon-delete"
                        aria-hidden="true"
                        (click)="removeFromBasket($event, items)"
                      ></i>
                    </li>
                  </ng-template>
                </ul>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
