<div class="container-fluid">
  <div class="title-bloc">
    <div class="left-title-bloc">
      <h1 class="title">OEUVRES D'ARTS</h1>
      <p>254 Oeuvres d'art</p>
    </div>
    <div class="sort-bloc">
      <strong>Trié par:</strong>
      <select class="form-select" aria-label="Default select example">
        <option selected>Ordre Alphabétique</option>
        <option value="1">Récemment modifiées</option>
        <option value="2">Plus récentes</option>
      </select>
      <i class="fas fa-file-download"></i>
    </div>
  </div>

  <div class="d-flex">
    <div class="filter-bloc mr-3 col-md-2">
      <div class="search-panel mt-2">
        <input
          class="form-control"
          type="text"
          name="search"
          autocomplete="off"
          (keyup)="search($event)"
          placeholder="Recherche"
        />
      </div>
      <div class="hl mt-2"></div>
      <div class="filters mt-2">
        <h5>Domaines</h5>
        <div class="filter-list">
          <ngx-treeview
            [config]="config"
            [items]="domains"
            (selectedChange)="values = $event"
            (filterChange)="onFilterChange($event)"
          >
          </ngx-treeview>
        </div>
      </div>
      <div class="hl mt-2"></div>

      <div class="filters mt-2">
        <h5>Dimensions</h5>
        <div class="mb-2">
          <ng-autocomplete
            placeholder="Dimensions"
            [data]="domains"
            [searchKeyword]="keyword"
            (selected)="selectEvent($event)"
            (inputChanged)="onChangeSearch($event)"
            (inputFocused)="onFocused($event)"
            [itemTemplate]="itemTemplate"
            [notFoundTemplate]="notFoundTemplate"
          >
          </ng-autocomplete>
          <ng-template #itemTemplate let-item>
            <a [innerHTML]="item.name"></a>
          </ng-template>
          <ng-template #notFoundTemplate let-notFound>
            <div [innerHTML]="notFound"></div>
          </ng-template>
        </div>
        <div class="filter-list">
          <input class="ml-1 mr-2" type="checkbox" id="test" name="scales" />
          <label for="scales">77 × 53 cm</label>
        </div>
        <div class="filter-list">
          <input class="ml-1 mr-2" type="checkbox" id="test" name="scales" />
          <label for="scales">199 × 122 cm</label>
        </div>
        <div class="filter-list">
          <input class="ml-1 mr-2" type="checkbox" id="test" name="scales" />
          <label for="scales">62 × 44 cm</label>
        </div>
        <div class="filter-list">
          <input class="ml-1 mr-2" type="checkbox" id="test" name="scales" />
          <label for="scales">260 × 325 cm</label>
        </div>
      </div>
    </div>
    <div class="picture-bloc-images">
      <div class="cadre col-md-12">
        <div class="col-xl-3 col-lg-3 col-md-6 col-sm-6 items-bloc" *ngFor="let items of oeuvreToShow">
          <div class="flip">
            <div
              class="front"
              [ngStyle]="{
                'background-image': 'url(' + items.image + ')',
                'background-position': 'center center',
                'background-size': '100% 100%'
              }"
            ></div>
            <div class="back">
              <h2 class="titre">{{ items.titre }}</h2>
              <p class="description">{{ items.description }}</p>
              <button class="details" (click)="details()">Voir plus de détails</button>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
