<div class="modal-content bd-example-modal-lg">
  <div class="modal-title">Ajouter une notice en propriété</div>
  <div class="modal-body">
    <div class="d-flex bloc">
      <div class="title-bloc">
        <h5>Descritif</h5>
      </div>
      <div class="form-bloc">
        <div class="form-group d-flex">
          <label class="col-md-4">Titre</label>
          <input class="form-control col-md-7" />
        </div>
        <div class="form-group d-flex">
          <label class="col-md-4">Domaine</label>
          <div class="autocomplete col-md-7">
            <ng-autocomplete
              placeholder="Domaines"
              [data]="domains"
              [searchKeyword]="keyword"
              (selected)="selectEvent($event)"
              (inputChanged)="onChangeSearch($event)"
              (inputFocused)="onFocused($event)"
              [itemTemplate]="itemTemplate"
              [notFoundTemplate]="notFoundTemplate"
            >
            </ng-autocomplete>
            <ng-template #itemTemplate let-item>
              <a [innerHTML]="item.name"></a>
            </ng-template>
            <ng-template #notFoundTemplate let-notFound>
              <div [innerHTML]="notFound"></div>
            </ng-template>
          </div>
        </div>
        <div class="form-group d-flex">
          <label class="col-md-4">Dénomination</label>
          <input class="form-control col-md-7" />
        </div>
        <div class="form-group d-flex">
          <label class="col-md-4">Matière</label>
          <input class="form-control col-md-7" />
        </div>
      </div>
    </div>
    <div class="d-flex bloc mt-2">
      <div class="title-bloc">
        <h5>Auteurs</h5>
      </div>
      <div class="form-bloc">
        <div class="form-group d-flex">
          <label class="col-md-4">Nom</label>
          <input class="form-control col-md-7" />
        </div>
        <div class="form-group d-flex">
          <label class="col-md-4">Prénom</label>
          <input class="form-control col-md-7" />
        </div>
        <div class="form-group d-flex">
          <label class="col-md-4">Courriel</label>
          <input class="form-control col-md-7" />
        </div>
        <div class="form-group d-flex">
          <label class="col-md-4">Adresse</label>
          <input class="form-control col-md-7" />
        </div>
        <div class="form-group d-flex">
          <label class="col-md-4">Tél</label>
          <input class="form-control col-md-7" />
        </div>
        <div class="form-group d-flex">
          <label class="col-md-4">Site web</label>
          <input class="form-control col-md-7" />
        </div>
        <div class="form-group d-flex">
          <label class="col-md-4">Type d'auteurs</label>
          <select class="form-control col-md-7">
            <option>Artiste</option>
          </select>
        </div>
        <div class="form-group d-flex col-md-12">
          <input type="checkbox" />
          <label class="checkbox-label">Relations avec autres auteurs</label>
        </div>
      </div>
    </div>
    <div class="d-flex bloc mt-2">
      <div class="title-bloc">
        <h5>Localisation Administrative</h5>
      </div>
      <div class="form-bloc">
        <div class="form-group d-flex">
          <label class="col-md-4">Ministère</label>
          <input class="form-control col-md-7" />
        </div>
        <div class="form-group d-flex">
          <label class="col-md-4">Etab/Dir.</label>
          <input class="form-control col-md-7" />
        </div>
        <div class="form-group d-flex">
          <label class="col-md-4">Service</label>
          <input class="form-control col-md-7" />
        </div>
        <div class="form-group d-flex">
          <label class="col-md-4">Adresse</label>
          <input class="form-control col-md-7" />
        </div>
        <h6 class="col-md-12 correspondants">Correspondants administratifs</h6>
        <div class="form-group d-flex col-md-9">
          <label>Nom & prénom</label>
          <div class="autocomplete col-md-6">
            <ng-autocomplete
              placeholder="Domaines"
              [data]="domains"
              [searchKeyword]="keyword"
              (selected)="selectEvent($event)"
              (inputChanged)="onChangeSearch($event)"
              (inputFocused)="onFocused($event)"
              [itemTemplate]="itemTemplate"
              [notFoundTemplate]="notFoundTemplate"
            >
            </ng-autocomplete>
            <ng-template #itemTemplate let-item>
              <a [innerHTML]="item.name"></a>
            </ng-template>
            <ng-template #notFoundTemplate let-notFound>
              <div [innerHTML]="notFound"></div>
            </ng-template>
          </div>
        </div>
        <i class="fas fa-trash-alt delete"></i>
        <i class="add ml-3 mt-1 fas fa-plus"></i>
      </div>
    </div>
  </div>
</div>
