<div class="breadcrumb">
  <a href="accueil">Accueil</a>
  <a href="accueil" class="selected-item">
    <i class="fas fa-chevron-right"></i>
    List des Notices
  </a>
</div>
<div class="container-fluid">
  <div class="body d-flex">
    <div class="col-md-12">
      <div class="mt-3">
        <div class="sidebar">
          <div class="card">
            <div class="card-body">
              <ul class="d-flex">
                <li class="col-md-12 selected-table">
                  <i class="fas fa-spinner"></i><a> Notices en cours de création</a>
                </li>
              </ul>
            </div>
          </div>
        </div>
        <div class="mt-2 datagrid-bloc">
          <div class="d-flex search-add-sectlion">
            <div class="search-add-section-div">
              <div class="search input-group">
                <input
                  class="form-control py-2 border-right-0 border search-form-control"
                  type="search"
                  value="Rechercher"
                  id="example-search-input"
                />
                <span class="input-group-append">
                  <button class="btn btn-outline-secondary border-left-0 border" type="button">
                    <i class="fa fa-search"></i>
                  </button>
                </span>
              </div>
            </div>
          </div>
          <div class="datatable mt-4">
            <div *ngIf="selectedItem">
              <div class="mass-action-container">
                <i class="fas fa-share"></i>
                <button class="btn add-action" translate>
                  <i class="fas fa-edit"></i>
                  Modifier
                </button>
                <button class="btn add-action" translate>
                  <i class="fas fa-trash-alt"></i>
                  Supprimer
                </button>
              </div>
            </div>
            <app-ng-data-table
              [columns]="columns"
              [data]="remarquers"
              [frozenCols]="[]"
              [frozenWidth]="'0px'"
              [singleSelect]="true"
              (singleSelectionEvent)="onRowsSelection($event)"
              [checkBoxSelection]="false"
            >
            </app-ng-data-table>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
