<!--Drag Button-->
<ng-template #buttonDom>
  <button
    *ngIf="draggable"
    class="button-section ml-auto bg-arrows d-flex justify-content-center align-items-center position-relative"
  >
    <ng-content select="[buttonDOM]"></ng-content>
  </button>
</ng-template>

<div
  id="section-header"
  [ngClass]="{
    'section-header': show,
    'section-header-collapsed': !show,
    'mode-edit': modeEdit,
    'mode-disabled': disabled
  }"
  class="color_1"
  [style.backgroundColor]="backgroundColor"
>
  <div #target [ngClass]="{ 'accordion-top-marker': true, 'accordion-top-marker-edit': modeEdit }"></div>
  <div *ngIf="showIcon" class="icon-section ml-auto d-flex justify-content-center align-items-center">
    <i [ngClass]="icon" style="font-size: 35px"></i>
  </div>

  <ng-container>
    <div class="ml-auto d-flex justify-content-start align-items-center section-title">
      <h3>{{ headerTitle }}</h3>
    </div>

    <button
      [ngClass]="show ? 'bg-fleche-top' : 'bg-fleche-down'"
      *ngIf="collapse && show"
      class="color_1 d-inline button-section btn-collapse"
      (click)="toggle($event, target)"
      type="button"
      data-toggle="collapse"
      [attr.data-target]="'#' + sectionId"
      #toggleBtn
    >
      <i class="fas fa-chevron-up"></i>
    </button>
    <button
      [ngClass]="show ? 'bg-fleche-top' : 'bg-fleche-down'"
      *ngIf="collapse && !show"
      class="color_1 d-inline button-section btn-collapse"
      (click)="toggle($event, target)"
      type="button"
      data-toggle="collapse"
      [attr.data-target]="'#' + sectionId"
      #toggleBtn
    >
      <i class="fas fa-chevron-down"></i>
    </button>

    <ng-container *ngIf="modeEdit">
      <!--Drag Button Handler-->
      <ng-container *ngTemplateOutlet="buttonDom"></ng-container>

      <!--      <button *ngIf="notes>=0 && hasNote"-->
      <!--              [attr.data-target]="'#' + sectionId"-->
      <!--              class="button-section ml-auto bg-notes d-flex justify-content-center align-items-center"-->
      <!--      ><span>{{notes}}</span>-->
      <!--      </button>-->
      <!--      <button *ngIf="editable && showCrayon && !alterableSection && !scenarioMode"-->
      <!--              class="button-section ml-auto bg-edit justify-content-center align-items-center"-->
      <!--      >-->
      <!--      </button>-->
      <!--      <button *ngIf="editable && alterableSection && !scenarioMode"-->
      <!--              class="button-section ml-auto bg-edit justify-content-center align-items-center"-->
      <!--      >-->
      <!--      </button>-->
      <!--      <button *ngIf="editable && !alterableSection && scenarioMode"-->
      <!--              class="button-section ml-auto bg-edit justify-content-center align-items-center"-->
      <!--      >-->
      <!--      </button>-->
      <!--      <button *ngIf="editable && !alterableSection && scenarioMode && removable"-->

      <!--              class="button-section ml-auto bg-trash justify-content-center align-items-center"-->
      <!--      >-->
      <!--      </button>-->
      <!--      <button *ngIf="!alterableSection && personaeMode && removable"-->
      <!--              class="button-section ml-auto bg-trash justify-content-center align-items-center"-->
      <!--      >-->
      <!--      </button>-->
    </ng-container>
  </ng-container>
</div>
<div [id]="sectionId" class="collapse acc-content show">
  <ng-content></ng-content>
</div>
