<div class="container p-0">
  <div class="d-flex justify-content-between">
    <h5>Pièces jointes</h5>
  </div>
  <div class="d-flex flex-column justify-content-between">
    <ngb-carousel
      *ngIf="attachments && !add"
      class="carousel mb-2 carousel-attachments"
      [showNavigationIndicators]="false"
    >
      <ng-template ngbSlide id="slide1" style="">
        <div class="d-flex justify-content-md-between">
          <div class="col-xs-3 col-md-3 col-lg-3 col-sm-6 p-0" *ngFor="let file of attachments; index as i">
            <div class="card">
              <div class="d-flex justify-content-center card-header">
                <h4 class="card-header mr-2">{{ file.title }}</h4>
                <i class="fas fa-file-download"></i>
              </div>

              <div class="card-body">
                <p class="card-text">{{ file.date }}</p>
                <!--                <p class="card-text">{{ file.type }}</p>-->
                <p class="card-text">{{ file.creator }}</p>
              </div>
            </div>
          </div>
        </div>
      </ng-template>
      <ng-template ngbSlide id="slide2" style="">
        <div class="d-flex justify-content-md-between" style="">
          <div class="col-xs-3 col-md-3 col-lg-3 col-sm-6 p-0" *ngFor="let file of attachments; index as i">
            <div class="card">
              <div class="d-flex justify-content-center card-header">
                <h4 class="card-header mr-2">details2.pdf</h4>
                <i class="fas fa-file-download"></i>
              </div>

              <div class="card-body">
                <p class="card-text">{{ file.date }}</p>
                <p class="card-text">{{ file.creator }}</p>
              </div>
            </div>
          </div>
        </div>
      </ng-template>
    </ngb-carousel>

    <div class="d-flex align-self-end" *ngIf="!add">
      <button class="btn btn-primary add-attachments add-action">
        <div class="add-item"><i class="fas fa-plus"></i></div>
        <span class="ml-2">Ajouter Pièces jointes</span>
      </button>
    </div>
  </div>

  <ngb-carousel
    *ngIf="add"
    class="carousel mb-2 carousel-attachments"
    [showNavigationIndicators]="false"
    [showNavigationArrows]="false"
  >
    <ng-template ngbSlide id="slide" style="">
      <div class="d-flex justify-content-md-between">
        <div class="col-4 col-md-3 col-lg-3 p-0">
          <div class="card">
            <div class="d-flex justify-content-center card-header">
              <h4 class="card-header mr-2">Ajouter</h4>
              <i class="fas fa-file-download"></i>
            </div>

            <div class="card-body p-0">
              <ng-file-drag-drop
                (uploadedFiles)="getUploadedFiles($event)"
                [fileConfig]="dragDropConfig"
                class="upload-file"
              >
              </ng-file-drag-drop>
              <span class="input-upload">
                <p>Faire glisser</p>
                <p>ou</p>
                <p>Parcourir</p>
              </span>
            </div>
          </div>
        </div>
      </div>
    </ng-template>
  </ngb-carousel>
</div>
