<!--<app-grid-wrapper-->
<!--  [columnDefs]="columnDefs"-->
<!--  [rowData]="attachments"-->
<!--  [defaultColDef]="defaultColDef"-->
<!--[pagination]="false"-->
<!--  class="col-md-6"-->

<!--&gt;-->
<!--</app-grid-wrapper>-->
<div class="container">
  <!--Carousel Wrapper-->
  <div id="multi-item-example" class="carousel slide carousel-multi-item" data-ride="carousel">
    <div class="d-flex justify-content-between">
      <h5>Pièces jointes</h5>

      <!--Controls-->
      <div class="controls-top">
        <a class="btn-floating" href="#multi-item-example" data-slide="prev"><i class="fas fa-chevron-left"></i></a>
        <a class="btn-floating" href="#multi-item-example" data-slide="next"><i class="fas fa-chevron-right"></i></a>
      </div>
      <!--/.Controls-->
    </div>
    <!--Indicators-->
    <ol class="carousel-indicators">
      <li data-target="#multi-item-example" data-slide-to="0" class="active"></li>
      <li data-target="#multi-item-example" data-slide-to="1"></li>
    </ol>
    <!--/.Indicators-->

    <!--Slides-->
    <div class="carousel-inner" role="listbox">
      <!--First slide-->
      <div class="carousel-item active d-flex justify-content-around">
        <div class="col-md-3 p-0" style="float: left" *ngFor="let file of attachments">
          <div class="card mb-2">
            <!--            <div class="card-header">{{attachement.title}}</div>-->
            <div class="d-flex justify-content-center card-header">
              <h4 class="card-header mr-2">{{ file.title }}</h4>
              <i class="fas fa-file-download"></i>
            </div>

            <div class="card-body">
              <p class="card-text">{{ file.date }}</p>
              <p class="card-text">{{ file.type }}</p>
              <p class="card-text">{{ file.creator }}</p>
            </div>
          </div>
        </div>

        <!--        <div class="col-md-3" style="float:left">-->
        <!--          <div class="card mb-2">-->
        <!--            <img class="card-img-top"-->
        <!--                 src="https://mdbootstrap.com/img/Photos/Horizontal/City/4-col/img%20(60).jpg" alt="Card image cap">-->
        <!--            <div class="card-body">-->
        <!--              <h4 class="card-title">Card title</h4>-->
        <!--              <p class="card-text">Some quick example text to build on the card title and make up the bulk of the-->
        <!--                card's content.</p>-->
        <!--              <a class="btn btn-primary">Button</a>-->
        <!--            </div>-->
        <!--          </div>-->
        <!--        </div>-->

        <!--        <div class="col-md-3" style="float:left">-->
        <!--          <div class="card mb-2">-->
        <!--            <img class="card-img-top"-->
        <!--                 src="https://mdbootstrap.com/img/Photos/Horizontal/City/4-col/img%20(60).jpg" alt="Card image cap">-->
        <!--            <div class="card-body">-->
        <!--              <h4 class="card-title">Card title</h4>-->
        <!--              <p class="card-text">Some quick example text to build on the card title and make up the bulk of the-->
        <!--                card's content.</p>-->
        <!--              <a class="btn btn-primary">Button</a>-->
        <!--            </div>-->
        <!--          </div>-->
        <!--        </div>-->

        <!--        <div class="col-md-3" style="float:left">-->
        <!--          <div class="card mb-2">-->
        <!--            <img class="card-img-top"-->
        <!--                 src="https://mdbootstrap.com/img/Photos/Horizontal/City/4-col/img%20(60).jpg" alt="Card image cap">-->
        <!--            <div class="card-body">-->
        <!--              <h4 class="card-title">Card title</h4>-->
        <!--              <p class="card-text">Some quick example text to build on the card title and make up the bulk of the-->
        <!--                card's content.</p>-->
        <!--              <a class="btn btn-primary">Button</a>-->
        <!--            </div>-->
        <!--          </div>-->
        <!--        </div>-->
      </div>
      <!--/.First slide-->

      <!--Second slide-->
      <!--      <div class="carousel-item d-flex justify-content-around">-->
      <!--        <div class="col-md-3 p-0" style="float: left" *ngFor="let file of attachments">-->
      <!--          <div class="card mb-2">-->
      <!--            &lt;!&ndash;            <div class="card-header">{{attachement.title}}</div>&ndash;&gt;-->
      <!--            <div class="d-flex justify-content-center card-header">-->
      <!--              <h4 class="card-header mr-2">{{ file.title }}</h4>-->
      <!--              <i class="fas fa-file-download"></i>-->
      <!--            </div>-->

      <!--            <div class="card-body">-->
      <!--              <p class="card-text">{{ file.date }}</p>-->
      <!--              <p class="card-text">{{ file.type }}</p>-->
      <!--              <p class="card-text">{{ file.creator }}</p>-->
      <!--            </div>-->
      <!--          </div>-->
      <!--        </div>-->
      <!--        &lt;!&ndash;/.Second slide&ndash;&gt;-->
      <!--      </div>-->
      <!--/.Slides-->
    </div>
    <!--/.Carousel Wrapper-->
  </div>

  <!--  <ngb-carousel *ngIf="attachments" class="carousel">-->
  <!--    <ng-template ngbSlide id="slide1" style="">-->
  <!--      <div class="d-flex justify-content-md-between" style="max-width: 100%;">-->
  <!--        <div class="col-xs-3 col-md-3 col-lg-3 col-sm-6 p-0" *ngFor="let file of attachments">-->
  <!--          <div class="card mb-2">-->
  <!--            &lt;!&ndash;            <div class="card-header">{{attachement.title}}</div>&ndash;&gt;-->
  <!--            <div class="d-flex justify-content-center card-header">-->
  <!--              <h4 class="card-header mr-2">{{ file.title }}</h4>-->
  <!--              <i class="fas fa-file-download"></i>-->
  <!--            </div>-->

  <!--            <div class="card-body">-->
  <!--              <p class="card-text">{{ file.date }}</p>-->
  <!--              <p class="card-text">{{ file.type }}</p>-->
  <!--              <p class="card-text">{{ file.creator }}</p>-->
  <!--            </div>-->
  <!--          </div>-->
  <!--        </div>-->
  <!--      </div>-->
  <!--    </ng-template>-->
  <!--    <ng-template ngbSlide id="slide2" style="">-->
  <!--      <div class="d-flex justify-content-md-between" style="" >-->
  <!--        <div class="col-xs-3 col-md-3 col-lg-3 col-sm-6 p-0"  *ngFor="let file of attachments">-->
  <!--          <div class="card mb-2">-->
  <!--            &lt;!&ndash;            <div class="card-header">{{attachement.title}}</div>&ndash;&gt;-->
  <!--            <div class="d-flex justify-content-center card-header">-->
  <!--              <h4 class="card-header mr-2">{{ file.title }}</h4>-->
  <!--              <i class="fas fa-file-download"></i>-->
  <!--            </div>-->

  <!--            <div class="card-body">-->
  <!--              <p class="card-text">{{ file.date }}</p>-->
  <!--              <p class="card-text">{{ file.type }}</p>-->
  <!--              <p class="card-text">{{ file.creator }}</p>-->
  <!--            </div>-->
  <!--          </div>-->
  <!--        </div>-->
  <!--      </div>-->
  <!--    </ng-template>-->
  <!--  </ngb-carousel>-->
  <!--  <div class="col-md-3 p-0" style="float: left" *ngFor="let file of attachments; let i = index">-->
  <!--&lt;!&ndash;  <ngb-carousel class="carousel" (slide)="onChange($event)" [interval]="false">&ndash;&gt;-->
  <!--&lt;!&ndash;    <ng-template ngbSlide id="slide1">&ndash;&gt;-->
  <!--&lt;!&ndash;      <div class="picsum-img-wrapper">&ndash;&gt;-->

  <!--&lt;!&ndash;          <div class="card mb-2">&ndash;&gt;-->
  <!--&lt;!&ndash;            &lt;!&ndash;            <div class="card-header">{{attachement.title}}</div>&ndash;&gt;&ndash;&gt;-->
  <!--&lt;!&ndash;            <div class="d-flex justify-content-center card-header">&ndash;&gt;-->
  <!--&lt;!&ndash;              <h4 class="card-header mr-2">{{ file.title }}</h4>&ndash;&gt;-->
  <!--&lt;!&ndash;              <i class="fas fa-file-download"></i>&ndash;&gt;-->
  <!--&lt;!&ndash;            </div>&ndash;&gt;-->

  <!--&lt;!&ndash;            <div class="card-body">&ndash;&gt;-->
  <!--&lt;!&ndash;              <p class="card-text">{{ file.date }}</p>&ndash;&gt;-->
  <!--&lt;!&ndash;              <p class="card-text">{{ file.type }}</p>&ndash;&gt;-->
  <!--&lt;!&ndash;              <p class="card-text">{{ file.creator }}</p>&ndash;&gt;-->
  <!--&lt;!&ndash;            </div>&ndash;&gt;-->
  <!--&lt;!&ndash;          </div>&ndash;&gt;-->
  <!--&lt;!&ndash;        </div>&ndash;&gt;-->
  <!--&lt;!&ndash;      <div class="carousel-caption">&ndash;&gt;-->
  <!--&lt;!&ndash;        &lt;!&ndash;            <h3>10 seconds between slides...</h3>&ndash;&gt;&ndash;&gt;-->
  <!--&lt;!&ndash;        &lt;!&ndash;            <p>This carousel uses customized default values.</p>&ndash;&gt;&ndash;&gt;-->
  <!--&lt;!&ndash;      </div>&ndash;&gt;-->
  <!--&lt;!&ndash;    </ng-template>&ndash;&gt;-->
  <!--&lt;!&ndash;&lt;!&ndash;    <ng-template ngbSlide id="slide2">&ndash;&gt;&ndash;&gt;-->
  <!--&lt;!&ndash;&lt;!&ndash;      <div class="picsum-img-wrapper">&ndash;&gt;&ndash;&gt;-->
  <!--&lt;!&ndash;&lt;!&ndash;        <img src="assets/images/573a.jpg" alt="Random second slide" />&ndash;&gt;&ndash;&gt;-->
  <!--&lt;!&ndash;&lt;!&ndash;      </div>&ndash;&gt;&ndash;&gt;-->
  <!--&lt;!&ndash;&lt;!&ndash;      <div class="carousel-caption">&ndash;&gt;&ndash;&gt;-->
  <!--&lt;!&ndash;&lt;!&ndash;        &lt;!&ndash;            <h3>No mouse events...</h3>&ndash;&gt;&ndash;&gt;&ndash;&gt;-->
  <!--&lt;!&ndash;&lt;!&ndash;        &lt;!&ndash;            <p>This carousel doesn't pause or resume on mouse events</p>&ndash;&gt;&ndash;&gt;&ndash;&gt;-->
  <!--&lt;!&ndash;&lt;!&ndash;      </div>&ndash;&gt;&ndash;&gt;-->
  <!--&lt;!&ndash;&lt;!&ndash;    </ng-template>&ndash;&gt;&ndash;&gt;-->
  <!--&lt;!&ndash;&lt;!&ndash;    <ng-template ngbSlide id="slide3">&ndash;&gt;&ndash;&gt;-->
  <!--&lt;!&ndash;&lt;!&ndash;      <div class="picsum-img-wrapper">&ndash;&gt;&ndash;&gt;-->
  <!--&lt;!&ndash;&lt;!&ndash;        <img src="assets/images/573b.jpg" alt="Random third slide" />&ndash;&gt;&ndash;&gt;-->
  <!--&lt;!&ndash;&lt;!&ndash;      </div>&ndash;&gt;&ndash;&gt;-->
  <!--&lt;!&ndash;&lt;!&ndash;      <div class="carousel-caption">&ndash;&gt;&ndash;&gt;-->
  <!--&lt;!&ndash;&lt;!&ndash;        &lt;!&ndash;            <h3>No keyboard...</h3>&ndash;&gt;&ndash;&gt;&ndash;&gt;-->
  <!--&lt;!&ndash;&lt;!&ndash;        &lt;!&ndash;            <p>This carousel uses customized default values.</p>&ndash;&gt;&ndash;&gt;&ndash;&gt;-->
  <!--&lt;!&ndash;&lt;!&ndash;      </div>&ndash;&gt;&ndash;&gt;-->
  <!--&lt;!&ndash;&lt;!&ndash;    </ng-template>&ndash;&gt;&ndash;&gt;-->
  <!--&lt;!&ndash;&lt;!&ndash;    <ng-template ngbSlide id="slide4">&ndash;&gt;&ndash;&gt;-->
  <!--&lt;!&ndash;&lt;!&ndash;      <div class="picsum-img-wrapper">&ndash;&gt;&ndash;&gt;-->
  <!--&lt;!&ndash;&lt;!&ndash;        <img src="assets/images/573.jpg" alt="Random fourth slide" />&ndash;&gt;&ndash;&gt;-->
  <!--&lt;!&ndash;&lt;!&ndash;      </div>&ndash;&gt;&ndash;&gt;-->
  <!--&lt;!&ndash;&lt;!&ndash;      <div class="carousel-caption">&ndash;&gt;&ndash;&gt;-->
  <!--&lt;!&ndash;&lt;!&ndash;        &lt;!&ndash;            <h3>And no wrap after last slide.</h3>&ndash;&gt;&ndash;&gt;&ndash;&gt;-->
  <!--&lt;!&ndash;&lt;!&ndash;        &lt;!&ndash;            <p>This carousel uses customized default values.</p>&ndash;&gt;&ndash;&gt;&ndash;&gt;-->
  <!--&lt;!&ndash;&lt;!&ndash;      </div>&ndash;&gt;&ndash;&gt;-->
  <!--&lt;!&ndash;&lt;!&ndash;    </ng-template>&ndash;&gt;&ndash;&gt;-->
  <!--&lt;!&ndash;  </ngb-carousel>&ndash;&gt;-->
  <!--  </div>-->

  <!--  <div class="d-flex align-self-end">-->
  <!--    <button class="btn btn-primary obs-details">-->
  <!--      <div class="add-item"><i class="fas fa-plus-circle"></i></div>-->
  <!--      <span class="ml-2">Ajouter Pièces jointes</span>-->
  <!--    </button>-->
  <!--  </div>-->
</div>
