<div class="form-bloc">
  <h5 class="col-md-12"><i class="far fa-calendar-alt"></i> Statut</h5>
  <div class="form-bloc pl-0" *ngIf="addDeposit">
    <form [formGroup]="depositStatusForm" class="form-bloc pl-0">
    <div class="form-bloc pl-0" *ngIf="addDeposit" >
      <div class="form-group col-md-6 flex-wrap flex-sm-nowrap">
        <label class="">Date de dépôt</label>
        <div class="autocomplete form-control value col-12 col-sm-7" *ngIf="edit">
          <p-calendar
            dateFormat="yy-mm-dd"
            class="col-md-12"
            [style]="{ minWidth: '100%' }"
            formControlName="depositDate"
            [showIcon]="true"
            inputId="icon"
            (onSelect)="onSelectDepositDate($event)"
          ></p-calendar>
        </div>
        <div class="value" *ngIf="!edit">{{ statusData.depositDate | date: viewDateFormat }}</div>
      </div>
      <div class="form-group col-md-6 flex-wrap flex-sm-nowrap">
        <label class="">N° arrêt</label>
        <input
          type="number"
          class="form-control value col-12 col-sm-7"
          *ngIf="edit"
          formControlName="stopNumber"
          placeholder="N° arrêt"
        />
        <p class="value" *ngIf="!edit">{{ statusData.stopNumber }}</p>
      </div>
    </div>

    <div class="form-group col-md-12 flex-wrap flex-sm-nowrap">
      <div class="form-group col-md-8 pl-0">
        <label style="" class="">Déposant</label>
        <p-dropdown
          class="select col-md-12 col-sm-12 p-sm-0 col-12"
          [style]="{ width: '100%' }"
          [options]="depositors"
          optionLabel="name"
          optionValue="id"
          [filter]="true"
          defaultLabel="Sélectionner des déposants"
          formControlName="depositor"
          (onChange)="onSelect($event, 'depositor')"
          *ngIf="edit"
        >
        </p-dropdown>
        <div class="value" *ngIf="!edit">{{ statusData.depsitorName }}</div>
      </div>
      <div class="col-md-4 link" *ngIf="edit">
        <a href="">Ajouter un nouveau déposant</a>
      </div>
    </div>
    </form>
  </div>
  <form class="form-bloc pl-0" [formGroup]="propertyStatusForm">
  <div class="form-bloc pl-0" *ngIf="addProperty" >
    <div class="form-group col-md-6 flex-wrap flex-sm-nowrap">
      <label class="col-sm-4">Valeur assurance</label>
      <input
        type="number"
        class="form-control value col-12 col-sm-7"
        placeholder="Valeur d'assurance"
        *ngIf="edit"
        formControlName="insuranceValue"
      />
      <p class="value" *ngIf="!edit">{{ statusData.insuranceValue }}</p>
    </div>
    <div class="form-group col-md-6 flex-wrap flex-sm-nowrap">
      <label class="col-sm-4">Date d'assurrance</label>
      <div class="autocomplete form-control value col-12 col-sm-7" *ngIf="edit">
        <p-calendar
          dateFormat="yy-mm-dd"
          (onSelect)="onSelectInsuranceDate($event)"
          class="col-md-12"
          [style]="{ minWidth: '100%' }"
          formControlName="insuranceValueDate"
          [showIcon]="true"
          inputId="icon"
        ></p-calendar>
      </div>
      <div class="value" *ngIf="!edit">{{ statusData.insuranceValueDate | date: viewDateFormat }}</div>
    </div>

    <div class="form-group col-md-6 flex-wrap flex-sm-nowrap">
      <label class="col-sm-4">Mode Entrée</label>
      <div class="d-flex value col-12 col-sm-7 p-0">
        <p-dropdown
          class="select col-md-12 col-sm-12 p-sm-0 col-12"
          [style]="{ width: '100%' }"
          [options]="entryModes"
          optionLabel="label"
          optionValue="id"
          [filter]="true"
          defaultLabel="Sélectionner un mode d'entrée"
          formControlName="entryMode"
          (onChange)="onSelect($event, 'entryMode')"
          *ngIf="edit"
        >
        </p-dropdown>
      </div>
      <div class="value" *ngIf="!edit">{{ statusData.entryMode?.label }}</div>
    </div>
    <div class="form-group col-md-6 flex-wrap flex-sm-nowrap">
      <label class="col-sm-4">Date d'entrée</label>
      <div class="autocomplete form-control value col-12 col-sm-7" *ngIf="edit">
        <p-calendar
          dateFormat="yy-mm-dd"
          (onSelect)="onSelectEntryDate($event)"
          class="col-md-12"
          [style]="{ minWidth: '100%' }"
          formControlName="entryDate"
          [showIcon]="true"
          inputId="icon"
        ></p-calendar>
      </div>
      <div class="value" *ngIf="!edit">{{ statusData.entryDate | date: viewDateFormat }}</div>
    </div>
    <div class="form-group col-md-6 flex-wrap flex-sm-nowrap">
      <label class="col-sm-4">Catégorie de bien</label>
      <div class="d-flex value col-12 col-sm-7 p-0" *ngIf="edit">
        <p-dropdown
          class="select col-md-12 col-sm-12 p-sm-0 col-12"
          [style]="{ width: '100%' }"
          [options]="categories"
          optionLabel="label"
          optionValue="id"
          [filter]="true"
          defaultLabel="Sélectionner une catégorie de bien"
          formControlName="category"
          (onChange)="onSelect($event, 'category')"
        >
        </p-dropdown>
      </div>
      <div class="value" *ngIf="!edit">{{ statusData.category.label }}</div>
    </div>
  </div>
  </form>
</div>
