<div class="form-bloc">
  <h5 class="col-md-12"><i class="far fa-calendar-alt"></i> Status</h5>
  <div class="form-bloc pl-0" *ngIf="addDeposit">
    <div class="form-bloc pl-0" *ngIf="addDeposit" [formGroup]="depositStatusForm">
      <div class="form-group col-md-6 flex-wrap flex-sm-nowrap">
        <label class="">Date de dépôt</label>
        <div class="autocomplete form-control value col-12 col-sm-7">
          <p-calendar
            *ngIf="edit"
            class="col-md-12"
            [style]="{ minWidth: '100%' }"
            formControlName="depositDate"
            [showIcon]="true"
            inputId="icon"
          ></p-calendar>
        </div>
        <div class="value" *ngIf="!edit">12/01/2020</div>
      </div>
      <div class="form-group col-md-6 flex-wrap flex-sm-nowrap">
        <label class="">N° arrêt</label>
        <input
          type="number"
          class="form-control value col-12 col-sm-7"
          *ngIf="edit"
          formControlName="stopNumber"
          placeholder="N° arrêt"
        />
        <p class="value" *ngIf="!edit">11111</p>
      </div>
    </div>

    <div class="form-group col-md-12 flex-wrap flex-sm-nowrap">
      <div class="form-group col-md-8 pl-0">
        <label style="" class="">Déposant</label>
        <p-multiSelect
          *ngIf="edit"
          class="select col-md-7 col-sm-7 p-sm-0 col-12"
          selectionLimit="5"
          [maxSelectedLabels]="2"
          [style]="{ width: '100%' }"
          [options]=""
          optionLabel="name"
          [filter]="true"
          defaultLabel="Sélectionner des déposants"
        >
        </p-multiSelect>
        <div class="value" *ngIf="!edit">Déposant 1</div>
      </div>
      <div class="col-md-4 link" *ngIf="edit">
        <a href="">Ajouter un nouveau déposant</a>
      </div>
    </div>
  </div>
  <div class="form-bloc pl-0" *ngIf="addProperty" [formGroup]="propertyStatusForm">
    <div class="form-group col-md-6 flex-wrap flex-sm-nowrap">
      <label class="col-sm-4">Valeur assurance</label>
      <input
        type="number"
        class="form-control value col-12 col-sm-7"
        placeholder="Valeur d'assurance"
        *ngIf="edit"
        formControlName="insuranceValue"
      />
      <p class="value" *ngIf="!edit">111111</p>
    </div>
    <div class="form-group col-md-6 flex-wrap flex-sm-nowrap">
      <label class="col-sm-4">Date d'assurrance</label>
      <div class="autocomplete form-control value col-12 col-sm-7">
        <p-calendar
          *ngIf="edit"
          class="col-md-12"
          [style]="{ minWidth: '100%' }"
          formControlName="insuranceValueDate"
          [showIcon]="true"
          inputId="icon"
        ></p-calendar>
      </div>
      <div class="value" *ngIf="!edit">12/01/2020</div>
    </div>

    <div class="form-group col-md-6 flex-wrap flex-sm-nowrap">
      <label class="col-sm-4">Mode Entrée</label>
      <div class="d-flex value col-12 col-sm-7 p-0">
        <p-dropdown
          class="select col-md-12 col-sm-12 p-sm-0 col-12"
          [style]="{ width: '100%' }"
          [options]="entryModes"
          optionLabel="label"
          optionValue="id"
          [filter]="true"
          defaultLabel="Sélectionner un mode d'entrée"
          formControlName="entryMode"
        >
        </p-dropdown>
      </div>
    </div>
    <div class="form-group col-md-6 flex-wrap flex-sm-nowrap">
      <label class="col-sm-4">Date d'entrée</label>
      <div class="autocomplete form-control value col-12 col-sm-7">
        <p-calendar
          *ngIf="edit"
          class="col-md-12"
          [style]="{ minWidth: '100%' }"
          formControlName="entryDate"
          [showIcon]="true"
          inputId="icon"
        ></p-calendar>
      </div>
      <div class="value" *ngIf="!edit">12/01/2020</div>
    </div>
    <div class="form-group col-md-6 flex-wrap flex-sm-nowrap">
      <label class="col-sm-4">Catégorie de bien</label>
      <div class="d-flex value col-12 col-sm-7 p-0">
        <p-dropdown
          class="select col-md-12 col-sm-12 p-sm-0 col-12"
          [style]="{ width: '100%' }"
          [options]="categories"
          optionLabel="label"
          optionValue="id"
          [filter]="true"
          defaultLabel="Sélectionner une catégorie de bien"
          formControlName="category"
        >
        </p-dropdown>
      </div>
    </div>
  </div>
</div>
