<div [formGroup]="myForm" *ngIf="!add">
<div class="col-md-12 d-flex align-items-baseline" >
  <h5 class="col-md-3 p-0">Liens hypertextes</h5>
  <ol class="rounded-list col-md-6">
    <ng-template  ngFor let-item pTemplate="item"
                  [ngForOf]="existingLinks"
                 let-i="index">
    <li>
      <span><a href="#">{{item.url}}</a> | {{item.name}}
        <i class="far fa-trash-alt"
         *ngIf="itemDetails"
         (click)="delete(item)"
           pTooltip="Supprimer"
           tooltipPosition="top"
      ></i></span>

    </li>
    </ng-template>
  </ol>
  <div class="d-flex justify-content-end col-md-3" *ngIf="!add">
    <button class="btn add-action" (click)="addNewLinks()">
      <i class="fas fa-plus mr-2"></i>Ajouter un lien
    </button>
  </div>
</div>

<div class="col-md-12 p-1 mt-1 hyperlink-container" *ngIf="addLinks">
  <div class="d-flex justify-content-end col-12 p-0 mt-2 mb-2" >
    <button  class="mr-2 cancel-btn">Annuler</button>
    <button  class="valid-btn">Valider</button>
  </div>
  <div formArrayName="liens" class="hyperlink-bloc">
    <div [formGroupName]="i" class="mt-1" *ngFor="let lien of liens.controls; let i = index">
      <div class="d-flex">
        <div class="form-group col-md-5 d-flex p-0">
          <input class="form-control" placeholder="Nom URL" formControlName="urlName" />
        </div>
        <div class="form-group col-md-5 d-flex p-0">
          <input class="form-control" placeholder="URL" formControlName="url" />
        </div>

        <div class="col-1 col-md-2 align-self-center d-flex p-0">
          <i class="fas fa-trash-alt delete" style="color: gray" (click)="removeLink(i)" *ngIf="i > 0"></i>
          <i class="add ml-1 mt-1 fas fa-plus" style="color: gray" (click)="addLink()"></i>
        </div>
      </div>
    </div>
  </div>
  <div class="d-flex justify-content-end col-12 p-0 mt-2 mb-2">
    <button (click)="cancelAddLinks()" class="mr-2 cancel-btn">Annuler</button>
    <button (click)="save()" class="valid-btn">Valider</button>
  </div>
</div>
</div>

<div class="col-md-12 d-flex pl-0 align-items-baseline" [formGroup]="myForm" *ngIf="add">
  <div class="form-group" class="col-md-12 d-flex flex-column p-0">
    <h5 class="col-md-12 p-0 m-0">Liens hypertextes</h5>
    <div class="col-md-12 p-1 mt-1 hyperlink-container">
      <div formArrayName="liens" class="hyperlink-bloc">
        <div [formGroupName]="i" class="mt-1" *ngFor="let lien of liens.controls; let i = index">
          <div class="d-flex">
            <div class="form-group col-md-5 d-flex p-0">
              <input class="form-control" placeholder="Nom URL" formControlName="urlName" />
            </div>
            <div class="form-group col-md-5 d-flex p-0">
              <input class="form-control" placeholder="URL" formControlName="url" />
            </div>

            <div class="col-1 col-md-2 align-self-center d-flex p-0">
              <i class="fas fa-trash-alt delete" style="color: gray" (click)="removeLink(i)" *ngIf="i > 0"></i>
              <i class="add ml-1 mt-1 fas fa-plus" style="color: gray" (click)="addLink()"></i>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<p-dialog header="Supprimer le lien" [modal]="true" [(visible)]="deleteDialog" [style]="{ width: '30vw' }">
  <div class="p-0 pb-3">
    <div class="col-12">
      <span>Voulez-vous supprimer le lien "<strong> {{itemToDelete}} </strong>" ?</span>
    </div>
  </div>
  <ng-template pTemplate="footer">
    <button class="cancel-btn" (click)="cancelDelete()" style="font-size: 12px">
      Annuler
    </button>
    <button class="valid-btn" (click)="removeLink(getIndex(selectedItem))" style="font-size: 12px">
      supprimer
    </button>
  </ng-template>
</p-dialog>
