.sideNavCollapsed {
  min-width: 50px;
  height: 100vh;
}
.sideNav {
  //min-width:250px;
  height: 100vh;
}
.main-full-width {
  //margin-left: 20px;
}
.main {
  //width:auto;
  margin-left: 250px;
}
.user-avatar {
  border: 1px solid black;
  height: 50px;
  width: 50px;
  border-radius: 31px;
}
