<nav class="navbar navbar-light bg-light" style="margin-left: 50px; max-height: 60px">
  <div class="row w-100">
    <div class="col-8">
      <div class="form-group">
        <button
          type="text"
          class="form-control w-100"
          (click)="onSearchClick()"
          style="background-color: #00d6d4; color: white"
        >
          <i class="fa fa-search" style="position: relative; left: -8px"></i>Recherche
        </button>
      </div>
    </div>
    <div class="col-2">
      <div class="form-group" ngbDropdown>
        <button class="form-control btn add-action" style="height: 38px" ngbDropdownToggle id="dropdownButton">
          <i class="fas fa-plus-circle mr-1"></i>
          Création Notice
        </button>
        <div class="py-0 ng-dropdown w-100" ngbDropdownMenu aria-labelledby="dropdownButton">
          <ul class="list-group" style="width: max-content; min-width: 100%; border-color: transparent">
            <li
              class="list-group-item"
              (click)="createNotice()"
              style="background-color: #00d6d4; color: white; font-size: 12px"
            >
              <i class="fas fa-plus-circle mr-1"></i>
              Création notice en proprieté
            </li>
            <li class="list-group-item" style="background-color: #4583af; color: white; font-size: 12px">
              <i class="fas fa-plus-circle mr-1"></i>
              Création notice en dépôt
            </li>
          </ul>
        </div>
      </div>
    </div>
    <div class="col-2">
      <div class="right-header list main_nav_list_item mt-2" style="float: right">
        <div class="dropdown" style="left: -5%; color: #6d8292">
          <a type="button" id="dropdownuserButton" style="font-size: 20px">
            <i class="fas fa-user-circle"></i>
            <span class="ml-2">Claire ROSSET</span>
          </a>
        </div>
      </div>
    </div>
  </div>
</nav>
<div class="d-flex">
  <div [ngClass]="collapseSideNav ? 'sideNavCollapsed' : 'sideNav'">
    <app-sidebar-nav (open)="f1($event)"></app-sidebar-nav>
  </div>

  <div style="width: 100%">
    <app-ng7-bootstrap-breadcrumb></app-ng7-bootstrap-breadcrumb>
    <router-outlet></router-outlet>
  </div>
</div>
