.sideNavCollapsed {
  min-width: 50px;
}

.main {
  margin-left: 250px;
}
.user-avatar {
  border: 1px solid black;
  height: 50px;
  width: 50px;
  border-radius: 31px;
}
.add-action:hover,
.add-action:focus {
  //border-color: #6d8292;
  color: white !important;
  background-color: #2c74b3;
}
