<!--<app-public-header></app-public-header>-->
<!--<div class="bar"></div>-->
<nav class="navbar navbar-light bg-light" style="margin-left: 50px">
  <div class="row w-100">
    <div class="col-9">
      <div class="form-group">
        <input
          type="text"
          class="form-control w-100"
          (keyup.enter)="onSearchClick()"
          placeholder="Barre de recherche fixe"
        />
      </div>
    </div>
    <div class="col-2">
      <button class="btn add-action">Création Notice</button>
    </div>
    <div class="col-1">
      <div class="user-avatar"></div>
    </div>
  </div>
</nav>
<div class="d-flex">
  <div [ngClass]="collapseSideNav ? 'sideNavCollapsed' : 'sideNav'">
    <app-sidebar-nav (open)="f1($event)"></app-sidebar-nav>
  </div>

  <div style="transition: all 0.5s; width: 100%" [ngClass]="collapseSideNav ? 'main-full-width' : 'main'">
    <app-ng7-bootstrap-breadcrumb></app-ng7-bootstrap-breadcrumb>
    <router-outlet></router-outlet>
  </div>
</div>
