<div class="container p-0">
  <div class="d-flex justify-content-between">
    <h5>Pièces jointes</h5>
  </div>
  <div class="attachement-container p-2">
    <button class="btn add-action col-7" (click)="addAttachment()">
      <i class="fas fa-plus mr-2"></i>Ajouter une/plusieurs pièce(s) jointe(s)
    </button>
    <p-carousel
      [responsiveOptions]="responsiveOptions"
      [value]="itemDetails ? existingAttachments : attachments.value"
      [numVisible]="3"
      [numScroll]="3"
      [circular]="false"
    >
      <ng-template let-item pTemplate="item">
        <div class="product-item">
          <div class="product-item-content p-1">
            <div class="card">
              <div class="d-flex justify-content-center card-header">
                <h4 class="card-header attachment-name">{{ item.attachment.name }}</h4>
                <i class="fas fa-file-download" pTooltip="Télécharger" tooltipPosition="top"></i>
                <i
                  class="far fa-trash-alt p-1"
                  *ngIf="itemDetails"
                  (click)="delete(item.attachment.name)"
                  pTooltip="Supprimer"
                  tooltipPosition="top"
                ></i>
                <i
                  class="far fa-edit"
                  *ngIf="itemDetails"
                  (click)="editAttachment(item.attachmentType, getIndex(item))"
                  pTooltip="Modifier"
                  tooltipPosition="top"
                ></i>
              </div>

              <div class="card-body p-2">
                <div class="form-group col-12 mb-0 p-0">
                  <label *ngIf="itemDetails" class="col-md-12">Type</label>
                  <p *ngIf="itemDetails && !filesProperties[getIndex(item)].edit" class="col-md-12">
                    {{ item.attachmentType }}
                  </p>

                  <p-dropdown
                    *ngIf="add || (itemDetails && filesProperties[getIndex(item)].edit)"
                    [style]="{ minWidth: '100%' }"
                    [options]="types"
                    appendTo="body"
                    placeholder="Choisir un type"
                    [showClear]="false"
                    [(ngModel)]="item.attachmentType"
                  ></p-dropdown>
                </div>
                <div
                  class="d-flex justify-content-end col-12 p-0 mt-2 mb-2"
                  *ngIf="itemDetails && filesProperties[getIndex(item)].edit"
                >
                  <button (click)="cancelEditAttachment(item, getIndex(item))" class="mr-2 cancel-btn">Annuler</button>
                  <button
                    (click)="editAttachmentForm(getIndex(item), item.attachment, item.attachmentType)"
                    class="valid-btn"
                  >
                    Valider
                  </button>
                </div>
              </div>
            </div>
          </div>
        </div>
      </ng-template>
    </p-carousel>
  </div>
</div>
<p-dialog header="Ajouter une pièce jointe" [modal]="true" [(visible)]="display" [style]="{ width: '30vw' }">
  <div class="p-0 pb-3">
    <div class="col-12">
      <!--      -->
      <div class="card">
        <div class="d-flex justify-content-center card-header">
          <h4 class="card-header mr-2">Ajouter</h4>
          <i class="fas fa-file-download"></i>
        </div>

        <div class="card-body p-0">
          <div class="fileDropZone" ngFileDragDrop (fileDropped)="getUploadedFiles($event)">
            <div class="dropzone-container">
              <span class="input-upload" *ngIf="!addedFile">
                <p>Faire glisser ou parcourir</p>
              </span>
              <span class="input-upload" *ngIf="addedFile">
                <p>{{ addedFile.name }}</p>
              </span>
            </div>
          </div>
        </div>
      </div>
      <span class="mandatory" *ngIf="!validation && !addedFile">Veuillez saisir un fichier</span>
    </div>

    <div class="form-group col-12 mb-1">
      <label class="col-md-3">Type</label>
      <p-dropdown
        [style]="{ minWidth: '100%' }"
        appendTo="body"
        [options]="types"
        placeholder="Choisir un type"
        [showClear]="false"
        [(ngModel)]="attachmentType"
      >
      </p-dropdown>
      <span class="mandatory" *ngIf="!validation && !attachmentType">Veuillez saisir un type</span>
    </div>
  </div>
  <ng-template pTemplate="footer">
    <button class="btn-primary" style="font-size: 12px; background-color: lightgray">Annuler</button>
    <button class="btn-primary" (click)="validate()" style="font-size: 12px; background-color: #00d6d4">
      Enregistrer
    </button>
  </ng-template>
</p-dialog>
<p-dialog header="Supprimer une pièce jointe" [modal]="true" [(visible)]="deleteDialog" [style]="{ width: '30vw' }">
  <div class="p-0 pb-3">
    <div class="col-12">
      <span
        >Voulez-vous supprimer la pièce jointe "<strong> {{ itemToDelete }} </strong>" ?</span
      >
    </div>
  </div>
  <ng-template pTemplate="footer">
    <button class="cancel-btn" (click)="cancelDelete()" style="font-size: 12px">Annuler</button>
    <button class="valid-btn" (click)="deleteAttachment(selectedAttachment)" style="font-size: 12px">supprimer</button>
  </ng-template>
</p-dialog>
