<div class="content">
  <section class="timeline">
    <ol>
      <li>
        <div><time>19-01-2020</time> Lorem ipsum</div>
      </li>
      <li>
        <div><time>23-02-2020</time> Lorem ipsum</div>
      </li>
      <li>
        <div><time>01-03-2020</time> Lorem ipsum</div>
      </li>
      <li>
        <div><time>25-03-2020</time> Lorem ipsum</div>
      </li>
      <li>
        <div><time>20-04-2020</time> Lorem ipsum</div>
      </li>
      <li></li>
    </ol>

    <div class="arrows">
      <button class="arrow arrow__prev disabled" disabled>
        <img src="https://s3-us-west-2.amazonaws.com/s.cdpn.io/162656/arrow_prev.svg" alt="prev timeline arrow" />
      </button>
      <button class="arrow arrow__next">
        <img src="https://s3-us-west-2.amazonaws.com/s.cdpn.io/162656/arrow_next.svg" alt="next timeline arrow" />
      </button>
    </div>
  </section>
</div>
