h5 {
  color: #347898 !important;
  font-weight: 600;
  display: flex;
}
.images-container {
  align-content: space-around;
}
.import-image {
  background-color: #347898;
}
input {
  height: 29px;
}
.input-group-prepend {
  cursor: pointer;
}
.carousel-container {
  justify-content: space-evenly;
  .carousel {
    margin: 0 1%;
    .picsum-img-wrapper img {
      max-height: 25rem;
    }
  }
  .pictures-list {
    display: flex;
    justify-content: flex-start;
    flex-direction: column;
    overflow-y: scroll;
    max-height: 22rem;
    img {
      max-width: 50px;
      border-radius: 3px;
      margin-bottom: 0.5rem;
    }
  }
}
.content {
  //height: 560px;

  .more-details {
    display: flex;
    flex-direction: column;
    p {
      display: flex;
      font-size: 14px;
      strong {
        color: #838a90;
      }
      span {
      }
      i {
        justify-content: flex-end;
        display: flex;
        align-self: baseline;
        color: #838a90;
      }
    }
    .form-group {
      label {
        padding: 0;
        font-size: 12px;
        font-weight: 600;
        color: #838a90;
      }
    }
    button {
      align-self: flex-end;
    }
  }
  .edition-btn {
    button {
      background-color: #5c8fb1;
    }
  }

  .valid-btn {
    background-color: #00d6d4;
    font-size: 10px;
    color: white;
  }
  .cancel-btn {
    background-color: #6c7681c9;
    color: white;
  }
  .fa-edit {
    color: #00b5ff !important;
  }
  .fa-trash-alt {
    color: #b01212 !important;
    margin-top: 1rem;
    position: absolute;
    top: 7rem;
    right: 0.2rem;
    background-color: #f1f1f1;
    padding: 0.5rem;
    border-radius: 5rem;
    z-index: 1;
  }
  @media (max-width: 800px) {
    flex-wrap: wrap;
  }
}
