<div class="modal-content">
  <div class="modal-title">Ajouter une photographie</div>
  <div class="modal-body">
    <form [formGroup]="photographyForm" (submit)="onSubmit()">
      <div class="form-group">
        <label class="label"> Photographie </label>
        <input class="form-control" formControlName="actionType" type="file" />
      </div>
      <div class="form-group">
        <label class="label">Date</label>
        <input type="date" class="form-control" formControlName="date" />
      </div>
      <div class="form-group">
        <label class="label"> Type </label>
        <select class="form-control" formControlName="actionType">
          <option value="">--Choisissez un type de photographie--</option>
          <option *ngFor="let type of types" [value]="type">{{ type }}</option>
        </select>
      </div>

      <div class="button-bloc d-flex justify-content-around mt-2">
        <button class="delete-button" (click)="ngbActiveModal.close()">Annuler</button>
        <button [disabled]="photographyForm.invalid" class="submit-button">Ajouter</button>
      </div>
    </form>
  </div>
</div>
