<div class="breadcrumb">
  <a [routerLink]="['accueil']">Accueil</a>
  <a [routerLink]="['accueil']" class="selected-item">
    <i class="fas fa-chevron-right"></i>
    Notices en cours de création
  </a>
</div>
<div class="container-fluid">
  <div class="d-flex search-add-sectlion">
    <div class="search-add-section-div">
      <div class="search input-group">
        <input
          class="form-control py-2 border-right-0 border search-form-control"
          type="search"
          value="Rechercher"
          id="example-search-input"
        />
        <span class="input-group-append">
          <button class="btn btn-outline-secondary border-left-0 border" type="button">
            <i class="fa fa-search"></i>
          </button>
        </span>
      </div>
    </div>
  </div>
  <div class="datatable mt-4"></div>
</div>
