.content {
  box-shadow: 2px 2px 10px 2px lightgrey;
  width: 100%;
  height: 100%;
  background-color: white;
  display: flex;
  justify-content: center;
  padding: 3% 0%;
  .carousel {
    margin: 0 1%;
    .picsum-img-wrapper img {
      width: auto;
      height: 550px;
      min-height: 500px;
      border: none;
    }
  }
  .pictures-list {
    display: flex;
    justify-content: flex-start;
    flex-direction: column;
    margin: 0 10%;
    img {
      max-height: 600px;
      width: auto;
      border-radius: 3px;
      margin-bottom: 20px;
    }
  }
  .more-details {
    border-left: #407ca8 5px solid;
    margin: 0 0 0 20px;
    padding: 5px 0 0 20px;
    h2 {
      p {
        strong {
          color: #00d6d4;
        }
      }
    }
    p {
      strong {
        color: #407ca8;
      }
    }
  }

  @media (max-width: 800px) {
    flex-wrap: wrap;
    .more-details {
      border-left: none;
      height: auto;
    }
  }
}
