.header {
  height: 120px;
  width: 100%;
  background-color: white;
  padding: 10px;
  z-index: 99999;
  h5 {
    align-self: center;
    margin-left: 10px;
    font-weight: bold;
    color: #dcdcdc;
  }
}
.navbar {
  margin-top: 120px;
  z-index: 99999;
}
nav {
  background-color: #407ca8;
  padding-right: 0;
  height: 50px;
  .dropdown-toggle::after {
    display: none;
  }
  .btn:hover {
    background-color: transparent !important;
  }
  i {
    font-size: 23px;
  }
  .ngbDropdownMenu {
    left: -68% !important;
  }
  .nav-list {
    height: 50px;
    margin-left: -20px;

    .nav-active,
    .nav-menu:hover {
      color: white !important;

      &::before {
        pointer-events: all;
        content: "";
        position: absolute;
        background-color: white !important;
        height: 2px;
        width: calc(100% - 55%);
        bottom: 0;
        top: 70%;
        left: 30px;
        right: 0;
        display: block;
        margin: 0 auto 0;
      }
    }

    ul,
    .nav-link {
      height: 50px;
      color: white;
      li {
        cursor: pointer;
        line-height: 50px;
        font-size: 18px;
        text-transform: capitalize;
        border-left: 0.1rem solid;
        background-color: #407ca8;
        i {
          font-size: 35px;
          color: white;
        }
        .notif {
          position: relative;
          display: block;
          background-size: contain;
          text-decoration: none;
        }
        .num {
          position: absolute;
          top: -4px;
          right: -10px;
          padding: 0px 6px;
          border-radius: 50%;
          background: #be3d4d;
          color: white;
          width: 20px;
          height: 20px;
          font-size: 18px;
        }
      }
      .logout {
        position: absolute;
        right: 0;
      }
    }
  }
  @media (max-width: 786px) {
    height: 60px;
  }
}

::ng-deep a:not([href]) {
  color: inherit;
  text-decoration: none;
}

.home {
  background-color: #be3d4d !important;
}

.rapport {
  background-color: #5a4b5f !important;
}
.administration {
  background-color: #1f2b50 !important;
}

.bt {
  padding-right: 30px !important;
  padding-left: 30px !important;
}

//dropdown-menu
.dropdown-toggle {
  border: none;
}
.dropdown:hover > .dropdown-menu,
.dropright:hover > .dropdown-menu,
.user-link:hover {
  display: block;
  a {
    height: 35px;
    line-height: 28px;
    &:hover {
      background-color: #dcdcdc;
    }
  }
}
.dropdown > .dropdown-toggle:active {
  /*Without this, clicking will make it sticky*/
  pointer-events: none;
}
.dropdown-item {
  display: block;
  width: 100%;
  background-color: transparent;
  border: 0;
  font-size: 13px;
}

//dropright
.dropright {
  padding: 0;
  height: 35px;
  line-height: 0px;
  a {
    padding: 4px 24px;
    width: 100%;
    height: 35px;
    line-height: 30px;
    background-color: transparent;
  }
}
.dropdown-toggle::after,
.dropdown-toggle::before {
  display: none;
}
