<div class="fixed-top header d-flex">
  <div class="d-flex">
    <img alt="logo-minefi" src="assets/images/logo-minefi.jpg" />
    <h5>MISTERE DE L'ECONOMIE ET DES FINANCES</h5>
  </div>
</div>
<nav class="navbar navbar-expand-lg navbar-light fixed-top" aria-label="">
  <button
    class="navbar-toggler"
    type="button"
    data-toggle="collapse"
    data-target="#navbarSupportedContent"
    aria-controls="navbarSupportedContent"
    aria-expanded="false"
    aria-label="Toggle navigation"
  >
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse nav-list" id="navbarSupportedContent">
    <ul class="navbar-nav">
      <li *ngIf="isAuthentiticated" class="right-header list main_nav_list_item home" (click)="home()">
        <a class="home pl-3 pr-3"> Accueil </a>
      </li>
      <li class="right-header list main_nav_list_item administration">
        <div class="dropdown" *ngIf="isAuthentiticated">
          <div class="dropdown">
            <a
              class="administration btn dropdown-toggle"
              type="button"
              id="dropdownMenuButton"
              data-toggle="dropdown"
              aria-haspopup="true"
              aria-expanded="false"
            >
              Rapport
            </a>
            <div class="dropdown-menu dropdown-menu-left" aria-labelledby="dropdownMenuButton">
              <a class="dropdown-item" href="#">Etats des objets mobilier</a>
              <a class="dropdown-item" href="#">Statistiques des dépôts</a>
              <a class="dropdown-item" href="#">Localisations des dépôts</a>
              <a class="dropdown-item" href="#">Résultat des récolements</a>
              <a class="dropdown-item" href="#">Etat d'inventaire</a>
            </div>
          </div>
          <!--          <a-->
          <!--            class="administration btn dropdown-toggle"-->
          <!--            type="button"-->
          <!--            id="dropdownMenuButton"-->
          <!--            data-toggle="dropdown"-->
          <!--            aria-haspopup="true"-->
          <!--            aria-expanded="false"-->
          <!--          >-->
          <!--            Administration-->
          <!--          </a>-->
          <!--          <div class="dropdown-menu dropdown-menu-left" aria-labelledby="dropdownMenuButton">-->
          <!--            <div class="dropright dropdown-item">-->
          <!--              <a-->
          <!--                type="button"-->
          <!--                id="dropdownMenuButton"-->
          <!--                data-toggle="dropdown"-->
          <!--                aria-haspopup="true"-->
          <!--                aria-expanded="false"-->
          <!--              >-->
          <!--                Gestion des tables de réferences-->
          <!--              </a>-->
          <!--              <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">-->
          <!--                <a class="dropdown-item" href="#">Domaines</a>-->
          <!--                <a class="dropdown-item" href="#">Dénominations</a>-->
          <!--                <a class="dropdown-item" href="#">Matières</a>-->
          <!--                <a class="dropdown-item" href="#">Styles</a>-->
          <!--                <a class="dropdown-item" href="#">Epoques</a>-->
          <!--              </div>-->
          <!--            </div>-->
          <!--            <a class="dropdown-item" href="#">Paramétrage des alertes</a>-->
          <!--          </div>-->
        </div>
      </li>

      <li class="right-header list main_nav_list_item rapport" *ngIf="isAuthentiticated" (click)="goToWorkOfArts()">
        <a class="pl-3 pr-3"> Oeuvres d'art </a>
      </li>
      <li *ngIf="isAuthentiticated" class="right-header list main_nav_list_item">
        <a class="pl-3 pr-3"> Portail </a>
      </li>
    </ul>
    <div></div>
  </div>
</nav>
