<div
  class="loading-data container-fluid d-flex justify-content-center align-items-center"
  id="loading_data"
  *ngIf="loadingData"
>
  <p-progressSpinner></p-progressSpinner>
</div>
<div class="container-fluid d-flex">
  <div class="second-bloc">
    <div class="col-md-12 cadre">
      <div class="col-md-12 main-info d-flex">
        <div class="col-md-12 row">
          <div class="bloc-header" [class.sticky]="sticky" #stickyMenu>
            <div class="first-bloc col-md-12 row">
              <a href="portail"><i class="zmdi zmdi-fast-rewind"></i> Retour aux résultats de la recherche</a>

              <div class="d-flex justify-content-end">
                <div class="toggle-btn d-flex" (click)="dynamic = !dynamic">
                  <div class="d-flex">
                    <div class="btn-switch" [class.active]="!dynamic">Descriptifs</div>
                    <div class="btn-switch" [class.active]="dynamic">Actions</div>
                  </div>
                </div>
              </div>

              <div style="width: 10rem"></div>
            </div>
            <div class="first-bloc col-md-12 row justify-content-between">
              <a (click)="previousId && paginate(-1, previousId)" [class.disabled]="!previousId"
                ><i class="zmdi zmdi-caret-left"></i> Précédant | {{ previousId ? previousId : '0000' }}</a
              >
              <span class="titre1">N° inventaire {{ artWorkId }}</span>
              <a (click)="nextId && paginate(1, nextId)" [class.disabled]="!nextId"
                >{{ nextId ? nextId : '0000' }} | Suivant <i class="zmdi zmdi-caret-right"></i
              ></a>
            </div>
            <div class="title-box d-flex flex-wrap justify-content-between">
              <div class="titre p-0 d-flex justify-content-between justify-content-md-start">
                Titre de l'Oeuvre
                <span
                  class="type"
                  [ngStyle]="addProperty ? { backgroundColor: '#00D6D4' } : { backgroundColor: '#0080FF' }"
                  >{{ addProperty ? 'Propriété' : 'Dépot' }}</span
                >
              </div>
              <div class="col-md-4 col-xs-12 mt-2 mt-md-0 icons p-0">
                <i class="fas fa-archive"></i>
                <i class="far fa-file-excel" *ngIf="!dynamic"></i>
                <i class="fas fa-print" (click)="downloadPDF()"></i>
                <i class="far fa-edit" (click)="onEditMode()" *ngIf="!dynamic"></i>
              </div>
            </div>
          </div>

          <div class="col-md-12 mt-2">
            <div *ngIf="!dynamic">
              <div
                class="flex-column-reverse d-flex top-bloc flex-sm-column-reverse flex-md-column-reverse flex-lg-row"
              >
                <div class="col-lg-4 col-md-12 col-sm-12 col-12 image-container">
                  <div class="detail-image">
                    <div class="col-md-12 d-flex p-0 img-wrapper mt-2 mt-sm-0">
                      <app-item-images
                        [existingPhotographies]="photographies"
                        [photographiesForm]="photographiesForm"
                        [edit]="edit"
                        [images]="photographies"
                        [artWorkId]="artWorkId"
                        (imgToShow)="src($event)"
                        [parentApi]="getParentApi()"
                        class="col-12"
                      ></app-item-images>
                    </div>
                    <i class="fas fa-eye" title="voir image" (click)="showImg()" *ngIf="photographies.length"></i>
                  </div>
                </div>
                <!--Modal-->
                <div id="image-viewer" [class.active]="openImg">
                  <p class="close" (click)="showImg()">&times;</p>
                  <img [src]="imgSrc" alt="" class="modal-content" id="full-image" />
                </div>

                <div class="col-lg-8 col-md-12 p-0 pl-lg-4">
                  <div class="col-12 p-0">
                    <div class="d-flex justify-content-between">
                      <nav ngbNav #nav="ngbNav" class="nav-tabs" [destroyOnHide]="false">
                        <ng-container ngbNavItem>
                          <a ngbNavLink><i class="far fa-file-alt mr-2"></i>Descriptifs physiques</a>
                          <ng-template ngbNavContent>
                            <app-descritif
                              *ngIf="workArt"
                              [edit]="edit"
                              [artwork]="workArt"
                              [addProperty]="addProperty"
                              [addDepot]="false"
                              [descriptifForm]="descriptifForm"
                              (attributes)="getAttributes($event)"
                            ></app-descritif>
                          </ng-template>
                        </ng-container>
                        <ng-container ngbNavItem>
                          <a ngbNavLink><i class="fas fa-info-circle mr-2"></i>Descriptifs juridiques</a>
                          <ng-template ngbNavContent>
                            <app-status
                              [edit]="edit"
                              [depositStatusForm]="depositStatusForm"
                              [propertyStatusForm]="propertyStatusForm"
                              [addDeposit]="addDepot"
                              [addProperty]="addProperty"
                              [statusData]="status"
                            ></app-status>
                          </ng-template>
                        </ng-container>
                      </nav>
                    </div>

                    <div [ngbNavOutlet]="nav" class=""></div>
                    <div *ngIf="edit" class="col-md-12 p-0" style="display: flex; flex-direction: row-reverse">
                      <button class="btn valid-btn" (click)="onSave()">Enregistrer</button>
                      <button class="btn btn-action cancel-btn" (click)="onCancel()">Annuler</button>
                    </div>
                  </div>
                  <div class="d-flex col-12 p-0 flex-column">
                    <div class="d-flex col-12 p-0 mt-4 justify-content-between flex-column flex-md-row">
                      <div class="attachments-container mr-md-2 mr-0 col-md-7 p-0">
                        <app-attachments
                          style="width: 100%"
                          [attachmentForm]="attachmentForm"
                          [add]="false"
                          [itemDetails]="true"
                          [existingAttachments]="attachments"
                          [artwork]="workArt"
                          [parentApi]="getParentApi()"
                        ></app-attachments>
                      </div>
                      <div class="attachments-container ml-2 col-md-5 p-0 mt-2 mt-xl-0">
                        <app-links
                          style="width: 100%"
                          [parentLink]="parent"
                          [children]="children"
                          [add]="false"
                          [itemDetails]="true"
                          [linkArtWorkForm]="linkArtWorkForm"
                          [editWorkArtLinks]="editLink"
                          [loadingData]="btnLoading"
                          (update)="onSave($event)"
                          (deleteParent)="onSave($event,true)"
                        ></app-links>
                      </div>
                    </div>
                    <div class="attachments-container col-md-12 p-0 row m-0 align-baseline">
                      <app-hypertext-links
                        style="width: 100%"
                        [add]="false"
                        [itemDetails]="true"
                        [linksForm]="linksForm"
                        [existingLinks]="hypertextLinks"
                        [artwork]="workArt"
                        [parentApi]="getParentApi()"
                        class="mt-2 mb-2"
                      >
                      </app-hypertext-links>
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <div class="col-md-12 p-0" *ngIf="dynamic" style="width: 100%">
              <app-dynamic [dynamicState]="dynamic" (dynamic)="f1($event)"></app-dynamic>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<div hidden>
  <div id="appItemDetailsPdf">
    <br />
    <app-item-details-pdf [artWorksToPrint]="artWorksToPrint"></app-item-details-pdf>
    <br />
  </div>
</div>
<p-toast></p-toast>
