.float {
  //position: fixed;
  width: 40px;
  height: 40px;
  //bottom: 0;
  //left: 0;
  opacity: 0.5;
  //border-radius: 50px;
  border-radius: 50px 0 0 50px;
  padding: 1%;
  text-align: center;
  box-shadow: 2px 2px 3px #999;
  z-index: 10;
  display: flex;
  align-items: center;
  margin-right: 20px;
}
a.float:hover {
  opacity: 1;
}
.my-float {
  font-size: 18px;
  //margin-top: 12px;
}

a.float + div.label-container {
  visibility: hidden;
  opacity: 0;
  transition: visibility 0s, opacity 0.5s ease;
}

a.float:hover + div.label-container {
  visibility: visible;
  opacity: 1;
  z-index: 11;
}

li a {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-top: 10px;
  padding-bottom: 5px;
}
a:hover {
  color: #004d9d !important;
}
a:not([href]) {
  background-color: transparent !important;
}
button {
  background: transparent;
  border: none;
  cursor: pointer;
  outline: none;
}
.titre {
  //font-family: 'BNPP Sans', Arial, Helvetica, sans-serif;
  margin: 0;
  font-size: 2.4375rem;
  font-weight: 700;
  font-family: Arial, Helvetica, sans-serif;
}

.container-fluid {
  margin-top: 20px;
  padding: 0 20px;
  p {
    font-size: 14px;
    margin-top: 5px;
    margin-bottom: 5px;
  }
  .inclinee {
    transform: rotate(-20deg);
    margin-bottom: -35px;
    margin-top: -35px;
    border: 1px solid #e6e6ea;
    background-color: #e6e6ea;
    width: 5px;
  }
  .first-bloc {
    margin-bottom: 20px;
    .cadre {
      display: flex;
      justify-content: space-between;
      flex-wrap: wrap;
      margin-bottom: 5px;
    }

    a {
      font-size: 12px;
      cursor: pointer;
      color: black;
    }
  }
  .second-bloc {
    .detail-image {
      margin-bottom: 10px;
      display: flex;
      justify-content: flex-end;
    }
    .cadre {
      font-family: sans-serif;
      padding: 0;
      display: flex;
      justify-content: center;
    }
    .dock-menu {
      border: 1px solid black;
      margin-left: 15px;
      margin-top: 15px;
      display: flex;
      justify-content: center;
    }
    .card {
      margin-bottom: 20px;
      border-left: 1px solid black;
      border-right: 1px solid black;
      border-bottom: 1px solid black;
    }
    .card-header {
      background-color: #0080ff;
      color: white;
      text-align: left;
      border-bottom: 1px solid black;
      display: flex;
    }
    h5 {
      color: white;
    }
    .icons {
      display: flex;
      flex-direction: row-reverse;
    }
  }
  .third-bloc,
  .firth-bloc {
    background-color: white;
    margin-bottom: 5px;
    display: flex;
    border: 1px solid black;
    margin-left: 15px;
    margin-top: 20px;
    justify-content: center;
  }
  .firth-bloc {
    padding-top: 35px;
  }

  @media (max-width: 375px) {
    padding: 0 10px;
  }
}

/** second bloc **/

.main-info {
  background-color: white;
  margin: 0 0 5px 0;
  padding: 10px 1% 10px 2%;
  display: flex;
  justify-content: space-between;
  .title {
    display: flex;
    justify-content: space-between;
    height: 50px;
    p {
      font-size: 24px;
      color: #5a4b5f;
    }
    .alert {
      .dropdown-container {
        .drop-bloc {
          .export-button {
            border: none;
            &::after {
              display: none;
            }
          }
          button {
            height: 30px;
            border: 1px solid #ced4da;
            line-height: 0;
            font-size: 12px;
            width: 25px;
            margin-right: 15px;
            padding: 3px;
            &:focus,
            &:active {
              outline: none;
              box-shadow: none;
            }
          }
        }
        i {
          font-size: 20px;
          color: #407ca8;
          &:hover,
          &:active,
          &:focus {
            color: white;
          }
        }
        .list::after {
          display: none;
        }
        button:hover,
        button:active,
        button:focus {
          background-color: #407ca8;
          color: white;
        }
      }
    }
  }
  @media (max-width: 375px) {
    .title {
      height: auto;
    }
    .inclinee {
      display: none;
    }
  }
}
.details-bloc {
  display: flex;
  .details {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    width: 100%;
    p span {
      color: #aeaeae;
      font-size: 12px;
    }
  }
}
.picture {
  margin-right: 4%;
  img {
    width: 190px;
    height: 190px;
    border-radius: 50%;
    margin-top: 23px;
    border: 5px solid #fafafa;
    box-shadow: 0 0 0.5rem #babbbc;
    cursor: pointer;
    &:hover {
      transform: scale(1.3);
    }
  }
}

/** end of second bloc **/

/** third bloc **/

li a i:hover {
  color: #0061a7 !important;
}
.container {
  margin: 0;
  padding: 10px 0 0 0;
  .first-page {
    margin-left: 20% !important;
    width: 100%;
  }
  ul {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    flex-wrap: wrap;
    li {
      margin: 0 20px;
      cursor: pointer;
      a {
        height: 55px;
        width: 55px;
        color: #407ca8;
        padding: 10px 20px;
        border: 1px solid #407ca8;
        border-radius: 50%;
        i {
          color: #407ca8;
          margin-top: -3px;
          font-size: 40px;
        }
      }
      p {
        font-size: 12px;
        margin-left: 9px;
        color: black;
        font-weight: bold;
      }
    }
  }
}
.first-page .first-icon,
.second-page .second-icon,
.third-page .third-icon,
.firth-page .firth-icon,
.fifth-page .fifth-icon {
  a {
    height: 55px;
    width: 55px;
    background-color: #00d6d4 !important;
    padding: 10px 20px;
    border: 1px solid #00d6d4 !important;
    border-radius: 50%;
    i {
      color: white !important;
      margin-top: -3px;
    }
  }
}

/** end of third bloc **/

/** firth bloc **/
.first-page-bloc {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  .detail-bloc {
    position: relative;
    .image-bloc {
      position: absolute;
      right: 40px;
      top: 10px;
      img {
        width: 300px;
        height: 200px;
        border-radius: 3px;
        &:hover {
          transform: scale(1.3);
        }
      }
    }
  }
  .accordion-bloc {
    margin-left: 4%;
    padding-top: 10px;
    padding-right: 10px;
    display: none;
    .details-bloc {
      display: flex;
      justify-content: space-between;
      background-color: #1f2b50;
      .details {
        font-weight: bold;
        color: white;
      }
      .zmdi {
        color: white;
      }
    }
    .paragraph {
      font-size: 14px;
    }
  }

  @media (max-width: 375px) {
    .detail-bloc .image-bloc {
      position: relative;
      margin-bottom: 20px;
    }
  }
}

.card-body {
  padding-left: 30px;
  font-size: 14px;
}
::ng-deep .card-header {
  background-color: #1f2b50;
  border: 1px solid #1f2b50;
}
::ng-deep .btn-link {
  font-size: 12px;
  font-style: italic;
  width: 100%;
}

.firth-page-bloc {
  width: 90%;
  background-color: white;
}

.fifth-page-bloc {
  height: 460px;
  margin-bottom: 20px;
  @media (max-width: 600px) {
    height: 800px;
  }
}

/** end firth bloc **/
.fa-copy,
.fa-archive {
  margin-top: 5px;
  font-size: 20px;
  color: #407ca8;
  cursor: pointer;
}
.list-group-item {
  padding: 10px 20px;
  font-size: 14px;
  cursor: pointer;
  i {
    margin-right: 10px;
  }
  &:hover {
    background-color: #a6a6a6;
  }
}
