.bloc-header {
  //position: fixed;
  //z-index: 100;
  //background-color: white;
  ////margin-top: 170px;
  ////margin-left: 10px;
  ////width:93%;
  //top:0;
  //padding: 1%;
  position: fixed;
  z-index: 10;
  background-color: white;
  top: 0;
  padding: 1%;
  width: 100%;
  left: 0;
}

// switch btn
.switch {
  position: relative;
  display: inline-block;
  width: 35px;
  height: 10px;
  margin: 0 5px;
}
.btn-slider {
  font-size: 12px;
  color: gray;
  align-items: baseline;
}
.switch input {
  display: none;
  background-color: #ccc;
}

.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #ccc;
  -webkit-transition: 0.4s;
  transition: 0.4s;
}

.slider:before {
  position: absolute;
  content: "";
  height: 20px;
  width: 20px;
  left: 0px;
  right: 0px;
  bottom: -3px;
  background-color: #0466c8;
  -webkit-transition: 0.4s;
  transition: 0.4s;
}

input:checked + .slider:before {
  -webkit-transform: translateX(20px);
  -ms-transform: translateX(20px);
  transform: translateX(20px);
}

/* Rounded sliders */
.slider.round {
  border-radius: 20px;
}

.slider.round:before {
  border-radius: 50%;
}
.fullwidth {
  padding-left: 100px;
}
.width {
  padding-left: 300px;
}
.valid-btn {
  background-color: #0080ff;
  color: white;
  margin-left: 10px;
}
.cancel-btn {
  background-color: #6c7681c9;
  color: white;
}
.float {
  height: 3.125vw;
  width: 17vw;
  border-radius: 50px 0 0 50px;
  padding: 1%;
  color: white;
  z-index: 10;
  display: flex;
  align-items: center;
  //margin-right: 15px;
  cursor: pointer;
  i {
    margin: 20px;
    font-size: 24px;
  }
  span {
    font-size: 18px;
  }
}
.float-collapsed {
  justify-content: center;
  height: 40px;
  width: 40px;
  border-radius: 50px 0 0 50px;
  padding: 1%;
  color: white;
  z-index: 10;
  display: flex;
  align-items: center;
  cursor: pointer;
  i {
    margin-left: 0px;
    font-size: 24px;
  }
  span {
    font-size: 18px;
  }
}

.my-float {
  font-size: 18px;
  //margin-top: 12px;
}

a.float + div.label-container {
  visibility: hidden;
  opacity: 0;
  transition: visibility 0s, opacity 0.5s ease;
}

a.float:hover + div.label-container {
  visibility: visible;
  opacity: 1;
  z-index: 11;
}

li a {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-top: 10px;
  padding-bottom: 5px;
  //width:5%;
  //height: 5%;
}
//a:hover {
//  color: #004d9d !important;
//}
//a:not([href]) {
//  background-color: transparent !important;
//}
button {
  background: transparent;
  border: none;
  cursor: pointer;
  outline: none;
}
.titre {
  //font-family: 'BNPP Sans', Arial, Helvetica, sans-serif;
  margin: 0;
  font-size: 1.5rem;
  color: #0466c8;
  font-weight: 700;
  font-family: Arial, Helvetica, sans-serif;
}

.container-fluid {
  margin-top: 20px;
  padding: 0 20px;
  p {
    font-size: 14px;
    margin-top: 5px;
    margin-bottom: 5px;
  }
  .inclinee {
    transform: rotate(-20deg);
    margin-bottom: -35px;
    margin-top: -35px;
    border: 1px solid #e6e6ea;
    background-color: #e6e6ea;
    width: 5px;
  }
  .first-bloc {
    margin-bottom: 20px;
    display: flex;
    justify-content: space-between;
    .cadre {
      display: flex;
      justify-content: space-between;
      flex-wrap: wrap;
      margin-bottom: 5px;
    }

    a {
      font-size: 12px;
      cursor: pointer;
      color: black;
    }
  }
  .second-bloc {
    .dock-menu {
      background-color: #f1f1f18f;
      padding: 0.3%;
      .container ul {
        justify-content: space-around;
      }
    }

    .detail-image {
      margin-bottom: 10px;
      display: flex;
      justify-content: flex-end;
    }
    .cadre {
      font-family: sans-serif;
      padding: 0;
      display: flex;
      justify-content: center;
    }
    .card {
      margin-bottom: 20px;
      border-left: 1px solid black;
      border-right: 1px solid black;
      border-bottom: 1px solid black;
    }
    .card-header {
      background-color: #0080ff;
      color: white;
      text-align: left;
      border-bottom: 1px solid black;
      display: flex;
    }
    h5 {
      color: white;
    }
    .icons {
      display: flex;
      flex-direction: row-reverse;
      align-items: baseline;
      i {
        font-size: 25px;
      }
    }
  }
  .third-bloc,
  .firth-bloc {
    background-color: white;
    margin-bottom: 5px;
    display: flex;
    border: 1px solid #dee2e6;
    border-radius: 25px;
    //margin-left: 15px;
    margin-top: 20px;
    justify-content: center;
  }
  .firth-bloc {
    padding-top: 35px;
  }

  @media (max-width: 375px) {
    padding: 0 10px;
  }
}
.btn {
  border: 1px solid;
  width: 25%;
  font-size: 12px;
}
/** second bloc **/

.main-info {
  background-color: white;
  margin: 0 0 5px 0;
  padding: 10px 1% 10px 2%;
  display: flex;
  justify-content: space-between;
  .title {
    display: flex;
    justify-content: space-between;
    height: 50px;
    p {
      font-size: 24px;
      color: #5a4b5f;
    }
    .alert {
      .dropdown-container {
        .drop-bloc {
          .export-button {
            border: none;
            &::after {
              display: none;
            }
          }
          button {
            height: 30px;
            border: 1px solid #ced4da;
            line-height: 0;
            font-size: 12px;
            width: 25px;
            margin-right: 15px;
            padding: 3px;
            &:focus,
            &:active {
              outline: none;
              box-shadow: none;
            }
          }
        }
        i {
          font-size: 20px;
          color: #407ca8;
          &:hover,
          &:active,
          &:focus {
            color: white;
          }
        }
        .list::after {
          display: none;
        }
        button:hover,
        button:active,
        button:focus {
          background-color: #407ca8;
          color: white;
        }
      }
    }
  }
  @media (max-width: 375px) {
    .title {
      height: auto;
    }
    .inclinee {
      display: none;
    }
  }
}
.details-bloc {
  display: flex;
  .details {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    width: 100%;
    p span {
      color: #aeaeae;
      font-size: 12px;
    }
  }
}
/* The Modal (background) */
#image-viewer.active {
  display: flex;
  flex-direction: column;
  position: fixed;
  z-index: 120;

  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
  background-color: rgb(0, 0, 0);
  background-color: rgba(0, 0, 0, 0.9);
}
#image-viewer {
  display: none;
}
#image-viewer .close {
  position: absolute;
  top: 15px;
  right: 35px;
  color: #ffffff;
  font-size: 30px;
  font-weight: 500;
  transition: 0.3s;
}
#image-viewer .close:hover,
#image-viewer .close:focus {
  color: #9fffeb;
  text-decoration: none;
  cursor: pointer;
}
.modal-content {
  margin: auto;
  display: block;
  width: 80%;
  animation-name: zoom;
  animation-duration: 0.6s;
}
@keyframes zoom {
  from {
    transform: scale(0);
  }
  to {
    transform: scale(1);
  }
}

//.picture {
//  margin-right: 4%;
//  img {
//    width: 190px;
//    height: 190px;
//    border-radius: 50%;
//    margin-top: 23px;
//    border: 5px solid #fafafa;
//    box-shadow: 0 0 0.5rem #babbbc;
//    cursor: pointer;
//    &:hover {
//      transform: scale(1.3);
//    }
//  }
//}

/** end of second bloc **/

/** firth bloc **/
.first-page-bloc {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  .detail-bloc {
    position: relative;
    .image-bloc {
      position: absolute;
      right: 40px;
      top: 10px;
      img {
        width: 300px;
        height: 200px;
        border-radius: 3px;
        &:hover {
          transform: scale(1.3);
        }
      }
    }
  }
  .accordion-bloc {
    margin-left: 4%;
    padding-top: 10px;
    padding-right: 10px;
    display: none;
    .details-bloc {
      display: flex;
      justify-content: space-between;
      background-color: #1f2b50;
      .details {
        font-weight: bold;
        color: white;
      }
      .zmdi {
        color: white;
      }
    }
    .paragraph {
      font-size: 14px;
    }
  }

  @media (max-width: 375px) {
    .detail-bloc .image-bloc {
      position: relative;
      margin-bottom: 20px;
    }
  }
}

.card-body {
  padding-left: 30px;
  font-size: 14px;
}
::ng-deep .card-header {
  background-color: #1f2b50;
  border: 1px solid #1f2b50;
}
::ng-deep .btn-link {
  font-size: 12px;
  font-style: italic;
  width: 100%;
}

.firth-page-bloc {
  width: 90%;
  background-color: white;
}

.fifth-page-bloc {
  height: 460px;
  margin-bottom: 20px;
  @media (max-width: 600px) {
    height: 800px;
  }
}

/** end firth bloc **/
.fa-copy,
.fa-archive {
  margin-top: 5px;
  font-size: 20px;
  color: #407ca8;
  cursor: pointer;
}
.list-group-item {
  padding: 10px 20px;
  font-size: 14px;
  cursor: pointer;
  i {
    margin-right: 10px;
  }
  &:hover {
    background-color: #a6a6a6;
  }
}
.second-bloc {
  width: 100%;
  .icons {
    display: flex;
    flex-direction: row-reverse;
    i {
      font-size: 30px;
      margin-top: 0 !important;
      margin-left: 25px;
      color: #0466c8;
    }
  }
}
