<div class="container-fluid d-flex">
  <div class="second-bloc">
    <div class="col-md-12 cadre">
      <div class="col-md-12 main-info d-flex">
        <div class="col-md-12 row">
          <div class="bloc-header" [class.sticky]="sticky" [ngClass]="menuClosed ? 'fullwidth' : 'width'" #stickyMenu>
            <div class="first-bloc col-md-12 row">
              <a href="portail"><i class="zmdi zmdi-fast-rewind"></i> Retour aux résultats de la recherche</a>

              <div class="d-flex justify-content-end">
                <div class="toggle-btn d-flex" (click)="dynamic = !dynamic">
                  <div class="d-flex">
                    <div class="btn-switch" [class.active]="!dynamic">Descriptifs</div>
                    <div class="btn-switch" [class.active]="dynamic">Actions</div>
                  </div>
                </div>
              </div>

              <div style="width: 10rem"></div>
            </div>
            <div class="first-bloc col-md-12 row justify-content-between">
              <a href="#"><i class="zmdi zmdi-caret-left"></i> Précédant | 144</a>
              <span class="titre1">N° inventaire 145</span>
              <a href="#">146 | Suivant <i class="zmdi zmdi-caret-right"></i></a>
            </div>

            <div class="col-md-12 title-box d-flex">
              <div class="col-8 titre p-0 d-flex">
                Titre de l'Oeuvre
                <span
                  class="type"
                  [ngStyle]="type == 'propiete' ? { backgroundColor: '#00D6D4' } : { backgroundColor: '#0080FF' }"
                  >{{ type == 'propiete' ? 'Propriété' : 'Dépot' }}</span
                >
              </div>
              <div class="col-4 icons p-0">
                <i class="fas fa-archive"></i>
                <i class="far fa-file-excel" *ngIf="!dynamic"></i>
                <i class="fas fa-print"></i>
                <i class="far fa-edit" (click)="onEditMode()" *ngIf="!dynamic"></i>
              </div>
            </div>
          </div>

          <div class="col-md-12 mt-2">
            <div *ngIf="!dynamic">
              <div class="d-flex top-bloc">
                <div class="col-4 image-container">
                  <div class="row detail-image">
                    <div class="col-md-12 d-flex p-0">
                      <app-item-images
                        [photographiesForm]="photographiesForm"
                        [edit]="edit"
                        [images]="photographies"
                        (imgToShow)="src($event)"
                        class="col-12"
                      ></app-item-images>
                    </div>
                    <i class="fas fa-eye" title="voir image" (click)="showImg()"></i>
                  </div>
                </div>
                <!--Modal-->
                <div id="image-viewer" [class.active]="openImg">
                  <p class="close" (click)="showImg()">&times;</p>
                  <img [src]="imgSrc" alt="" class="modal-content" id="full-image" />
                </div>

                <div class="col-8 form-bloc pr-0">
                  <div class="col-12 p-0">
                    <div class="d-flex justify-content-between">
                      <nav ngbNav #nav="ngbNav" class="nav-tabs">
                        <ng-container ngbNavItem>
                          <a ngbNavLink><i class="far fa-file-alt mr-2"></i>Descriptifs physiques</a>
                          <ng-template ngbNavContent>
                            <app-descritif [edit]="edit"
                                           [addProperty]="false"
                                           [addDepot]="false"
                                           [descriptifForm]="descriptifForm"
                            ></app-descritif>
<!--                            <app-add-descriptions-->
<!--                              [edit]="edit"-->
<!--                              [addDepot]="false"-->
<!--                              [descriptifForm]="descriptifForm"-->
<!--                            ></app-add-descriptions>-->
                          </ng-template>
                        </ng-container>
                        <ng-container ngbNavItem>
                          <a ngbNavLink><i class="fas fa-info-circle mr-2"></i>Descriptifs juridiques</a>
                          <ng-template ngbNavContent>
                            <app-status
                              [edit]="edit"
                              [depositStatusForm]="depositStatusForm"
                              [addDeposit]="true"
                            ></app-status>
                          </ng-template>
                        </ng-container>
                      </nav>
                    </div>

                    <div [ngbNavOutlet]="nav" class=""></div>
                    <div *ngIf="edit" class="col-md-12 p-0" style="display: flex; flex-direction: row-reverse">
                      <button class="btn valid-btn" (click)="onSave()">Enregistrer</button>
                      <button class="btn btn-action cancel-btn">Annuler</button>
                    </div>
                  </div>
                  <div class="d-flex col-12 p-0 flex-column">
                    <div class="d-flex col-12 p-0 mt-4 justify-content-between">
                      <div class="attachments-container mr-2 col-md-7 p-0">
                        <app-attachments style="width: 100%"></app-attachments>
                      </div>
                      <div class="attachments-container ml-2 col-md-5 p-0">
                        <app-links style="width: 100%"></app-links>
                      </div>
                    </div>
                    <div class="attachments-container col-md-12 p-0 row m-0 align-baseline">
                      <app-hypertext-links style="width: 100%"></app-hypertext-links>
                    </div>
                  </div>
                </div>
              </div>

              <div class="d-flex justify-content-md-between">
                <div class="col-md-10 p-0 firth-bloc">
                  <div *ngIf="page == 1" class="first-page-bloc col-md-12">
                    <div class="col-md-12 mb-2 d-flex justify-content-end">
                      <i class="fas fa-edit pointer-event" (click)="onEditMode()"></i>
                    </div>
                    <div class="accordion-bloc col-sm-11 col-lg-4">
                      <ngb-accordion
                        #acc="ngbAccordion"
                        [closeOthers]="true"
                        activeIds="toggle-1"
                        *ngFor="let detail of moreDetails; let i = index"
                      >
                        <ngb-panel id="toggle-{{ i }}">
                          <ng-template ngbPanelTitle>
                            <div class="details-bloc">
                              <div class="d-flex details">{{ detail }}</div>
                              <div class="d-flex"><i class="zmdi zmdi-caret-down"></i></div>
                            </div>
                          </ng-template>
                          <ng-template ngbPanelContent>
                            <p class="paragraph">
                              Anim pariatur cliche reprehenderit, enim eiusmod high life accusamus terry richardson ad
                              squid. 3 wolf moon officia aute, non cupidatat skateboard dolor brunch. Food truck quinoa
                              nesciunt laborum eiusmod. Brunch 3 wolf moon tempor, sunt aliqua put a bird on it squid
                              single-origin coffee nulla assumenda shoreditch et. Nihil anim keffiyeh helvetica, craft
                              beer labore wes anderson cred nesciunt sapiente ea proident. Ad vegan excepteur butcher
                              vice lomo. Leggings occaecat craft beer farm-to-table, raw denim aesthetic synth nesciunt
                              you probably haven't heard of them accusamus labore sustainable VHS.
                            </p>
                          </ng-template>
                        </ngb-panel>
                      </ngb-accordion>
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <div class="col-md-12 p-0" *ngIf="dynamic" style="width: 100%">
              <app-dynamic [dynamicState]="dynamic" (dynamic)="f1($event)"></app-dynamic>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
