<div class="container-fluid">
  <div class="first-bloc">
    <div class="cadre col-md-12" aria-label="">
      <div>
        <a href="#"><i class="zmdi zmdi-fast-rewind"></i> Retour aux résultats de la recherche</a>
      </div>
      <div>
        <a href="#"><i class="zmdi zmdi-caret-left"></i> Précédant</a>
        |
        <a href="#">Suivant <i class="zmdi zmdi-caret-right"></i></a>
      </div>
    </div>
  </div>
  <div class="second-bloc">
    <div class="col-md-12 cadre">
      <div class="col-md-12 main-info">
        <div class="col-md-9">
          <div class="title">
            <p>La joconde</p>
            <div class="alert"><i class="zmdi zmdi-alert-polygon"></i> Retard à la reception</div>
          </div>
          <div class="info">
            <div class="creator-bloc">
              <p class="label"><strong>Créateur : </strong></p>
              <p>Léonard de Vinci</p>
            </div>
            <div class="creator-bloc">
              <p class="label"><strong>Déposant : </strong></p>
              <p>lorem</p>
            </div>
          </div>
          <div class="details-bloc">
            <div class="details">
              <p class="col-sm-2 col-md-3">
                <span>Depuis<br /></span> 1896
              </p>
              <p class="col-sm-2 col-md-3">
                <span>Position<br /></span> RDC Chambre 1-2
              </p>
              <p class="col-sm-2 col-md-3">
                <span>Contrôleur<br /></span> Gabriel Garcia
              </p>
              <p class="col-sm-2 col-md-3">
                <span>Quantité<br /></span> 5
              </p>
              <p class="col-sm-2 col-md-3">
                <span>Référence<br /></span> S.988
              </p>
              <p class="col-sm-2 col-md-3">
                <span>Siecle<br /></span> Marbre. 1916-1918
              </p>
              <p class="col-sm-2 col-md-3">
                <span>Matériau<br /></span> Marbre
              </p>
              <p class="col-sm-2 col-md-3">
                <span>Dimensions<br /></span>H. 94 cm ; L. 82,5 cm ; P. 54,9 cm
              </p>
            </div>
          </div>
        </div>

        <div class="inclinee"></div>
        <div class="col-md-2 picture" style="">
          <img src="assets/images/573.jpg" alt="" />
        </div>
      </div>
    </div>

    <div class="col-md-12 header-section dock-menu third-bloc">
      <div class="container">
        <ul
          class="navbar-nav ml-auto"
          [ngClass]="{
            'first-page': page == 1,
            'second-page': page == 2,
            'third-page': page == 3,
            'firth-page': page == 4,
            'fifth-page': page == 5
          }"
        >
          <li class="nav-item active first-icon">
            <a (click)="page1()" class="nav-link text-uppercase font-weight-bold">
              <i class="zmdi zmdi-assignment-o zmdi-hc-3x"></i>
            </a>
            <p>Détails</p>
          </li>
          <li class="nav-item second-icon">
            <a (click)="page2()" class="nav-link text-uppercase font-weight-bold">
              <i class="zmdi zmdi-camera zmdi-hc-3x"></i>
            </a>

            <p>Images</p>
          </li>
          <li class="nav-item third-icon">
            <a (click)="page3()" class="nav-link text-uppercase font-weight-bold">
              <i class="zmdi zmdi-calendar zmdi-hc-3x"></i>
            </a>
            <p>Status</p>
          </li>
          <li class="nav-item firth-icon">
            <a (click)="page4()" class="nav-link text-uppercase font-weight-bold">
              <i class="zmdi zmdi-pin zmdi-hc-3x"></i>
            </a>
            <p>Dépôt</p>
          </li>
          <li class="nav-item fifth-icon">
            <a (click)="page5()" class="nav-link text-uppercase font-weight-bold">
              <i class="zmdi zmdi-play zmdi-hc-3x"></i>
            </a>
            <p>Actions</p>
          </li>
        </ul>
      </div>
    </div>
  </div>

  <div class="col-md-12 firth-bloc">
    <div *ngIf="page == 1" class="first-page-bloc">
      <div class="detail-bloc col-sm-11 col-lg-7">
        <div class="image-bloc">
          <img src="assets/images/573a.jpg" alt="" />
        </div>
        <p><strong>Pays :</strong> France</p>
        <p><strong>Création :</strong> 2014</p>
        <p><strong>Nombre d'employés :</strong> 4</p>
        <p><strong>Ville :</strong> Londres et Paris</p>
        <p><strong>Domaine(s) :</strong> Street art | Art contemporain</p>
        <p><strong>Taille du catalogue :</strong> Plus de 1 000 oeuvres</p>
        <p><strong>Fourchette de prix :</strong> de 19 EUR à 12 000 EUR</p>
        <p><strong>Modèle :</strong> Galerie d'art en ligne</p>
        <p><strong>Frais acheteur :</strong> N/A</p>
        <p><strong>Frais vendeur :</strong> ?</p>
        <p><strong>Livraison :</strong></p>
        <p>
          Expédition sous 3 jours par transporteur express avec assurance ad valorem couvrant 100% de la valeur de
          l’oeuvre, ou remise en mains propres à Paris ou à Londres.
        </p>
        <p><strong>Service client :</strong></p>
        <p>
          LiveChat sur le site (réponse presque 24h/24 !), présence physique à Londres (+44 743 7475 630) et Paris (+33
          6 76 18 59 65), possibilité de voir les oeuvres, et réponse sous 24h aux emails (info@kochigallery.com).
        </p>
        <p><strong>Service après-vente :</strong></p>
        <p>Retour gratuit sous 14 jours à compter de la réception de l’oeuvre par l'acheteur.</p>
      </div>
      <div class="accordion-bloc col-sm-11 col-lg-4">
        <ngb-accordion
          #acc="ngbAccordion"
          [closeOthers]="true"
          activeIds="toggle-1"
          *ngFor="let detail of moreDetails; let i = index"
        >
          <ngb-panel id="toggle-{{ i }}"
            ><ng-template ngbPanelTitle>
              <div class="details-bloc">
                <div class="d-flex details">{{ detail }}</div>
                <div class="d-flex"><i class="zmdi zmdi-caret-down"></i></div>
              </div>
            </ng-template>
            <ng-template ngbPanelContent>
              <p class="paragraph">
                Anim pariatur cliche reprehenderit, enim eiusmod high life accusamus terry richardson ad squid. 3 wolf
                moon officia aute, non cupidatat skateboard dolor brunch. Food truck quinoa nesciunt laborum eiusmod.
                Brunch 3 wolf moon tempor, sunt aliqua put a bird on it squid single-origin coffee nulla assumenda
                shoreditch et. Nihil anim keffiyeh helvetica, craft beer labore wes anderson cred nesciunt sapiente ea
                proident. Ad vegan excepteur butcher vice lomo. Leggings occaecat craft beer farm-to-table, raw denim
                aesthetic synth nesciunt you probably haven't heard of them accusamus labore sustainable VHS.
              </p>
            </ng-template>
          </ngb-panel>
        </ngb-accordion>
      </div>
    </div>

    <div class="second-page-bloc" *ngIf="page == 2">
      <app-item-images></app-item-images>
    </div>

    <div class="third-page-bloc" *ngIf="page == 3">
      <app-timeline></app-timeline>
    </div>
    <div class="fifth-page-bloc" *ngIf="page == 4">
      <app-movements></app-movements>
    </div>
    <div class="firth-page-bloc" *ngIf="page == 5">
      <app-actions></app-actions>
    </div>
  </div>
</div>
