.container-fluid {
  .body {
    .vl {
      border-left: 6px solid #e6e6ea;
      height: auto;
      margin-top: -20px;
      margin-bottom: -20px;
    }
    .sidebar {
      .card {
        box-shadow: 0 0px 4px rgba(0, 0, 0, 0.19), 0 3px 15px rgba(0, 0, 0, 0.23);
        border-radius: 0;
        background-color: #f0efef;
        border: 1px solid white;
        margin-bottom: 25px;
        .card-body {
          padding: 0;
        }
      }
      ul {
        list-style: none;
        padding: 0;
        margin-bottom: 0;
        li {
          padding: 10px;
          background-color: #dcdcdc;
          border-right: 2px solid white;
          text-align: center;
          font-weight: bold;
          cursor: pointer;
          &:hover,
          &:active {
            background-color: #c0c0c0;
          }
          a {
            font-size: 18px;
            color: #1f2b50;
          }
          i {
            margin-right: 10px;
          }
        }
      }
    }
    .datagrid-bloc {
      padding: 10px;
      box-shadow: 0 0px 4px rgba(0, 0, 0, 0.19), 0 3px 10px rgba(0, 0, 0, 0.23);
      border-radius: 0;
      border: 1px solid white;
      .search-add-section {
        justify-content: space-between;
      }
    }
  }
  @media (max-width: 420px) {
    flex-wrap: wrap;
    .body {
      padding: 10px;
      margin: 5px 10px;
    }
  }
}
