<div class="container-fluid">
  <div class="bar"></div>
  <div class="body d-flex">
    <div class="col-md-9">
      <div class="add-export-bloc d-flex flex-content-between">
        <div class="d-flex add-bloc">
          <div class="add-button">
            <button class="add-action"><i class="zmdi zmdi-plus"> </i>Ajouter une oeuvre en dépôt</button>
          </div>
          <div class="add-button">
            <button class="add-action"><i class="zmdi zmdi-plus"> </i>Ajouter une oeuvre en propriété</button>
          </div>
        </div>
      </div>
      <div class="section-test mt-3">
        <div class="d-flex sec-1-1">
          <div class="col-md-3">
            <div class="stati bg-turquoise">
              <i class="fa fa-archive" aria-hidden="true"></i>
              <div>
                <b>350</b>
                <span>
                  <a href="work-of-arts-list">
                    <span class="title">Oeuvres archivées</span>
                  </a>
                </span>
              </div>
            </div>
          </div>
          <div class="col-md-3">
            <div class="stati bg-blue">
              <i class="fas fa-thumbtack"></i>
              <div>
                <b>3820</b>
                <span>
                  <a href="work-of-arts-list">
                    <span class="title">Oeuvres en propriété</span>
                  </a>
                </span>
              </div>
            </div>
          </div>
          <div class="col-md-3">
            <div class="stati bg-gray">
              <i class="fas fa-bookmark"></i>
              <div>
                <b>2100</b>
                <span>
                  <a href="work-of-arts-list">
                    <span class="title">Oeuvres en dépôt</span>
                  </a>
                </span>
              </div>
            </div>
          </div>
          <div class="col-md-3">
            <div class="stati bg-red">
              <i class="fas fa-exclamation-triangle mr-2"></i>
              <div>
                <b>50</b>
                <span>
                  <a href="">
                    <span><strong>Alertes </strong>en cours</span>
                  </a>
                </span>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="info-section-1 mt-4">
        <div class="info-card-bloc3 mt-4">
          <div class="card">
            <div class="card-header">Liste des notices en cours de création</div>
            <div class="card-body">
              <div class="d-flex">
                <i class="fas fa-hand-point-right mr-2"></i>
                <a href="#">Réference 602</a>
              </div>
            </div>
            <div class="card-footer">
              <div class="see-more-link">
                <a href="">Voir plus</a>
              </div>
            </div>
          </div>
          <div class="card">
            <div class="card-header">Dernières notices modifiées</div>
            <div class="card-body">
              <div class="d-flex">
                <i class="fas fa-hand-point-right mr-2"></i>
                <a href="#">Réference 458</a>
              </div>
              <div class="d-flex">
                <i class="fas fa-hand-point-right mr-2"></i>
                <a href="#">Réference 459</a>
              </div>
            </div>
            <div class="card-footer">
              <div class="see-more-link">
                <a href="">Voir plus</a>
              </div>
            </div>
          </div>
          <div class="card">
            <div class="card-header alert">Alertes</div>
            <div class="card-body">
              <div class="d-flex alert-body">
                <i class="fas fa-exclamation-triangle mr-2"></i>
                <a href=""><strong>Réference 103 : </strong> Retard à la récéption</a>
              </div>
            </div>
            <div class="card-footer">
              <div class="see-more-link">
                <a href="">Voir plus</a>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="vl"></div>
    <div class="col-md-3 sidebar">
      <div class="card">
        <div class="card-header d-flex">
          <i class="fas fa-location-arrow"></i>
          <span> Accès rapide </span>
        </div>
        <div class="card-body">
          <ul>
            <li><i class="fas fa-angle-right"></i><a href="accueil">Accès au portail</a></li>
            <li><i class="fas fa-angle-right"></i><a href="">Extraction notices</a></li>
            <li><i class="fas fa-angle-right"></i><a href="">Liste des notices</a></li>
          </ul>
        </div>
      </div>
    </div>
  </div>
</div>
