<div class="breadcrumb">
  <a href="home-page">Accueil</a>
  <a href="home-page" class="selected-item" *ngIf="page === 1">
    <i class="fas fa-chevron-right"></i>
    Notices en cours de création
  </a>
  <a href="home-page" class="selected-item" *ngIf="page === 2">
    <i class="fas fa-chevron-right"></i>
    Récolements en cours
  </a>
  <a href="home-page" class="selected-item" *ngIf="page === 3">
    <i class="fas fa-chevron-right"></i>
    Alertes en cours
  </a>
</div>
<div class="container-fluid">
  <div class="body d-flex">
    <div class="col-md-12">
      <div class="mt-3">
        <div class="sidebar">
          <div class="card">
            <div class="card-body">
              <ul class="d-flex">
                <li class="col-md-4" (click)="showRemarquer()">
                  <i class="fas fa-spinner"></i><a>Notices en cours de création</a>
                </li>
                <li class="col-md-4" (click)="showProofs()">
                  <i class="fas fa-layer-group"></i><a>Récolements en cours</a>
                </li>
                <li class="col-md-4" (click)="showAlerts()"><i class="fas fa-bell"></i><a>Alertes en cours</a></li>
              </ul>
            </div>
          </div>
        </div>
        <div class="mt-2 datagrid-bloc" *ngIf="page == 1">
          <div class="d-flex search-add-section">
            <div class="search input-group">
              <input
                class="form-control py-2 border-right-0 border search-form-control"
                type="search"
                value="Rechercher"
                id="example-search-input"
              />
              <span class="input-group-append">
                <button class="btn btn-outline-secondary border-left-0 border" type="button">
                  <i class="fa fa-search"></i>
                </button>
              </span>
            </div>
            <div class="dropdown-container mb-sm-0">
              <div
                ngbDropdown
                placement="bottom-right"
                class="d-inline-block add-button"
                autoClose="outside"
                container="body"
              >
                <button class="btn add-action" id="dropdownBasic" ngbDropdownToggle translate>Ajouter notice</button>
                <div class="py-0 ng-dropdown" ngbDropdownMenu aria-labelledby="dropdownBasic">
                  <ul class="list-group">
                    <li class="list-group-item">Ajouter une notice en propriété</li>
                    <li class="list-group-item">Ajouter une notice en dépôt</li>
                  </ul>
                </div>
              </div>
            </div>
          </div>
          <div class="datatable mt-4">
            <app-grid-wrapper
              [columnDefs]="ColDef"
              [rowData]="remarquers"
              [frameworkComponents]="frameworkComponents"
              [defaultColDef]="defaultColDef"
              (gridReady)="onGridReady($event)"
              [context]="this"
              [gridOptions]="gridOptions"
              [sizeToFit]="false"
              [pinnedCols]="pinnedCols"
              [leftPinnedCols]="leftPinnedCols"
            ></app-grid-wrapper>
          </div>
        </div>
        <div class="mt-2 datagrid-bloc" *ngIf="page == 2">
          <app-proofs-in-progress></app-proofs-in-progress>
        </div>
        <div class="mt-2 datagrid-bloc" *ngIf="page == 3">
          <app-in-progress-alerts></app-in-progress-alerts>
        </div>
      </div>
    </div>
  </div>
</div>
