<div class="form-bloc">
  <!--  <div class="form-group d-flex col-md-4">-->
  <!--    <label class="col-md-4">Statut propriété<span class="mandatory">*</span></label>-->
  <!--    <div class="autocomplete col-md-7" *ngIf="edit">-->
  <!--      <ng-autocomplete-->
  <!--        placeholder="Statut propriété"-->
  <!--        [data]="domains"-->
  <!--        [searchKeyword]="keyword"-->
  <!--        (selected)="selectEvent($event)"-->
  <!--        (inputChanged)="onChangeSearch($event)"-->
  <!--        (inputFocused)="onFocused($event)"-->
  <!--        [itemTemplate]="itemTemplate"-->
  <!--        [notFoundTemplate]="notFoundTemplate"-->
  <!--      >-->
  <!--      </ng-autocomplete>-->
  <!--      <ng-template #itemTemplate let-item>-->
  <!--        <a [innerHTML]="item.name"></a>-->
  <!--      </ng-template>-->
  <!--      <ng-template #notFoundTemplate let-notFound>-->
  <!--        <div [innerHTML]="notFound"></div>-->
  <!--      </ng-template>-->
  <!--    </div>-->
  <!--    <p class="col-md-7 value" *ngIf="!edit">statut</p>-->
  <!--  </div>-->
  <!--  <div class="form-group d-flex col-md-4">-->
  <!--    <label class="col-md-4">Catégorie de bien</label>-->
  <!--    <div class="autocomplete col-md-7" *ngIf="edit">-->
  <!--      <ng-autocomplete-->
  <!--        placeholder="Catégorie de bien"-->
  <!--        [data]="domains"-->
  <!--        [searchKeyword]="keyword"-->
  <!--        (selected)="selectEvent($event)"-->
  <!--        (inputChanged)="onChangeSearch($event)"-->
  <!--        (inputFocused)="onFocused($event)"-->
  <!--        [itemTemplate]="itemTemplate"-->
  <!--        [notFoundTemplate]="notFoundTemplate"-->
  <!--      >-->
  <!--      </ng-autocomplete>-->
  <!--      <ng-template #itemTemplate let-item>-->
  <!--        <a [innerHTML]="item.name"></a>-->
  <!--      </ng-template>-->
  <!--      <ng-template #notFoundTemplate let-notFound>-->
  <!--        <div [innerHTML]="notFound"></div>-->
  <!--      </ng-template>-->
  <!--    </div>-->
  <!--    <p class="col-md-7 value" *ngIf="!edit">Sculpture</p>-->
  <!--  </div>-->
  <!--  <div class="form-group d-flex col-md-4">-->
  <!--    <label class="col-md-4">Valeur d'assurrance</label>-->
  <!--    <input type="number" class="form-control col-md-7" *ngIf="edit" />-->
  <!--    <p class="col-md-7 value" *ngIf="!edit">1245678</p>-->
  <!--  </div>-->
  <div class="form-group col-md-4">
    <label class="">Date de dépôt</label>
    <input type="date" class="form-control" *ngIf="edit" />
    <div class="col-md-8 value" *ngIf="!edit">12/01/2020</div>
  </div>
  <div class="form-group col-md-4">
    <label class="">N arrêt</label>
    <input type="number" class="form-control" *ngIf="edit" />
    <p class="col-md-7 value" *ngIf="!edit">11111</p>
  </div>
  <div class="form-group col-md-4">
    <label class="">Valeur d'assurance: </label>
    <input type="number" class="form-control" *ngIf="edit" />
    <p class="col-md-7 value" *ngIf="!edit">111111</p>
  </div>
  <div class="form-group col-md-4">
    <label class="">Date de d'assurrance</label>
    <input type="date" class="form-control" *ngIf="edit" />
    <div class="col-md-8 value" *ngIf="!edit">12/01/2020</div>
  </div>
  <!--  <div class="form-group d-flex col-md-4">-->
  <!--    <label class="col-md-4">Mode Entrée</label>-->
  <!--    <div class="autocomplete col-md-7" *ngIf="edit">-->
  <!--      <ng-autocomplete-->
  <!--        placeholder="Mode Entrée"-->
  <!--        [data]="domains"-->
  <!--        [searchKeyword]="keyword"-->
  <!--        (selected)="selectEvent($event)"-->
  <!--        (inputChanged)="onChangeSearch($event)"-->
  <!--        (inputFocused)="onFocused($event)"-->
  <!--        [itemTemplate]="itemTemplate"-->
  <!--        [notFoundTemplate]="notFoundTemplate"-->
  <!--      >-->
  <!--      </ng-autocomplete>-->
  <!--      <ng-template #itemTemplate let-item>-->
  <!--        <a [innerHTML]="item.name"></a>-->
  <!--      </ng-template>-->
  <!--      <ng-template #notFoundTemplate let-notFound>-->
  <!--        <div [innerHTML]="notFound"></div>-->
  <!--      </ng-template>-->
  <!--    </div>-->
  <!--    <p class="col-md-7 value" *ngIf="!edit">Sculpture</p>-->
  <!--  </div>-->
</div>
<!--</div>-->
