<div class="col-md-12 d-flex">
  <h5 class="col-md-4 p-0">Liens hypertextes</h5>
  <ol class="rounded-list col-md-8" *ngIf="!add">
    <li>
      <span><a href="#">site-oeuvre.com</a> | 24/01/2020 | Jean</span>
    </li>
  </ol>
  <ol class="rounded-list col-md-8" *ngIf="add">
    <div class="d-flex">
      <div class="form-group col-md-6 d-flex">
        <label>URL</label>
        <input class="form-control value" placeholder="Entrer URL" />
      </div>
      <div class="form-group col-md-6 d-flex">
        <label>Nom URL</label>
        <input class="form-control value" placeholder="Entrer nom URL" />
      </div>
    </div>
  </ol>
</div>
