.link {
  margin-top: 3%;
}
label {
  font-size: 14px !important;
  color: #838a90;
}
.form-group {
  display: flex;
  justify-content: space-between;
  align-items: baseline;
  //max-width: 30%;
  margin: 0.5% 1%;
  font-size: 14px;
  color: gray;
}
h5 {
  color: #0ec7c6;
  font-size: 16px;
  font-weight: 700;
}
.form-bloc {
}
