<div class="form-bloc">
  <h5 class="col-md-12"><i class="fas fa-user-tag"></i> Déposant</h5>
  <div class="form-group col-md-11">
    <label style="margin-right: -17%" class="">Déposant</label>
    <ng-multiselect-dropdown
      *ngIf="edit"
      class="select value"
      [placeholder]="'--- Choisir les déposants ---'"
      [settings]="dropdownSettings"
      [data]="WorkOfArtService.depositor"
      (onSelect)="onDomainSelect($event)"
      (onSelectAll)="onSelectAll($event)"
    >
    </ng-multiselect-dropdown>
    <div class="value" *ngIf="!edit">Déposant 1</div>
  </div>
  <div class="col-md-4 link" *ngIf="edit">
    <a href="">Ajouter un nouveau déposant</a>
  </div>
</div>
