/*
 * Global application theme.
 * Framework overrides and customization goes here.
 */
@import "theme-variables";
@import "src/assets/css/mixins/mixins.scss";
@import "~leaflet/dist/leaflet.css";

html,
body {
  height: 100%;
  background-color: #e6e6ea;
}
body {
  margin: 0;
  font-family: RobotoCondensed, sans-serif;
}

/** scroll **/

/* width */
::-webkit-scrollbar {
  width: 7px;
}

/* Track */
::-webkit-scrollbar-track {
  background: #f6f6f6;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: #c2c2c2;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #a9a9a9;
}

/** end scroll **/

button {
  border-radius: 3px;
  border: 1px solid #124d77;
  display: inline-block;
  cursor: pointer;
  color: #fff;
  font-size: 13px;
  padding: 6px 24px;
  text-decoration: none;

  &:active {
    top: 1px;
  }
  &:focus {
    outline: none;
  }
}

/** modal **/
.modal-content {
  padding: 2px 3px;
  border-radius: 10px;
  .modal-title {
    text-align: center;
    padding: 10px 10px;
    background-color: #1f2b50;
    color: white;
    border-bottom: 1px solid #c2c2c2;
  }
  .modal-body {
    padding: 10px 5px;

    form {
      .form-group {
        display: flex;
        padding: 10px 10px 0 10px;
        margin-bottom: 0;

        label {
          font-size: 12px;
          color: #407ca8;
          width: 100px;
        }

        input,
        select {
          border-color: #e4e4e4;
          width: 100%;
          height: 30px;
          font-size: 12px;
          border-radius: 4px;

          &:focus {
            box-shadow: none;
          }
        }
        select {
          background: transparent
            url("data:image/svg+xml;utf8,<svg fill='black' height='24' viewBox='0 0 24 24' width='24' xmlns='http://www.w3.org/2000/svg'><path d='M7 10l5 5 5-5z'/><path d='M0 0h24v24H0z' fill='none'/></svg>")
            no-repeat;
          background-position-x: 97%;
          background-position-y: 2px;
        }
      }
    }
  }
}

/** add button **/
.add-search-bloc {
  margin-bottom: 20px;
  .add-button {
    text-align: right;
  }
}
.add-action {
  color: white;
  box-shadow: inset 0 1px 0 0 #54a3f7;
  background: #007dc1 linear-gradient(to bottom, #407ca8 5%, #0061a7 100%);
  border: 1px solid #124d77;
  text-shadow: 0 1px 0 #154682;
  &:hover {
    background: #0061a7 linear-gradient(to bottom, #0061a7 5%, #407ca8 100%);
  }
  .zmdi {
    margin-right: 10px;
  }
}

.search-panel {
  padding-left: 3.5%;
  input {
    min-width: 140px;
    max-width: 200px;
    margin-top: 12px;
    height: 30px;
    &::placeholder {
      font-size: 12px;
    }
  }
}
.multiselect-dropdown .dropdown-btn {
  border-color: #e4e4e4;
  width: 150px;
  height: 30px;
  font-size: 12px;
  border-radius: 4px;
  margin: 5px 5px 5px 0;
  &:focus,
  &:active {
    box-shadow: none;
    outline-style: none;
  }
}
.multiselect-dropdown {
  font-size: 12px !important;
  &:focus,
  &:active {
    box-shadow: none;
    outline-style: none;
  }
}
.multiselect-dropdown .dropdown-btn .dropdown-multiselect__caret::before {
  display: none !important;
}
