/*
 * Global application theme.
 * Framework overrides and customization goes here.
 */
@import "theme-variables";
@import "src/assets/css/mixins/mixins.scss";
@import "~leaflet/dist/leaflet.css";

@import "~bootstrap/dist/css/bootstrap.min.css";
@import "~ng-wizard/themes/ng_wizard.min.css";
@import "~ng-wizard/themes/ng_wizard_theme_dots.min.css";

html,
body {
  height: 100%;
  background-color: #ffffff;
  margin: 0;
  font-family: Arial, Helvetica, sans-serif;
}

.bar {
  height: 170px;
}
.body {
  background-color: white;
  margin: 5px 50px;
}
/** scroll **/

/* width */
::-webkit-scrollbar {
  width: 7px;
}

/* Track */
::-webkit-scrollbar-track {
  background: #f6f6f6;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: #c2c2c2;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #a9a9a9;
}

/** end scroll **/

/* breadcrumb style */
$brdcr-bgc: rgba(255, 255, 255, 0.6); //#dedede
$brdcr-hover-bgc: #cacaca; // #fff

.breadcrumb {
  overflow: hidden;
  margin-bottom: 0;
  background-color: white;
  width: 100%;
  .selected-item {
    color: #0466c8;
    border-bottom-color: #acb3c2;
    text-decoration: underline;
  }
  a,
  li {
    display: inline;
    margin: 0 0 0 3px;
    padding: 0;
    list-style-type: none;
    float: left;
    text-decoration: none;
    color: #212529;
    text-shadow: 0 1px 0 rgba(255, 255, 255, 0.5);
    position: relative;
    cursor: pointer;
    font-size: 15px;
    &:hover,
    &:focus {
      -webkit-text-decoration: underline;
      text-decoration: underline;
      background: transparent;
      &:before {
        border-color: transparent;
      }
      &:after,
      &.selected {
        border-left-color: transparent;
      }
    }
    &:before {
      content: "";
      position: absolute;
      top: 50%;
      margin-top: -1.16em;
      border-width: 1.15em 0 1.15em 1em;
      border-style: solid;
      border-color: transparent;
      left: -1em;
    }
    &:after {
      content: "";
      position: absolute;
      top: 50%;
      margin-top: -1.25em;
      border-top: 1.25em solid transparent;
      border-bottom: 1.25em solid transparent;
      right: -1em;
    }
    span {
      color: #444 !important;
      font-size: 16px;
    }
  }

  .current {
    &,
    &:hover,
    &:focus {
      font-weight: bold;
      background: none;
    }
    &:after,
    &:before {
      content: normal;
    }
  }
}

/* button css */
button {
  border-radius: 3px;
  border: 1px solid #124d77;
  display: inline-block;
  cursor: pointer;
  color: #fff;
  font-size: 13px;
  padding: 6px 24px;
  text-decoration: none;

  &:active {
    top: 1px;
  }
  &:focus {
    outline: none;
  }
}

/** modal **/
.modal-content {
  padding: 2px 3px;
  border-radius: 10px;
  .modal-title {
    text-align: center;
    padding: 10px 10px;
    background-color: #397daf;
    color: white;
    border-bottom: 1px solid #c2c2c2;
  }
  .modal-body {
    padding: 10px 5px;

    form {
      .form-group {
        display: flex;
        padding: 10px 10px 0 10px;
        margin-bottom: 0;

        label {
          font-size: 12px;
          color: #407ca8;
          width: 100px;
        }

        input,
        select {
          border-color: #e4e4e4;
          width: 100%;
          height: 30px;
          font-size: 12px;
          border-radius: 4px;

          &:focus {
            box-shadow: none;
          }
        }
        select {
          background: transparent
            url("data:image/svg+xml;utf8,<svg fill='black' height='24' viewBox='0 0 24 24' width='24' xmlns='http://www.w3.org/2000/svg'><path d='M7 10l5 5 5-5z'/><path d='M0 0h24v24H0z' fill='none'/></svg>")
            no-repeat;
          background-position-x: 97%;
          background-position-y: 2px;
        }
      }
    }
  }
}

/** add button **/
.add-search-bloc {
  margin-bottom: 20px;
  .add-button {
    text-align: right;
  }
}

.add-action {
  font-size: 12px;
  background-color: #2c74b3;
  color: white;
  font-weight: bold;
  .i {
    display: flex;
    font-size: 14px;
    align-self: center;
    color: white;
  }
}

.search-panel {
  padding-left: 3.5%;
  input {
    min-width: 140px;
    max-width: 200px;
    margin-top: 12px;
    height: 30px;
    &::placeholder {
      font-size: 12px;
    }
  }
}
.search {
  width: 250px;
  .search-form-control {
    height: 30px;
    font-size: 12px;
    &:focus {
      box-shadow: none;
    }
  }
  .input-group-append button {
    height: 30px;
    line-height: 0;
  }
}
.multiselect-dropdown .dropdown-btn {
  border-color: #e4e4e4 !important;
  height: 30px;
  font-size: 11px;
  border-radius: 4px;
  line-height: 25px !important;
  padding: 1px 5px !important;
  color: rgb(128, 128, 128);
  &:focus,
  &:active {
    box-shadow: none;
    outline-style: none;
  }
}

.multiselect-dropdown {
  font-size: 11px !important;
  background-color: white;
  &:focus,
  &:active {
    box-shadow: none;
    outline-style: none;
  }
}
.multiselect-dropdown .dropdown-btn .dropdown-multiselect__caret {
  height: 30px !important;
  right: -4px !important;
  top: -7px;
}
.multiselect-dropdown.dropdown-btn .dropdown-multiselect__caret .multiselect-dropdown .dropdown-btn .selected-item a {
  font-size: 10px !important;
  padding-top: 0 !important;
}

.list-group-item {
  height: 32px;
  line-height: 6px;
  font-size: 14px;
  cursor: pointer;
  &:hover {
    background-color: darkgray;
  }
}

//form control css
.bloc {
  border: 2px solid;
}
.title-bloc {
  min-height: 120px;
  width: 60px;
  background-color: #f8f8f8;
  border-right: 2px solid;
  h5 {
    transform: rotate(-90deg);
    margin-top: 75px;
    height: 120px;
    margin-left: 68px;
    font-weight: bold;
    font-size: 18px;
  }
}
.form-bloc {
  display: flex;
  flex-wrap: wrap;
  padding-top: 10px;
  padding-left: 25px;
  width: 100%;
  .form-group {
    width: 100%;
    label {
      margin-right: 10px;
      padding-left: 0;
      padding-right: 0;
      font-size: 12px;
      font-weight: bold;
    }
    .form-control {
      height: 30px;
      &.checkbox {
        width: 20px;
        height: 15px;
        margin-top: 2px;
        &:active,
        &:focus {
          box-shadow: none;
        }
      }
    }
    textarea {
      min-height: 60px;
    }
  }
  .descriptif-bloc {
    margin: 0;
    padding: 0;
    flex-wrap: wrap;
  }
}
.autocomplete-container {
  box-shadow: none !important;
  position: relative;
  overflow: visible;
  height: 30px !important;
  border: 1px solid #ced4da;
  border-radius: 0.25rem;
  .input-container {
    margin-top: 0 !important;
    input {
      height: 20px !important;
      &::placeholder {
        font-size: 12px;
      }
    }
  }
  .suggestions-container ul li a {
    padding: 4px 15px !important;
  }
}
.autocomplete {
  padding: 0;
}
.checkbox-label {
  margin-top: -3.9px;
  margin-left: 10px;
}
.correspondants {
  font-weight: 600;
  font-size: 14px;
  color: #407ca8;
}
.fa-trash-alt {
  margin-top: 5px;
}
.mandatory {
  color: red;
  font-size: 11px;
}

//form control collapsed
.reduce-bloc {
  position: absolute;
  height: 30px;
  width: 10px;
  right: 0;
  padding: 15px 30px 15px;
  z-index: 99;
}

.collapsed {
  &.bloc {
    flex-direction: column !important;
    .reduce-bloc {
      padding-top: 5px;
      .fa-sort-up {
        transform: rotate(180deg);
      }
    }
    .title-bloc {
      min-height: 40px;
      width: 100%;
      h5 {
        height: 30px;
        transform: rotate(0);
        margin: 10px;
      }
    }
    .form-bloc {
      display: none;
    }
  }
}

.ng2-tag-input {
  padding: 0 !important;
}
.ng2-tag-input__text-input {
  height: 30px !important;
  width: 100%;
  font-size: 12px !important;
  padding: 0 !important;
}
tag {
  height: 20px !important;
  line-height: 20px !important;
  font-size: 12px !important;
}
delete-icon svg {
  height: 20px !important;
}
tag-input-dropdown {
  font-size: 12px !important;
}
::ng-deep .dropdown-container .drop-bloc button {
  color: #00d6d4;
  &:hover {
    color: white;
  }
}
//details-remarquer css
.information-bloc {
  border: 1px solid;
  box-shadow: 4px 4px 5px rgba(255, 255, 255, 0.3) inset, -4px -4px 5px rgba(0, 0, 0, 0.1) inset,
    10px 40px 40px rgba(0, 0, 0, 0.1);
  .title {
    border-bottom: 1px solid;
    height: 40px;
    background-color: #1f2b50;
    color: white;
    padding: 10px;
    justify-content: space-between;
    h5 {
      font-size: 16px;
      font-weight: bold;
    }
  }
  .form-bloc {
    .form-group {
      label,
      input,
      p {
        margin-bottom: 0;
      }
      margin-bottom: 5px;
      p {
        font-size: 12px;
      }
    }
  }
  &.non-collapsed {
    .form-bloc {
      display: none;
    }
  }
}

/** accordion style **/
.accordion .card {
  overflow: visible;
}
.accordion > .card > .card-header {
  margin: 0;
  color: #ffffff;
  font-weight: bolder;
  height: 40px * 100 /1920px * 1vw;
  display: block;
  align-items: center;
  justify-content: space-between;
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
  position: relative;
  background-color: #0080ff;
  .btn {
    margin-top: -14px;
    height: 30px;
    width: 100%;
    text-decoration-line: none;
    &:active,
    &:focus {
      box-shadow: none;
    }
  }
}
.accordion > .card > .collapse {
  border-bottom: 1px solid rgba(0, 0, 0, 0.125);
  .card-body {
    padding: 0.75rem 0 0.5rem;
    height: 180px;
  }
}
.accordion-bloc {
  .title-section {
    margin-top: -3px;
    font-size: 14px;
    color: white;
    font-weight: bold;
  }
}

// ngbDateicker css
.ngb-dp-months {
  font-size: 12px;
}
ngb-datepicker {
  height: 260px;
}

//ngprime datepicker
.p-datepicker {
  left: 0px !important;
  .p-datepicker-title {
    width: 100%;
    .p-datepicker-month,
    .p-datepicker-year {
      width: 48%;
      font-size: 12px;
      margin-right: 0 !important;
    }
  }

  table {
    td {
      padding: 0rem !important;
      span {
        width: 1.5rem;
        height: 1.5rem;
        border-radius: 50%;
        transition: box-shadow 0.2s;
        border: 1px solid transparent;
        font-size: 12px;
        padding: 0 !important;
      }
    }
  }
}
p-footer {
  display: flex;
  justify-content: space-between;
}

/** slider css **/
.ngx-slider .ngx-slider-pointer,
.ngx-slider .ngx-slider-selection {
  background: #00d6d4 !important;
}

/** dock details bloc **/
.dock-menu {
  border: 1px solid #dee2e6;
  border-radius: 25px;
  //margin-left: 15px;
  margin-top: 15px;
  display: flex;
  justify-content: center;
}
//.dock-menu {
//  margin-left: 0;
//  border: 1px solid #dee2e6;
//}
li a i:hover {
  color: #0061a7 !important;
}
.container {
  margin: 0;
  padding: 10px 0 0 0;
  .first-page {
    width: 100%;
  }
  ul {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    flex-wrap: wrap;
    li {
      margin: 0 20px;
      cursor: pointer;
      a {
        height: 55px;
        width: 55px;
        color: #407ca8;
        padding: 10px 20px;
        border: 1px solid #407ca8;
        border-radius: 50%;
        i {
          color: #407ca8;
          margin-top: -3px;
          font-size: 40px;
        }
      }
      p {
        font-size: 12px;
        margin-left: 9px;
        color: black;
        font-weight: bold;
      }
    }
  }
}
.first-page .first-icon,
.second-page .second-icon,
.third-page .third-icon,
.firth-page .firth-icon,
.fifth-page .fifth-icon,
.sixth-page .sixth-icon,
.seventh-page .seventh-icon {
  a {
    height: 55px;
    width: 55px;
    background-color: #00d6d4 !important;
    padding: 10px 20px;
    border: 1px solid #00d6d4 !important;
    border-radius: 50%;
    i {
      color: white !important;
      margin-top: -3px;
    }
  }
}
.carousel-attachments {
  .carousel-control-prev,
  .carousel-control-next {
    position: absolute;
    top: 55px !important;
    bottom: 55px !important;
    z-index: 1;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 1.2rem !important;
    color: #fff;
    text-align: center;
    opacity: 0.5;
    transition: opacity 0.15s ease;
    background-color: skyblue;
  }
}
/*
  Notifications and form errors
 */
input,
select,
ng-multiselect-dropdown,
textarea,
.dropdown-btn {
  &:not(.novalidate) {
    &.ng-invalid.ng-dirty {
      border: 2px solid $red !important;
      border-radius: 3px !important;
      box-shadow: 1px 1px 3px $red !important;
    }

    &.ng-invalid.ng-touched:not(form) {
      border-bottom: 4px solid $red;
    }

    &:focus:not(.filter-button) {
      color: #495057;
      background-color: #fff;
      border: solid $blue 2px !important;
      outline: 0 !important;
      box-shadow: none !important;
    }
  }
}
.mass-action-container {
  background-color: rgba(0, 0, 0, 0.125);
  display: inline-block;
  height: 40px;
  padding: 6px;
  button {
    margin-bottom: 0 !important;
    .export-dropdown-bloc {
      margin-top: -10px;
      button {
        height: 25px;
        color: white;
        &:focus,
        &:active {
          box-shadow: none;
        }
      }
    }
  }
}

/** ngPrime css */
p-dropdown,
p-calendar {
  &.col-md-12 {
    padding-left: 0;
  }
}
.p-dropdown,
.p-calendar,
.p-multiselect {
  height: 30px;
  line-height: 10px;
}
.p-dropdown {
  /*general for [style]="maxWidth=100%, minWidth=100%,"*/
  max-width: 100%;
  min-width: 100%;
  .p-dropdown-header {
    .p-dropdown-filter-container {
      .p-dropdown-filter {
        height: 25px;
      }
    }
  }
  .p-dropdown-label {
    font-size: 12px;
  }
  .p-dropdown-panel {
    left: 0 !important;
    .p-dropdown-items-wrapper {
      font-size: 12px;
      .p-dropdown-items .p-dropdown-item {
        font-size: 12px;
      }
    }
  }
  /*For elements with long text*/
  .p-dropdown-item {
    white-space: normal;
    line-height: 1.5em;
  }
}
.p-multiselect {
  max-width: 100%;
  min-width: 100%;
  .p-multiselect-label-container {
    font-size: 12px;
  }
  .p-multiselect-panel {
    .p-multiselect-header {
      height: 30px;
      .p-multiselect-filter-container {
        input {
          height: 24px;
          font-size: 12px;
        }
      }
    }
    .p-multiselect-items-wrapper {
      .p-multiselect-items {
        font-size: 12px;
        p-multiselectitem li {
          //height: 22px;
          white-space: normal;
          line-height: 1.5em;
        }
      }
    }
  }
}

.p-carousel {
  .p-carousel-content {
    .p-carousel-indicators {
      display: none;
    }
  }
}
.p-galleria {
  min-width: 380;
  width: 380px;
  .p-galleria-thumbnail-container .p-galleria-thumbnail-prev,
  .p-galleria-thumbnail-container .p-galleria-thumbnail-next {
    color: black !important;
  }
}
.p-galleria-thumbnail-container {
  height: 60px;
  padding: 0.2rem 0.2rem !important;
  background-color: #f7f7f7 !important;
}
/** css drag and drop file **/
ng-file-drag-drop {
  height: 50px;
  .dropZone {
    height: 50px;
    img {
      display: none;
    }
  }
}
.p-multiselect.p-multiselect-chip .p-multiselect-token {
  max-width: 10rem;
  min-width: 10rem;
  overflow: hidden;
}
.p-multiselect-label-container {
  overflow: hidden;
  max-width: 10rem;
  min-width: 10rem;
}

.p-toast-top-right {
  z-index: 1055 !important;
}
