h6 {
  font-size: 14px;
}
.container-fluid {
  .body {
    .add-export-bloc {
      justify-content: space-between;
      .add-bloc {
        .add-button {
          margin-right: 10px;
        }
      }
      .export-bloc {
        .excel {
          width: 35px;
          height: 32px;
          cursor: pointer;
        }
      }
    }
    .filter-bloc {
      justify-content: flex-end;
      .search-panel {
        padding: 0;
      }
    }
  }
}
.columns-dropdown {
  display: flex;
  flex-wrap: wrap;
  width: 300px;

  .column-check {
    border-bottom: solid #ccc 1px;
    cursor: pointer;
    transition: all ease-in-out 0.3s;

    &:hover {
      color: #fff;
      background-color: rgba(36, 52, 61, 0.5);
    }
    input[type="radio"],
    input[type="checkbox"] {
      box-sizing: border-box;
      padding: 0;
      right: 0;
      margin-right: 10px;
      position: absolute;
      margin-top: 2px;
    }
  }
}
.list-group-item {
  padding: 10px 20px;
  font-size: 14px;
  cursor: pointer;
  i {
    margin-right: 10px;
  }
  &:hover {
    background-color: #a6a6a6;
  }
}
.checkbox-container {
  font-size: 12px;
}
.mass-action-container {
  background-color: rgba(0, 0, 0, 0.125);
  display: inline-block;
  height: 40px;
  padding: 6px;
  button {
    margin-bottom: 0 !important;
    .export-dropdown-bloc {
      margin-top: -10px;
      button {
        height: 25px;
        color: white;
        &:focus,
        &:active {
          box-shadow: none;
        }
      }
    }
  }
}
.custom-slider {
  width: 50%;
}
.search-container {
  button {
    height: fit-content !important;
    min-height: 30px;
    border: 1px solid #999999 !important;
    line-height: 0;
    max-height: 120px;
    overflow: auto;
    border-radius: 5px !important;
    font-size: 12px;
    color: black;

    &:focus,
    &:hover,
    &:active {
      border: 1px solid black !important;
      background-color: white !important;
      color: black !important;
      outline: none;
      box-shadow: none;
      i {
        color: black !important;
      }
    }
  }
  .form-control {
    width: 25px !important;
  }
}
::ng-deep ng-multiselect-dropdown {
  width: 100%;
  margin-left: -15px;
  .multiselect-dropdown {
    width: 120% !important;
  }
}
.dropdown-container {
  .drop-bloc {
    margin-top: 11px;

    .export-button {
      border: none;
      i {
        color: #0466c8;
      }
      &::after {
        display: none;
      }
    }
    button {
      height: 30px;
      border: 1px solid #00d6d4;
      line-height: 0;
      border-radius: 12px;
      font-size: 12px;
      &:focus,
      &:active {
        outline: none;
        box-shadow: none;
      }
    }
  }
  i {
    font-size: 20px;
  }
  .list::after {
    display: none;
  }
  button:hover,
  button:active,
  button:focus {
    background-color: #00d6d4;
    color: white;
    i {
      color: white;
    }
  }
}
.headers-btn {
  background-color: #0466c8;
  color: white !important;
  border-color: #0466c8 !important;
  &:hover {
    border-color: #00d9a8 !important;
  }
}
.quick-filter-btn {
  color: #00d6d4;
  font-weight: bold;
}
.text-quick-filter {
  height: 25px;
  margin-top: 16px;
  margin-right: 15px;
  font-weight: bold;
}

.search-quick-fliter-bloc {
  justify-content: space-between;
  width: 100%;
}
.picture-mode {
  .picture {
    border: 1px solid #407ca8;
    color: #407ca8;
  }
  .list {
    border: 1px solid #407ca8;
    color: white;
    background-color: #407ca8;
  }
}
.list-mode {
  .picture {
    border: 1px solid #407ca8;
    color: white;
    background-color: #407ca8;
  }
  .list {
    border: 1px solid #407ca8;
    color: #407ca8;
  }
}
.picture-mode,
.list-mode {
  i {
    font-size: 14px;
  }
  button {
    border: 1px solid #407ca8;
    color: #407ca8;
    height: 30px;
    line-height: 10px;
    width: 30px;
    padding-left: 9px;
    margin-right: 0px;
    border-radius: 0;
    &:hover {
      color: white;
      background-color: #407ca8;
    }
    &:focus,
    &:active {
      outline: none;
      box-shadow: none;
    }
  }
}

::ng-deep .customclass1 {
  height: 50px !important;
}

::ng-deep .card {
  margin-bottom: 20px;
}

::ng-deep .card .card-header.active > a > span {
  color: #1d2124;
}

.request {
  width: 100%;
  height: 40px;
  cursor: pointer;
  border: 1px solid #ced4da;
  background-color: #0080ff;
  color: white;
  align-items: center;
  padding: 10.5px 7px;

  h5 {
    font-size: 15px;
    margin-bottom: 0;
    font-weight: bold;
  }
  &:after {
    font-family: "Font Awesome 5 Free", serif;
    font-weight: 900;
    content: "";
    position: absolute;
    top: 265px;
    transform: rotate(90deg);
    justify-content: flex-end;
    float: right;
    right: 85px;
  }
}
.non-collapsed::after {
  transform: rotate(-90deg);
}

.collapse-bloc {
  border: 1px solid #ced4da;
  width: 100%;
  padding: 6.5px 7px;
}
.cons-mvt {
  justify-content: flex-end;
}
.floating-add-button {
  .label-container {
    position: fixed;
    bottom: 48px;
    right: 105px;
    display: table;
    visibility: hidden;
  }

  .label-text {
    color: #fff;
    background: rgba(51, 51, 51, 0.5);
    display: table-cell;
    vertical-align: middle;
    padding: 10px;
    border-radius: 3px;
  }

  .label-arrow {
    display: table-cell;
    vertical-align: middle;
    color: #333;
    opacity: 0.5;
  }

  .float {
    position: fixed;
    width: 40px;
    height: 40px;
    top: 60%;
    right: 5px;
    background-color: #00d6d4;
    color: #fff;
    border-radius: 50px;
    text-align: center;
    box-shadow: 2px 2px 3px #999;
    z-index: 1000;
    animation: bot-to-top 2s ease-out;
  }

  ul {
    position: fixed;
    right: 5px;
    padding-bottom: 20px;
    bottom: 36%;
    z-index: 100;
  }

  ul li {
    list-style: none;
    margin-bottom: 10px;
  }

  ul li a {
    background-color: #1f2b50;
    color: #fff;
    border-radius: 50px;
    text-align: center;
    box-shadow: 2px 2px 3px #999;
    height: 40px;
    width: 40px;
    display: block;
    span {
      font-size: 0;
    }
  }
  .add-prop-notice:hover {
    width: 300px !important;
    span {
      font-size: 18px !important;
    }
  }

  ul:hover {
    visibility: visible !important;
    opacity: 1 !important;
  }

  .my-float {
    font-size: 18px;
    margin-top: 13px;
    margin-left: 4px;
  }
  ul {
    display: flex;
    flex-direction: column;
    place-items: flex-end;
  }
  a#menu-share + ul {
    visibility: hidden;
  }

  a#menu-share:hover + ul {
    visibility: visible;
    animation: scale-in 0.5s;
  }

  a#menu-share i {
    animation: rotate-in 0.5s;
  }

  a#menu-share:hover > i {
    animation: rotate-out 0.5s;
  }

  @keyframes bot-to-top {
    0% {
      bottom: -40px;
    }
    50% {
      bottom: 40px;
    }
  }

  @keyframes scale-in {
    from {
      transform: scale(0);
      opacity: 0;
    }
    to {
      transform: scale(1);
      opacity: 1;
    }
  }

  @keyframes rotate-in {
    from {
      transform: rotate(0deg);
    }
    to {
      transform: rotate(360deg);
    }
  }

  @keyframes rotate-out {
    from {
      transform: rotate(360deg);
    }
    to {
      transform: rotate(0deg);
    }
  }
}

.icon-stack {
  cursor: pointer;
  .fa-times {
    margin-left: -10px;
    color: red;
    padding-top: 4px;
  }
}
.selected-page {
  background-color: #5a4b5f;
  margin: -4.516px 0px 0px 0px;
  height: 8px;
}
.add-action {
  height: 30px;
  line-height: 0;
  font-size: 14px;
  margin-bottom: 10px;
}
.mass-action {
  margin-bottom: 10px;
  margin-left: 5%;
}
.mass-action-container {
  .add-action:hover {
    border-color: #2972a7;
    color: white !important;
  }
}
