<div class="breadcrumb">
  <a href="accueil" class="selected-item"> Liste oeuvres d'art </a>
</div>
<div class="container-fluid">
  <div class="body">
    <div class="add-export-bloc d-flex flex-content-between">
      <div class="d-flex add-bloc"></div>
      <div class="d-flex">
        <div [ngClass]="{ 'picture-mode': mode === 'pictures', 'list-mode': mode === 'liste' }">
          <button type="button" class="btn picture">
            <i class="zmdi zmdi-view-stream"></i>
          </button>
          <button type="button" class="btn list">
            <i class="zmdi zmdi-grid"></i>
          </button>
        </div>
      </div>
    </div>
    <div>
      <div class="form-group search mt-3">
        <input
          type="text"
          style="outline: none"
          class="w-100"
          (keyup.enter)="onSearchClick()"
          placeholder="Recherche ..."
        />
        <button type="submit" class="searchButton" (click)="onSearchClick()">
          <i class="fa fa-search"></i>
        </button>
      </div>
    </div>
    <div class="mt-2 d-flex">
      <div class="dropdown-container search-container mb-2 mr-2 mb-sm-0">
        <div
          ngbDropdown
          placement="bottom-left"
          autoClose="outside"
          container="body"
          (openChange)="onToggel($event, 'form1')"
          class="d-inline-block drop-bloc"
        >
          <ng-template #TemplateForm1>
            <div class="width:500px">
              <p *ngFor="let value of form1Values; let index = index">
                <span>{{ value | formValue }}</span>
              </p>
            </div>
          </ng-template>
          <button
            class="btn dropdown-btn list quick-filter-btn"
            id="dropDownSearch1"
            ngbDropdownToggle
            (click)="resetFilter()"
          >
            <span>
              <i class="fas fa-fingerprint" style="color: #1f2b50"></i>
              Identification des oeuvres
              <i class="fa fa-sort-down" *ngIf="!firstSearchDrop && form1Values.length > 0"></i>
            </span>
            <div
              [ngbTooltip]="form1Values.length > 0 ? TemplateForm1 : ''"
              placement="right"
              *ngIf="!firstSearchDrop && form1Values.length > 0"
            >
              <div class="mt-3">
                <p *ngFor="let value of form1Values; let index = index">
                  <span *ngIf="index < 4">{{ value | formValue }}</span>
                </p>
                <p *ngIf="showForm1End">...</p>
              </div>
            </div>
          </button>
          <div
            class="py-0 ng-dropdown"
            ngbDropdownMenu
            aria-labelledby="dropDownSearch1"
            style="width: 900px; height: fit-content"
          >
            <div class="columns-dropdown search-form" style="width: 100% !important">
              <form [formGroup]="form1">
                <div class="col-12 pt-1 row">
                  <div class="col-6 mt-3">
                    <div class="form-group d-flex slider-bloc row">
                      <label for="titre" class="col-5">N° inventaire</label>
                      <input
                        type="text"
                        formControlName="id"
                        class="form-control col-4"
                        *ngIf="!showInventoryRange"
                        placeholder="N° inventaire"
                      />

                      <div
                        class="custom-slider mt-3 col-4"
                        *ngIf="showInventoryRange"
                        style="width: 90% !important; margin-top: -15px !important"
                      >
                        <ngx-slider
                          [(value)]="inventoryValue"
                          [(highValue)]="hightInventoryValue"
                          [options]="inventoryOptions"
                        ></ngx-slider>
                      </div>
                      <div class="btn-slider mr-2 col-3" *ngIf="!dynamic">
                        <label [class.active]="!dynamic"></label>
                        <label class="switch">
                          <input type="checkbox" (change)="onCheckboxChange($event)" />
                          <span class="slider round"></span>
                        </label>

                        <label [class.active]="dynamic"></label>
                      </div>
                    </div>
                    <div class="form-group d-flex slider-bloc row">
                      <label for="titre" class="col-5">Titre</label>
                      <input
                        type="text"
                        formControlName="titre"
                        class="form-control col-6"
                        id="titre"
                        placeholder="Titre"
                      />
                    </div>
                    <div class="form-group d-flex slider-bloc row">
                      <label for="author" class="col-5">Auteurs</label>
                      <div class="col-6 multiSelectBlock">
                        <p-multiSelect
                          [options]="authorData"
                          id="author"
                          itemSize="30"
                          [virtualScroll]="true"
                          formControlName="auteurs"
                          emptyFilterMessage="Aucun résultat trouvé"
                          defaultLabel="Choisir des auteurs"
                          optionLabel="name"
                          display="chip"
                        ></p-multiSelect>
                      </div>
                    </div>
                  </div>
                  <div class="col-6 mt-3">
                    <div class="form-group d-flex slider-bloc row">
                      <label for="domaine" class="col-5">Domaine</label>
                      <div class="col-6 multiSelectBlock">
                        <p-multiSelect
                          (onPanelHide)="onMultiselectChange('domaine')"
                          itemSize="30"
                          [virtualScroll]="true"
                          [options]="domainData"
                          id="domaine"
                          formControlName="domaine"
                          emptyFilterMessage="Aucun résultat trouvé"
                          defaultLabel="Choisir ses domaines"
                          optionLabel="name"
                          display="chip"
                        ></p-multiSelect>
                      </div>
                    </div>
                    <div class="form-group d-flex slider-bloc row">
                      <label for="denomination" class="col-5">Dénomination</label>
                      <div class="col-6 multiSelectBlock">
                        <p-multiSelect
                          (onPanelHide)="onMultiselectChange('denomination')"
                          itemSize="30"
                          [virtualScroll]="true"
                          [options]="denominationData"
                          id="denomination"
                          formControlName="denomination"
                          emptyFilterMessage="Aucun résultat trouvé"
                          defaultLabel="Choisir des dénominations"
                          optionLabel="name"
                          display="chip"
                        ></p-multiSelect>
                      </div>
                    </div>
                  </div>
                  <div class="d-flex advanced-search-label mb-3 col-12" (click)="form1Advanced = !form1Advanced">
                    <i class="fa fa-plus-circle" *ngIf="!form1Advanced"></i>
                    <i class="fa fa-minus-circle" *ngIf="form1Advanced"></i>
                    <span>Recherche avancée</span>
                  </div>
                  <form [formGroup]="advancedForm1" class="col-12 row">
                    <div class="col-6" *ngIf="form1Advanced">
                      <div class="form-group d-flex slider-bloc row">
                        <div class="row col-10">
                          <label for="materialTechnique" class="col-5">Matières/technique</label>
                          <div class="multiSelectBlock col-6">
                            <p-multiSelect
                              itemSize="30"
                              [virtualScroll]="true"
                              [options]="materialTechniquesData"
                              id="materialTechnique"
                              formControlName="materialTechnique"
                              emptyFilterMessage="Aucun résultat trouvé"
                              defaultLabel="Choisir des matières"
                              optionLabel="name"
                              display="chip"
                            ></p-multiSelect>
                          </div>
                        </div>
                        <div class="col-md-2 multiSelectBlock">
                          <p-dropdown
                            [options]="operatorData"
                            formControlName="materialTechniqueOperator"
                            optionLabel="name"
                            optionValue="id"
                          ></p-dropdown>
                        </div>
                      </div>
                      <div class="form-group d-flex slider-bloc row" *ngIf="styleData">
                        <div class="row col-10">
                          <label for="style" class="col-5">Style</label>
                          <div class="multiSelectBlock col-6">
                            <p-multiSelect
                              [options]="styleData"
                              id="style"
                              formControlName="style"
                              emptyFilterMessage="Aucun résultat trouvé"
                              defaultLabel="Choisir des Styles"
                              optionLabel="name"
                              display="chip"
                            ></p-multiSelect>
                          </div>
                        </div>
                        <div class="col-md-2 multiSelectBlock">
                          <p-dropdown
                            [options]="operatorData"
                            formControlName="styleOperator"
                            optionLabel="name"
                            optionValue="id"
                          ></p-dropdown>
                        </div>
                      </div>
                      <div class="form-group d-flex slider-bloc row">
                        <div class="row col-10">
                          <label class="col-5">Longueur</label>

                          <div class="custom-slider mt-5 col-5 w-100" style="margin-top: -15px !important">
                            <ngx-slider
                              [(value)]="dataSlider['length']['value']"
                              [(highValue)]="dataSlider['length']['heightValue']"
                              [options]="inventoryOptions"
                            ></ngx-slider>
                          </div>
                        </div>
                        <div class="col-md-2 multiSelectBlock">
                          <p-dropdown
                            [options]="operatorData"
                            formControlName="lengthOperator"
                            optionLabel="name"
                            optionValue="id"
                          ></p-dropdown>
                        </div>
                      </div>
                      <div class="form-group d-flex slider-bloc row">
                        <div class="row col-10">
                          <label class="col-5">Hauteur Tot</label>

                          <div
                            class="custom-slider mt-3 col-5"
                            style="width: 90% !important; margin-top: -15px !important"
                          >
                            <ngx-slider
                              [(value)]="dataSlider['heightTotal']['value']"
                              [(highValue)]="dataSlider['heightTotal']['heightValue']"
                              [options]="inventoryOptions"
                            ></ngx-slider>
                          </div>
                        </div>
                        <div class="col-md-2 multiSelectBlock">
                          <p-dropdown
                            [options]="operatorData"
                            formControlName="heightOperator"
                            optionLabel="name"
                            optionValue="id"
                          ></p-dropdown>
                        </div>
                      </div>
                      <div class="form-group d-flex slider-bloc row">
                        <div class="row col-10">
                          <label class="col-5">Longueur Tot</label>

                          <div
                            class="custom-slider mt-3 col-5"
                            style="width: 90% !important; margin-top: -15px !important"
                          >
                            <ngx-slider
                              [(value)]="dataSlider['lengthTotal']['value']"
                              [(highValue)]="dataSlider['lengthTotal']['heightValue']"
                              [options]="inventoryOptions"
                            ></ngx-slider>
                          </div>
                        </div>
                        <div class="col-md-2 multiSelectBlock">
                          <p-dropdown
                            [options]="operatorData"
                            formControlName="lengthTotalOperator"
                            optionLabel="name"
                            optionValue="id"
                          ></p-dropdown>
                        </div>
                      </div>
                      <div class="form-group d-flex slider-bloc row">
                        <div class="row col-10">
                          <label class="col-5">Profondeur</label>

                          <div
                            class="custom-slider mt-3 col-5"
                            style="width: 90% !important; margin-top: -15px !important"
                          >
                            <ngx-slider
                              [(value)]="dataSlider['depth']['value']"
                              [(highValue)]="dataSlider['depth']['heightValue']"
                              [options]="inventoryOptions"
                            ></ngx-slider>
                          </div>
                        </div>
                        <div class="col-md-2 multiSelectBlock">
                          <p-dropdown
                            [options]="operatorData"
                            formControlName="depthOperator"
                            optionLabel="name"
                            optionValue="id"
                          ></p-dropdown>
                        </div>
                      </div>
                      <div class="form-group d-flex slider-bloc row">
                        <div class="row col-10">
                          <label class="col-5">N° unité</label>

                          <input
                            type="text"
                            class="form-control col-6"
                            placeholder="N° unité"
                            formControlName="unitNumber"
                          />
                        </div>
                        <div class="col-md-2 multiSelectBlock">
                          <p-dropdown
                            formControlName="unitNumberOperator"
                            [options]="operatorData"
                            optionLabel="name"
                            optionValue="id"
                          ></p-dropdown>
                        </div>
                      </div>
                      <div class="form-group d-flex slider-bloc row">
                        <div class="row col-10">
                          <label class="col-5">Oeuvres archivées</label>
                          <div class="multiSelectBlock col-6">
                            <p-dropdown [options]="artWorkSelectData" optionLabel="name" optionValue="id"></p-dropdown>
                          </div>
                        </div>
                        <div class="col-md-2 multiSelectBlock">
                          <p-dropdown [options]="operatorData" optionLabel="name" optionValue="id"></p-dropdown>
                        </div>
                      </div>
                    </div>
                    <div class="col-6" *ngIf="form1Advanced">
                      <div class="form-group d-flex slider-bloc row">
                        <div class="row col-10">
                          <label class="col-5">Epoque</label>
                          <div class="multiSelectBlock col-6">
                            <p-multiSelect
                              [options]="eraData"
                              id="era"
                              formControlName="era"
                              emptyFilterMessage="Aucun résultat trouvé"
                              defaultLabel="Choisir des époques"
                              optionLabel="name"
                              display="chip"
                            ></p-multiSelect>
                          </div>
                        </div>
                        <div class="col-md-2 multiSelectBlock">
                          <p-dropdown
                            formControlName="eraOperator"
                            [options]="operatorData"
                            optionLabel="name"
                            optionValue="id"
                          ></p-dropdown>
                        </div>
                      </div>
                      <div class="form-group d-flex slider-bloc row">
                        <div class="row col-10">
                          <label class="col-5">Date de création</label>

                          <input
                            class="col-6 form-control"
                            autocomplete="off"
                            name="date"
                            (bsValueChange)="onChange($event)"
                            [bsConfig]="{ dateInputFormat: 'YYYY' }"
                            bsDatepicker
                            minMode="year"
                            placeholder="YYYY"
                          />
                        </div>
                        <div class="col-md-2 multiSelectBlock">
                          <p-dropdown [options]="operatorData" optionLabel="name" optionValue="id"></p-dropdown>
                        </div>
                      </div>

                      <div class="form-group d-flex slider-bloc row">
                        <div class="row col-10">
                          <label class="col-5">Hauteur</label>

                          <div
                            class="custom-slider mt-3 col-5"
                            style="width: 90% !important; margin-top: -15px !important"
                          >
                            <ngx-slider
                              [(value)]="dataSlider['height']['value']"
                              [(highValue)]="dataSlider['height']['heightValue']"
                              [options]="inventoryOptions"
                            ></ngx-slider>
                          </div>
                        </div>
                        <div class="col-md-2 multiSelectBlock">
                          <p-dropdown
                            [options]="operatorData"
                            formControlName="heightOperator"
                            optionLabel="name"
                            optionValue="id"
                          ></p-dropdown>
                        </div>
                      </div>
                      <div class="form-group d-flex slider-bloc row">
                        <div class="row col-10">
                          <label class="col-5">Largeur</label>

                          <div
                            class="custom-slider mt-3 col-5"
                            style="width: 90% !important; margin-top: -15px !important"
                          >
                            <ngx-slider
                              [(value)]="dataSlider['width']['value']"
                              [(highValue)]="dataSlider['width']['heightValue']"
                              [options]="inventoryOptions"
                            ></ngx-slider>
                          </div>
                        </div>
                        <div class="col-md-2 multiSelectBlock">
                          <p-dropdown
                            [options]="operatorData"
                            formControlName="widthOperator"
                            optionLabel="name"
                            optionValue="id"
                          ></p-dropdown>
                        </div>
                      </div>
                      <div class="form-group d-flex slider-bloc row">
                        <div class="row col-10">
                          <label class="col-5">Largeur Tot</label>

                          <div
                            class="custom-slider mt-3 col-5"
                            style="width: 90% !important; margin-top: -15px !important"
                          >
                            <ngx-slider
                              [(value)]="dataSlider['widthtTotal']['value']"
                              [(highValue)]="dataSlider['widthtTotal']['heightValue']"
                              [options]="inventoryOptions"
                            ></ngx-slider>
                          </div>
                        </div>
                        <div class="col-md-2 multiSelectBlock">
                          <p-dropdown
                            [options]="operatorData"
                            formControlName="widthTotalOperator"
                            optionLabel="name"
                            optionValue="id"
                          ></p-dropdown>
                        </div>
                      </div>
                      <div class="form-group d-flex slider-bloc row">
                        <div class="row col-10">
                          <label class="col-5">Poids</label>

                          <div
                            class="custom-slider mt-3 col-5"
                            style="width: 90% !important; margin-top: -15px !important"
                          >
                            <ngx-slider
                              [(value)]="dataSlider['weight']['value']"
                              [(highValue)]="dataSlider['weight']['heightValue']"
                              [options]="inventoryOptions"
                            ></ngx-slider>
                          </div>
                        </div>
                        <select class="select-style input-form-control col-md-2" formControlName="weightOperator">
                          <option value="and">Et</option>
                          <option value="or">Ou</option>
                          <option value="not">Sauf</option>
                        </select>
                      </div>
                      <div class="form-group slider-bloc row">
                        <div class="row col-12">
                          <label class="col-4">Mots descriptifs</label>

                          <tag-input [modelAsStrings]="true"></tag-input>
                        </div>
                      </div>
                    </div>
                  </form>
                </div>
              </form>
            </div>
          </div>
        </div>
      </div>
      <div class="dropdown-container search-container mb-2 mr-2 mb-sm-0">
        <div
          ngbDropdown
          placement="bottom-left"
          autoClose="outside"
          container="body"
          (openChange)="onToggel($event, 'form1')"
          class="d-inline-block drop-bloc"
        >
          <ng-template #TemplateForm1>
            <p *ngFor="let value of form1Values; let index = index">
              <span>{{ value }}</span>
            </p>
          </ng-template>
          <button
            class="btn dropdown-btn list quick-filter-btn"
            id="dropDownSearch5"
            ngbDropdownToggle
            (click)="resetFilter()"
          >
            <span>
              <i class="fas fa-info-circle" style="color: #1f2b50"></i>
              Status
              <i class="fa fa-sort-down" *ngIf="!firstSearchDrop && form1Values.length > 0"></i>
            </span>
            <div
              [ngbTooltip]="form1Values.length > 0 ? TemplateForm1 : ''"
              placement="right"
              *ngIf="!firstSearchDrop && form1Values.length > 0"
            ></div>
          </button>
          <div
            class="py-0 ng-dropdown"
            ngbDropdownMenu
            aria-labelledby="dropDownSearch5"
            style="width: 700px; height: fit-content"
          >
            <div class="columns-dropdown search-form" style="width: 100% !important">
              <form [formGroup]="formStatus">
                <div class="col-12 pt-1 row">
                  <div class="col-6 mt-3">
                    <div class="form-group d-flex slider-bloc row">
                      <label for="statusType" class="col-5">Type De Status </label>
                      <div class="multiSelectBlock col-6">
                        <p-multiSelect
                          [options]="WorkOfArtService.statusType"
                          (onChange)="onStatusChange($event)"
                          id="statusType"
                          formControlName="status"
                          emptyFilterMessage="Aucun résultat trouvé"
                          defaultLabel="Choisir un type de status"
                          optionLabel="name"
                          display="chip"
                        ></p-multiSelect>
                      </div>
                    </div>
                    <div class="form-group d-flex slider-bloc row" *ngIf="propStatus">
                      <label for="categorie" class="col-5">Catégorie</label>
                      <div class="multiSelectBlock col-6">
                        <p-multiSelect
                          [options]="categoriesData"
                          id="categorie"
                          emptyFilterMessage="Aucun résultat trouvé"
                          defaultLabel="Choisir une catégorie"
                          optionLabel="name"
                          formControlName="categorie"
                          display="chip"
                        ></p-multiSelect>
                      </div>
                    </div>
                    <div class="form-group d-flex slider-bloc row" *ngIf="depotStatus">
                      <label for="denomination" class="col-5">Déposants</label>
                      <div class="multiSelectBlock col-6">
                        <p-multiSelect
                          [options]="depositorsData"
                          id="depositor"
                          [virtualScroll]="true"
                          itemSize="30"
                          formControlName="deposant"
                          emptyFilterMessage="Aucun résultat trouvé"
                          defaultLabel="Choisir un déposant"
                          optionLabel="name"
                          display="chip"
                        ></p-multiSelect>
                      </div>
                    </div>
                    <div class="form-group d-flex slider-bloc row" *ngIf="depotStatus">
                      <label for="denomination" class="col-5">N° arret</label>
                      <input
                        type="text"
                        formControlName="arretNumber"
                        class="form-control col-6"
                        placeholder="N° arret"
                      />
                    </div>
                  </div>
                  <div class="col-6 mt-3">
                    <div class="form-group d-flex slider-bloc row" *ngIf="propStatus">
                      <label for="titre" class="col-5">Date Entrée</label>
                      <input
                        type="date"
                        name="datepicker"
                        formControlName="entryDate"
                        class="form-control date-input col-6"
                        ngbDatepicker
                        autoClose="outside"
                        displayMonths="2"
                        outsideDays="hidden"
                        id="date"
                      />
                    </div>
                    <div class="form-group d-flex slider-bloc row" *ngIf="depotStatus">
                      <label for="titre" class="col-5">Date Dépôt</label>
                      <input
                        type="date"
                        name="datepicker"
                        formControlName="depotDate"
                        class="form-control date-input col-6"
                        ngbDatepicker
                        autoClose="outside"
                        displayMonths="2"
                        outsideDays="hidden"
                        id="date"
                      />
                    </div>
                    <div class="form-group d-flex slider-bloc row" *ngIf="propStatus">
                      <label for="entryMode" class="col-5">Mode entrée</label>
                      <div class="multiSelectBlock col-6">
                        <p-multiSelect
                          [options]="entryModesData"
                          id="entryMode"
                          [virtualScroll]="true"
                          itemSize="30"
                          emptyFilterMessage="Aucun résultat trouvé"
                          defaultLabel="Choisir un mode d'entrée"
                          optionLabel="name"
                          display="chip"
                        ></p-multiSelect>
                      </div>
                    </div>
                  </div>
                </div>
              </form>
            </div>
          </div>
        </div>
      </div>
      <div class="dropdown-container search-container mb-2 mr-2 mb-sm-0">
        <div
          ngbDropdown
          (openChange)="onToggel($event, 'form2')"
          placement="bottom-left"
          autoClose="outside"
          container="body"
          class="d-inline-block drop-bloc"
        >
          <ng-template #TemplateForm2>
            <p *ngFor="let value of form2Values; let index = index">
              <span>{{ value }}</span>
            </p>
          </ng-template>
          <button
            class="btn dropdown-btn list quick-filter-btn"
            id="dropDownSearch2"
            ngbDropdownToggle
            (click)="resetFilter()"
          >
            <span>
              <i class="fas fa-tasks" style="color: #1f2b50"></i>
              Opération de gestion
              <i class="fa fa-sort-down" *ngIf="form2Values.length > 0 && !secondSearchDrop"></i>
            </span>
            <div
              [ngbTooltip]="form2Values.length > 0 ? TemplateForm2 : ''"
              placement="right"
              *ngIf="form2Values.length > 0 && !secondSearchDrop"
            >
              <div class="mt-3">
                <p *ngFor="let value of form2Values; let index = index">
                  <span *ngIf="index < 4">{{ value }}</span>
                </p>
                <p *ngIf="showForm2End">...</p>
              </div>
            </div>
          </button>
          <div
            class="py-0 ng-dropdown"
            ngbDropdownMenu
            aria-labelledby="dropDownSearch2"
            style="width: 900px; height: fit-content"
          >
            <div class="columns-dropdown search-form" style="width: 100% !important">
              <form [formGroup]="form2">
                <div class="col-12 pt-1 row">
                  <div class="col-6 mt-3">
                    <div class="form-group d-flex slider-bloc row">
                      <label for="mvt_type" class="col-5">Type de mouvement </label>
                      <div class="multiSelectBlock col-6">
                        <p-multiSelect
                          [options]="movementTypesData"
                          id="mvt_type"
                          [virtualScroll]="true"
                          itemSize="30"
                          formControlName="mouvement"
                          emptyFilterMessage="Aucun résultat trouvé"
                          defaultLabel="Choisir un types de mouvement"
                          optionLabel="name"
                          display="chip"
                        ></p-multiSelect>
                      </div>
                    </div>
                    <div class="form-group d-flex slider-bloc row">
                      <label for="mvt_type_action" class="col-5">Type action mouvement </label>
                      <div class="multiSelectBlock col-6">
                        <p-multiSelect
                          [options]="movementActionTypesData"
                          id="mvt_type_action"
                          [virtualScroll]="true"
                          itemSize="30"
                          formControlName="mouvementAction"
                          emptyFilterMessage="Aucun résultat trouvé"
                          defaultLabel="Choisir un types de mouvement"
                          optionLabel="name"
                          display="chip"
                        ></p-multiSelect>
                      </div>
                    </div>
                    <div class="form-group mt-4 d-flex align-items-center">
                      <label class="mt-2">Titre de perception demandé </label>
                      <input class="m-2" type="checkbox" name="options" id="option1" formControlName="perseption" />
                    </div>
                  </div>
                  <div class="col-6 mt-3">
                    <div class="form-group d-flex slider-bloc row">
                      <label for="domaine" class="col-5">Types de constat </label>
                      <div class="multiSelectBlock col-6">
                        <p-multiSelect
                          [options]="reportTypesData"
                          id="constat_type"
                          [virtualScroll]="true"
                          itemSize="30"
                          formControlName="constat"
                          emptyFilterMessage="Aucun résultat trouvé"
                          defaultLabel="Choisir des types de constat"
                          optionLabel="name"
                          display="chip"
                        ></p-multiSelect>
                      </div>
                    </div>
                    <div class="form-group d-flex slider-bloc row">
                      <label for="domaine" class="col-5">Types actions constat </label>
                      <div class="multiSelectBlock col-6">
                        <p-multiSelect
                          [options]="reportActionTypesData"
                          id="action_constat"
                          [virtualScroll]="true"
                          itemSize="30"
                          formControlName="constatAction"
                          emptyFilterMessage="Aucun résultat trouvé"
                          defaultLabel="Choisir types d\'actions"
                          optionLabel="name"
                          display="chip"
                        ></p-multiSelect>
                      </div>
                    </div>
                  </div>
                </div>
              </form>
            </div>
          </div>
        </div>
      </div>
      <div class="dropdown-container search-container mb-2 mr-2 mb-sm-0">
        <div
          ngbDropdown
          (openChange)="onToggel($event, 'form3')"
          placement="bottom-left"
          autoClose="outside"
          container="body"
          class="d-inline-block drop-bloc"
        >
          <ng-template #TemplateForm3>
            <p *ngFor="let value of form3Values; let index = index">
              <span>{{ value }}</span>
            </p>
          </ng-template>
          <button
            class="btn dropdown-btn list quick-filter-btn"
            id="dropDownSearch3"
            ngbDropdownToggle
            (click)="resetFilter()"
          >
            <span>
              <i class="fas fa-user-cog" style="color: #1f2b50"></i>
              Localisation administrative
              <i class="fa fa-sort-down" *ngIf="form3Values.length > 0 && !thirdSearchDrop"></i>
            </span>
            <div
              [ngbTooltip]="form3Values.length ? TemplateForm3 : ''"
              placement="right"
              *ngIf="form3Values.length > 0 && !thirdSearchDrop"
            >
              <div class="mt-3">
                <p *ngFor="let value of form3Values; let index = index">
                  <span *ngIf="index < 4">{{ value | formValue }}</span>
                </p>
                <p *ngIf="showForm3End">...</p>
              </div>
            </div>
          </button>
          <div
            class="py-0 ng-dropdown"
            ngbDropdownMenu
            aria-labelledby="dropDownSearch3"
            style="width: 550px; height: fit-content"
          >
            <div class="columns-dropdown search-form" style="width: 100% !important">
              <form [formGroup]="form3">
                <div class="col-12 pt-1 row">
                  <div class="col-12 mt-3">
                    <div class="form-group d-flex slider-bloc row">
                      <label for="ministries" class="col-5">Ministéres </label>
                      <div class="multiSelectBlock col-6">
                        <p-multiSelect
                          itemSize="30"
                          [virtualScroll]="true"
                          (onPanelHide)="onAdministratifMultiSelectChange('ministry')"
                          [options]="ministryData"
                          id="ministries"
                          emptyFilterMessage="Aucun résultat trouvé"
                          defaultLabel="Choisir des ministères"
                          formControlName="ministry"
                          optionLabel="name"
                          display="chip"
                        ></p-multiSelect>
                      </div>
                    </div>
                    <div class="form-group d-flex slider-bloc row">
                      <label for="establishement" class="col-5">Etab./Dir. </label>
                      <div class="multiSelectBlock col-6">
                        <p-multiSelect
                          itemSize="30"
                          [virtualScroll]="true"
                          (onPanelHide)="onAdministratifMultiSelectChange('etablissement')"
                          [options]="establishmentData"
                          id="etablissement"
                          formControlName="etablissement"
                          emptyFilterMessage="Aucun résultat trouvé"
                          defaultLabel="Choisir des étab/dir"
                          optionLabel="name"
                          display="chip"
                        ></p-multiSelect>
                      </div>
                    </div>
                    <div class="form-group d-flex slider-bloc row">
                      <label for="sub-divison" class="col-5">Sous-direction </label>
                      <div class="multiSelectBlock col-6">
                        <p-multiSelect
                          itemSize="30"
                          [virtualScroll]="true"
                          [options]="subDivisionData"
                          (onPanelHide)="onAdministratifMultiSelectChange('sousDirection')"
                          formControlName="sousDirection"
                          id="sub-divison"
                          emptyFilterMessage="Aucun résultat trouvé"
                          defaultLabel="Choisir des sous-direction"
                          optionLabel="name"
                          display="chip"
                        ></p-multiSelect>
                      </div>
                    </div>
                    <div class="form-group d-flex slider-bloc row">
                      <label for="domaine" class="col-5">Services </label>
                      <div class="multiSelectBlock col-6">
                        <p-multiSelect
                          [options]="serviceData"
                          id="services"
                          emptyFilterMessage="Aucun résultat trouvé"
                          defaultLabel="Choisir des services"
                          optionLabel="name"
                          display="chip"
                        ></p-multiSelect>
                      </div>
                    </div>
                  </div>

                  <div class="d-flex advanced-search-label mb-3 col-12" (click)="form3Advanced = !form3Advanced">
                    <i class="fa fa-plus-circle" *ngIf="!form3Advanced"></i>
                    <i class="fa fa-minus-circle" *ngIf="form3Advanced"></i>
                    <span>Recherche avancée</span>
                  </div>
                  <div *ngIf="form3Advanced" class="col-12">
                    <div class="form-group d-flex slider-bloc row">
                      <div class="row col-10">
                        <label class="col-5">Type Etablissement</label>
                        <div class="multiSelectBlock col-6">
                          <p-multiSelect
                            [options]="establishmentTypeData"
                            id="establishement_type"
                            emptyFilterMessage="Aucun résultat trouvé"
                            defaultLabel="Choisir type(s) d'établissement(s)"
                            optionLabel="name"
                            display="chip"
                          ></p-multiSelect>
                        </div>
                      </div>
                      <div class="col-md-2 multiSelectBlock">
                        <p-dropdown [options]="operatorData" optionLabel="name" optionValue="id"></p-dropdown>
                      </div>
                    </div>
                    <div class="form-group d-flex slider-bloc row">
                      <div class="row col-10">
                        <label class="col-5">Correspodants</label>
                        <div class="multiSelectBlock col-6">
                          <p-multiSelect
                            [options]="correspondentData"
                            id="correspandant"
                            emptyFilterMessage="Aucun résultat trouvé"
                            defaultLabel="Choisir des correspondants"
                            optionLabel="name"
                            display="chip"
                          ></p-multiSelect>
                        </div>
                      </div>
                      <div class="col-md-2 multiSelectBlock">
                        <p-dropdown [options]="operatorData" optionLabel="name" optionValue="id"></p-dropdown>
                      </div>
                    </div>
                  </div>
                </div>
              </form>
            </div>
          </div>
        </div>
      </div>
      <div class="dropdown-container search-container mb-2 mr-2 mb-sm-0">
        <div
          ngbDropdown
          (openChange)="onToggel($event, 'form4')"
          placement="bottom-left"
          autoClose="outside"
          container="body"
          class="d-inline-block drop-bloc"
        >
          <ng-template #TemplateForm4>
            <p *ngFor="let value of form4Values; let index = index">
              <span>{{ value }}</span>
            </p>
          </ng-template>
          <button
            class="btn dropdown-btn list quick-filter-btn"
            id="dropDownSearch4"
            ngbDropdownToggle
            (click)="resetFilter()"
          >
            <span>
              <i class="fas fa-passport" style="color: #1f2b50"></i>
              Localisation géographique
              <i class="fa fa-sort-down" *ngIf="form4Values.length > 0 && !fourthSearchDrop"></i>
            </span>

            <div
              style="display: table"
              [ngbTooltip]="form4Values.length > 0 ? TemplateForm4 : ''"
              placement="right"
              *ngIf="form4Values.length > 0 && !fourthSearchDrop"
            >
              <div class="mt-3">
                <p *ngFor="let value of form4Values; let index = index">
                  <span *ngIf="index < 4">{{ value }}</span>
                </p>
                <p *ngIf="showForm4End">...</p>
              </div>
            </div>
          </button>
          <div
            class="py-0 ng-dropdown"
            ngbDropdownMenu
            aria-labelledby="dropDownSearch4"
            style="width: 400px; height: fit-content"
          >
            <div class="columns-dropdown search-form" style="width: 100% !important">
              <form [formGroup]="form4">
                <div class="col-12 pt-1">
                  <div class="form-group d-flex slider-bloc row">
                    <label for="localType" class="col-5">Type local </label>
                    <div class="multiSelectBlock col-6">
                      <p-multiSelect
                        [options]="locationTypeData"
                        id="localType"
                        formControlName="localType"
                        emptyFilterMessage="Aucun résultat trouvé"
                        defaultLabel="Choisir des types local"
                        optionLabel="name"
                        display="chip"
                      ></p-multiSelect>
                    </div>
                  </div>
                  <div class="form-group d-flex slider-bloc row">
                    <label for="region" class="col-5">Régions </label>
                    <div class="multiSelectBlock col-6">
                      <p-multiSelect
                        [options]="regionData"
                        id="region"
                        formControlName="region"
                        emptyFilterMessage="Aucun résultat trouvé"
                        defaultLabel="Choisir des régions"
                        optionLabel="name"
                        display="chip"
                      ></p-multiSelect>
                    </div>
                  </div>
                  <div class="form-group d-flex slider-bloc row">
                    <label for="departement" class="col-5">Départements </label>
                    <div class="multiSelectBlock col-6">
                      <p-multiSelect
                        [options]="departmentsData"
                        id="departement"
                        formControlName="departement"
                        emptyFilterMessage="Aucun résultat trouvé"
                        defaultLabel="Choisir des départements"
                        optionLabel="name"
                        display="chip"
                      ></p-multiSelect>
                    </div>
                  </div>
                  <div class="form-group d-flex slider-bloc row">
                    <label for="communes" class="col-5">Communes </label>
                    <div class="multiSelectBlock col-6">
                      <p-multiSelect
                        [options]="communesData"
                        id="communes"
                        itemSize="30"
                        [virtualScroll]="true"
                        formControlName="communes"
                        emptyFilterMessage="Aucun résultat trouvé"
                        defaultLabel="Choisir des communes"
                        optionLabel="name"
                        display="chip"
                      ></p-multiSelect>
                    </div>
                  </div>
                  <div class="form-group d-flex slider-bloc row">
                    <label for="batiment" class="col-5">Bâtiments </label>
                    <div class="multiSelectBlock col-6">
                      <p-multiSelect
                        [options]="buildingData"
                        id="batiment"
                        itemSize="30"
                        [virtualScroll]="true"
                        formControlName="batiment"
                        emptyFilterMessage="Aucun résultat trouvé"
                        defaultLabel="Choisir des bâtiments"
                        optionLabel="name"
                        display="chip"
                      ></p-multiSelect>
                    </div>
                  </div>
                  <div class="form-group d-flex slider-bloc row">
                    <label for="sites" class="col-5">Sites </label>
                    <div class="multiSelectBlock col-6">
                      <p-multiSelect
                        [options]="siteData"
                        id="sites"
                        itemSize="30"
                        [virtualScroll]="true"
                        formControlName="sites"
                        emptyFilterMessage="Aucun résultat trouvé"
                        defaultLabel="Choisir des sites"
                        optionLabel="name"
                        display="chip"
                      ></p-multiSelect>
                    </div>
                  </div>
                  <div class="form-group d-flex slider-bloc row">
                    <label for="pieceNumber" class="col-5">N pièces </label>
                    <div class="multiSelectBlock col-6">
                      <p-multiSelect
                        [options]="roomData"
                        id="pieceNumber"
                        itemSize="30"
                        [virtualScroll]="true"
                        formControlName="pieceNumber"
                        emptyFilterMessage="Aucun résultat trouvé"
                        defaultLabel="Choisir des N pièces"
                        optionLabel="name"
                        display="chip"
                      ></p-multiSelect>
                    </div>
                  </div>
                  <div class="form-group d-flex slider-bloc row">
                    <label for="pieceNumbers" class="col-5">Etage </label>
                    <div class="multiSelectBlock col-6">
                      <p-multiSelect
                        [options]="levelData"
                        id="pieceNumbers"
                        itemSize="30"
                        [virtualScroll]="true"
                        formControlName="pieceNumber"
                        emptyFilterMessage="Aucun résultat trouvé"
                        defaultLabel="Choisir des Etages"
                        optionLabel="name"
                        display="chip"
                      ></p-multiSelect>
                    </div>
                  </div>
                  <div class="form-group d-flex slider-bloc row">
                    <label for="domaine" class="col-5">Correspodants </label>
                    <!--                    <ng-multiselect-dropdown-->
                    <!--                      class="select col-6 w-100"-->
                    <!--                      [placeholder]="'Choisir des correspondants'"-->
                    <!--                      [settings]="dropdownSettings"-->
                    <!--                      [data]="domaine"-->
                    <!--                      formControlName="correspondant"-->
                    <!--                      (onSelect)="onDomainSelect($event)"-->
                    <!--                      (onSelectAll)="onSelectAll($event)"-->
                    <!--                    >-->
                    <!--                    </ng-multiselect-dropdown>-->
                  </div>
                </div>
              </form>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div *ngIf="showDatatable">
      <div class="filter-bloc d-flex">
        <div class="d-flex">
          <div class="dropdown-container mb-2 mr-2 mb-sm-0">
            <div
              ngbDropdown
              placement="bottom-right"
              class="d-inline-block drop-bloc"
              autoClose="outside"
              container="body"
            >
              <button
                class="btn dropdown-btn export-button"
                id="dropdownBasic"
                ngbDropdownToggle
                translate
                style="background-color: #0466c8"
              >
                <i class="fas fa-file-export" style="color: white"></i>
              </button>
              <div class="py-0 ng-dropdown" ngbDropdownMenu aria-labelledby="dropdownBasic">
                <ul class="list-group">
                  <li class="list-group-item"><i class="fas fa-file-export"></i> Exporter Notices style catalogue</li>
                  <li class="list-group-item"><i class="fas fa-file-export"></i> Exporter Notices techniques</li>
                  <li class="list-group-item">
                    <i class="fas fa-file-export"></i> Exporter Notices complètes techniques
                  </li>
                </ul>
              </div>
            </div>
          </div>
          <div class="dropdown-container mb-2 mr-2 mb-sm-0">
            <div
              ngbDropdown
              placement="bottom-right"
              class="d-inline-block drop-bloc"
              autoClose="outside"
              container="body"
            ></div>
          </div>
          <div class="dropdown-container mb-2 mb-sm-0">
            <div
              ngbDropdown
              placement="bottom-right"
              class="d-inline-block drop-bloc"
              autoClose="outside"
              container="body"
            >
              <button class="btn dropdown-btn headers-btn" id="dropdownBasic1" ngbDropdownToggle translate>
                <i class="fas fa-cog"></i>
                Colonnes
              </button>
              <div class="py-0 ng-dropdown" ngbDropdownMenu aria-labelledby="dropdownBasic1">
                <div class="columns-dropdown header-dropdown">
                  <div class="col-12 col-sm-6 pt-1 column-check" *ngFor="let headerCol of visibleCol">
                    <label class="checkbox-container" translate
                      >{{ headerCol.header }}
                      <input
                        type="checkbox"
                        #headerCheck
                        (click)="onHeaderToggle(headerCol, $event)"
                        [checked]="headerCol.isVisible"
                      />
                      <span class="checkmark"></span>
                    </label>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="search-quick-fliter-bloc d-flex flex-content-between">
        <div class="d-flex">
          <div class="search-panel">
            <input
              (keyup)="search($event)"
              class="form-control"
              type="text"
              name="search"
              autocomplete="off"
              placeholder="Recherche"
            />
          </div>
        </div>
      </div>
      <div class="datatable mt-4" *ngIf="showDatatable && artWorksData?.results.length > 0 && this.columns?.length > 0">
        <div *ngIf="selectedRowCount > 1">
          <div class="mass-action-container">
            <i class="fas fa-share"></i>
            <button class="btn add-action" translate>
              <i class="fas fa-plus"></i>
              Créer mouvement
            </button>
            <button class="btn add-action" translate>
              <i class="fas fa-plus"></i>
              Créer constat
            </button>
            <button class="btn add-action" translate>
              <i class="fas fa-plus"></i>
              Créer recolement
            </button>
            <button class="btn add-action" translate>
              <div
                ngbDropdown
                placement="bottom-right"
                class="d-inline-block export-dropdown-bloc"
                autoClose="outside"
                container="body"
              >
                <button class="btn export-button" id="dropdownBasic12" ngbDropdownToggle translate>
                  <i class="fas fa-file-export"></i>
                </button>
                <div class="py-0 ng-dropdown" ngbDropdownMenu aria-labelledby="dropdownBasic12">
                  <ul class="list-group">
                    <li class="list-group-item"><i class="fas fa-file-export"></i> Exporter Notices style catalogue</li>
                    <li class="list-group-item"><i class="fas fa-file-export"></i> Exporter Notices techniques</li>
                    <li class="list-group-item">
                      <i class="fas fa-file-export"></i> Exporter Notices complètes techniques
                    </li>
                  </ul>
                </div>
              </div>
            </button>
          </div>
        </div>
        <div *ngIf="selectedRowCount == 1">
          <div class="mass-action-container">
            <i class="fas fa-share"></i>
            <button class="btn add-action" translate>
              <i class="fas fa-history"></i>
              Historique
            </button>
            <button class="btn add-action" translate>
              <i class="fas fa-edit"></i>
              Modifier
            </button>
            <button class="btn add-action" translate>
              <i class="fas fa-copy"></i>
              Copier
            </button>
          </div>
        </div>
        <app-ng-data-table
          [columns]="columns"
          [data]="artWorksData.results"
          (multipleSelectionEvent)="onRowsSelection($event)"
          [frozenCols]="frozenCols"
          [frozenWidth]="'200px'"
          [checkBoxSelection]="true"
          [loading]="loading"
          (pageChanged)="pagination($event)"
          (filterValue)="onDataTableFilterChange($event)"
          [totalFiltred]="artWorksData.filteredQuantity"
          [total]="artWorksData.totalQuantity"
          [page]="artWorksData.page"
          [limit]="artWorksData.size"
          [end]="end"
          [start]="start"
        >
        </app-ng-data-table>
      </div>
    </div>
  </div>
</div>
<!--Modal-->
<div id="image-viewer" [class.active]="openImg">
  <p class="close" (click)="showImg()">&times;</p>
  <img [src]="imageUrl" alt="" class="modal-content" id="full-image" />
</div>
