h6 {
  font-size: 14px;
}
.container-fluid {
  .bar {
    height: 50px;
  }
  .body {
    background-color: white;
    margin: 5px 70px;
    padding: 20px 40px;
    .add-export-bloc {
      justify-content: space-between;
      .add-bloc {
        .add-button {
          margin-right: 10px;
        }
      }
      .export-bloc {
        .excel {
          width: 35px;
          height: 32px;
          cursor: pointer;
        }
      }
    }
    .filter-bloc {
      justify-content: flex-end;
      .search-panel {
        padding: 0;
      }
    }
  }
}
.columns-dropdown {
  display: flex;
  flex-wrap: wrap;
  width: 300px;

  .column-check {
    border-bottom: solid #ccc 1px;
    cursor: pointer;
    transition: all ease-in-out 0.3s;

    &:hover {
      color: #fff;
      background-color: rgba(36, 52, 61, 0.5);
    }
    input[type="radio"],
    input[type="checkbox"] {
      box-sizing: border-box;
      padding: 0;
      right: 0;
      margin-right: 29px;
      position: absolute;
      margin-top: 6px;
    }
  }
}
.list-group-item {
  padding: 10px 20px;
  font-size: 14px;
  cursor: pointer;
  i {
    margin-right: 10px;
  }
  &:hover {
    background-color: #a6a6a6;
  }
}
.checkbox-container {
  font-size: 14px;
}
.dropdown-container {
  .drop-bloc {
    margin-top: 11px;
    .export-button {
      border: none;
      &::after {
        display: none;
      }
    }
    button {
      height: 30px;
      border: 1px solid #ced4da;
      line-height: 0;
      font-size: 12px;
      &:focus,
      &:active {
        outline: none;
        box-shadow: none;
      }
    }
  }
  i {
    font-size: 20px;
  }
  .list::after {
    display: none;
  }
  button:hover,
  button:active,
  button:focus {
    background-color: #407ca8;
    color: white;
  }
}

.quick-filter-btn {
  color: #407ca8;
  font-weight: bold;
}
.text-quick-filter {
  height: 25px;
  margin-top: 16px;
  margin-right: 15px;
  font-weight: bold;
}

.search-quick-fliter-bloc {
  justify-content: space-between;
  width: 100%;
}
.picture-mode {
  .picture {
    border: 1px solid #407ca8;
    color: #407ca8;
  }
  .list {
    border: 1px solid #407ca8;
    color: white;
    background-color: #407ca8;
  }
}
.list-mode {
  .picture {
    border: 1px solid #407ca8;
    color: white;
    background-color: #407ca8;
  }
  .list {
    border: 1px solid #407ca8;
    color: #407ca8;
  }
}
.picture-mode,
.list-mode {
  i {
    font-size: 14px;
  }
  button {
    border: 1px solid #407ca8;
    color: #407ca8;
    height: 30px;
    line-height: 10px;
    width: 30px;
    padding-left: 9px;
    margin-right: 0px;
    border-radius: 0;
    &:hover {
      color: white;
      background-color: #407ca8;
    }
    &:focus,
    &:active {
      outline: none;
      box-shadow: none;
    }
  }
}

::ng-deep .customclass1 {
  height: 50px !important;
}

::ng-deep .card {
  margin-bottom: 20px;
}

::ng-deep .card .card-header.active > a > span {
  color: #1d2124;
}

.request {
  width: 100%;
  height: 40px;
  cursor: pointer;
  border: 1px solid #ced4da;
  background-color: #ced4da;
  align-items: center;
  padding: 10.5px 7px;

  h5 {
    font-size: 15px;
    margin-bottom: 0;
    font-weight: bold;
  }
  &:after {
    font-family: "Font Awesome 5 Free", serif;
    font-weight: 900;
    content: "";
    position: absolute;
    top: 175px;
    transform: rotate(90deg);
    justify-content: flex-end;
    float: right;
    right: 150px;
  }
}
.non-collapsed::after {
  transform: rotate(-90deg);
}

.collapse-bloc {
  border: 1px solid #ced4da;
  width: 100%;
  padding: 6.5px 7px;
}
