<form [formGroup]="descriptifForm" *ngIf="descriptifForm">
  <div class="form-bloc" *ngIf="attributeToShow">
    <div class="col-md-6">
      <div class="form-group flex-wrap flex-sm-nowrap">
        <label class="">Titre<span class="mandatory" *ngIf="edit">*</span></label>
        <div class="value" *ngIf="!edit">{{ artwork.title }}</div>
        <input type="text" class="form-control value col-12 col-sm-7" formControlName="title" *ngIf="edit" />
      </div>
      <div
        *ngIf="
          descriptifForm.get('title').invalid &&
          (descriptifForm.get('title').dirty || descriptifForm.get('title').touched)
        "
      >
        <div class="mandatory" *ngIf="edit && descriptifForm.get('title').errors.required">
          Veuillez saisir un titre.
        </div>
      </div>
    </div>
    <div class="col-md-6">
      <div class="form-group flex-wrap flex-sm-nowrap">
        <label>Domaine<span class="mandatory" *ngIf="edit">*</span></label>
        <div class="value" *ngIf="!edit">{{ artwork.field.label }}</div>
        <div class="autocomplete form-control value col-12 col-sm-7" *ngIf="edit">
          <p-dropdown
            class="col-md-12"
            [style]="{ minWidth: '100%' }"
            [options]="domainData"
            formControlName="field"
            id="field"
            placeholder="Choisir un domaine"
            optionLabel="name"
            [showClear]="false"
            emptyFilterMessage="Aucun résultat trouvé"
            (onChange)="onSelect($event, 'field')"
          ></p-dropdown>
        </div>
      </div>
      <div
        *ngIf="
          edit &&
          descriptifForm.get('field').invalid &&
          (descriptifForm.get('field').dirty || descriptifForm.get('field').touched)
        "
      >
        <div class="mandatory" *ngIf="descriptifForm.get('field').errors.required">Veuillez saisir un domaine</div>
      </div>
    </div>
    <div class="col-md-6">
      <div class="form-group flex-wrap flex-sm-nowrap">
        <label class="-4">Dénomination<span class="mandatory" *ngIf="edit">*</span></label>
        <div class="value" *ngIf="!edit">{{ artwork.denomination.label }}</div>
        <div class="autocomplete form-control value col-12 col-sm-7" *ngIf="edit">
          <p-dropdown
            class="col-md-12"
            [style]="{ minWidth: '100%' }"
            [options]="denominationData"
            formControlName="denomination"
            id="denomination"
            placeholder="Choisir une dénomination"
            optionLabel="label"
            [showClear]="false"
            (onChange)="onSelect($event, 'denomination')"
            emptyFilterMessage="Aucun résultat trouvé"
            [filter]="true"
          ></p-dropdown>
        </div>
      </div>
      <div
        *ngIf="
          edit &&
          descriptifForm.get('denomination').invalid &&
          (descriptifForm.get('denomination').dirty || descriptifForm.get('denomination').touched)
        "
      >
        <div class="mandatory" *ngIf="descriptifForm.get('denomination').errors.required">
          Veuillez saisir une dénomination
        </div>
      </div>
    </div>
    <div class="divider"></div>
    <div class="form-group col-md-12 flex-wrap flex-wrap" style="max-width: 98%">
      <label style="margin-right: -17%; width: 18%" class="col-sm-5">Auteurs</label>
      <div class="value" *ngIf="!edit">
        <ng-container *ngFor="let author of artwork.authors; let i = index">
          {{ author.label }}<span *ngIf="i + 1 < artwork.authors.length">, </span>
        </ng-container>
      </div>
      <p-multiSelect
        *ngIf="edit && authorData && authorData.length > 0"
        class="select col-md-4 col-sm-7 p-sm-0 col-12"
        selectionLimit="5"
        [maxSelectedLabels]="2"
        [style]="{ width: '100%' }"
        [options]="authorData"
        formControlName="authors"
        optionLabel="label"
        display="chip"
        [filter]="true"
        defaultLabel="Sélectionner des auteurs"
      >
      </p-multiSelect>
      <div class="col-md-4 col-12 p-sm-0 link value" *ngIf="edit">
        <a href="">Ajouter un nouvel auteur</a>
      </div>
    </div>
    <div class="col-md-8"></div>
    <div class="d-flex flex-wrap justify-content-between" *ngIf="(selectedDomain || artwork.field) && attributeToShow">
      <div class="divider"></div>
      <div class="form-group col-md-6 flex-wrap flex-sm-nowrap" *ngIf="attributeToShow.includes('height')">
        <label class="">Hauteur</label>
        <div class="value" *ngIf="!edit">{{ artwork.height }}</div>
        <div class="d-flex value col-12 col-sm-7" *ngIf="edit">
          <input class="col-md-8 form-control" type="number" formControlName="height" />
          <select class="col-md-4 col-sm-4 form-control">
            <option class="active">cm</option>
            <option>m</option>
          </select>
        </div>
      </div>
      <div class="form-group col-md-6 flex-wrap flex-sm-nowrap" *ngIf="attributeToShow.includes('width')">
        <label class="">Largeur</label>
        <div class="value" *ngIf="!edit">{{ artwork.width }}</div>
        <div class="d-flex value col-12 col-sm-7" *ngIf="edit">
          <input class="col-md-8 form-control" type="number" formControlName="width" />
          <select class="col-md-4 col-sm-4 form-control">
            <option class="active">cm</option>
            <option>m</option>
          </select>
        </div>
      </div>
      <div class="form-group col-md-6 flex-wrap flex-sm-nowrap" *ngIf="attributeToShow.includes('totalWidth')">
        <label class="">Largeur Tot </label>
        <div class="value" *ngIf="!edit">{{ artwork.totalWidth }}</div>
        <div class="d-flex value col-12 col-sm-7" *ngIf="edit">
          <input class="col-md-8 form-control" type="number" formControlName="totalWidth" />
          <select class="col-md-4 col-sm-4 form-control">
            <option class="active">cm</option>
            <option>m</option>
          </select>
        </div>
      </div>
      <div class="form-group col-md-6 flex-wrap flex-sm-nowrap" *ngIf="attributeToShow.includes('totalHeight')">
        <label class="">Hauteur Tot</label>
        <div class="value" *ngIf="!edit">{{ artwork.totalHeight }}</div>
        <div class="d-flex value col-12 col-sm-7" *ngIf="edit">
          <input class="col-md-8 form-control" type="number" formControlName="totalHeight" />
          <select class="col-md-4 col-sm-4 form-control">
            <option class="active">cm</option>
            <option>m</option>
          </select>
        </div>
      </div>
      <div class="form-group col-md-6 flex-wrap flex-sm-nowrap" *ngIf="attributeToShow.includes('length')">
        <label class="">Longueur</label>
        <div class="value" *ngIf="!edit">{{ artwork.length }}</div>
        <div class="d-flex value col-12 col-sm-7" *ngIf="edit">
          <input class="col-md-8 form-control" type="number" formControlName="length" />
          <select class="col-md-4 col-sm-4 form-control">
            <option class="active">cm</option>
            <option>m</option>
          </select>
        </div>
      </div>
      <div class="form-group col-md-6 flex-wrap flex-sm-nowrap" *ngIf="attributeToShow.includes('depth')">
        <label class="">Profondeur</label>
        <div class="value" *ngIf="!edit">{{ artwork.depth }}</div>
        <div class="d-flex value" *ngIf="edit">
          <input class="col-md-8 form-control col-12 col-sm-7" type="number" formControlName="depth" />
          <select class="col-md-4 col-sm-4 form-control">
            <option class="active">cm</option>
            <option>m</option>
          </select>
        </div>
      </div>
      <div class="form-group col-md-6 flex-wrap flex-sm-nowrap" *ngIf="attributeToShow.includes('weight')">
        <label class="col-md-3">Poids</label>
        <div class="value" *ngIf="!edit">{{ artwork.weight }}</div>
        <div class="d-flex value col-12 col-sm-7" *ngIf="edit">
          <input class="col-md-8 form-control" type="number" formControlName="weight" />
          <select class="col-md-4 col-sm-4 form-control">
            <option class="active">Kg</option>
          </select>
        </div>
      </div>
      <div class="form-group col-md-6 flex-wrap flex-sm-nowrap" *ngIf="attributeToShow.includes('diameter')">
        <label class="">Diamètre</label>
        <div class="value" *ngIf="!edit">{{ artwork.diameter }}</div>
        <div class="d-flex value col-12 col-sm-7" *ngIf="edit">
          <input class="col-md-8 form-control" type="number" formControlName="diameter" />
          <select class="col-md-4 form-control">
            <option class="active">cm</option>
            <option>m</option>
          </select>
        </div>
      </div>
      <div class="col-md-4"></div>
      <div class="divider"></div>
      <div class="form-group col-md-6 flex-wrap flex-sm-nowrap" *ngIf="attributeToShow.includes('era')">
        <label class="">Epoque</label>
        <div class="value" *ngIf="!edit">{{ artwork?.era?.label }}</div>
        <div class="autocomplete form-control value col-12 col-sm-7" *ngIf="edit">
          <p-dropdown
            class="col-md-12"
            [style]="{ minWidth: '100%' }"
            [options]="eraData"
            formControlName="era"
            placeholder="Choisir une époque"
            optionLabel="name"
            [showClear]="false"
          ></p-dropdown>
        </div>
      </div>
      <div class="form-group col-md-6 flex-wrap flex-sm-nowrap" *ngIf="attributeToShow.includes('style')">
        <label class="">Style</label>
        <div class="value" *ngIf="!edit">{{ artwork?.style?.label }}</div>
        <div class="autocomplete form-control value col-12 col-sm-7" *ngIf="edit">
          <p-dropdown
            class="col-md-12"
            [style]="{ minWidth: '100%' }"
            [options]="styleData"
            formControlName="style"
            placeholder="Choisir un style"
            optionLabel="name"
            [showClear]="false"
          ></p-dropdown>
        </div>
      </div>
      <div class="form-group col-md-6 flex-wrap flex-sm-nowrap">
        <label class="">Date de création</label>
        <div class="value" *ngIf="!edit">{{ artwork.createdAt }}</div>

        <div class="autocomplete form-control value col-12 col-sm-7" *ngIf="edit">
          <input
            class="col-12 col-sm-7 form-control"
            autocomplete="off"
            name="date"
            (bsValueChange)="onChange($event)"
            [bsConfig]="{ dateInputFormat: 'YYYY' }"
            bsDatepicker
            [style]="{ minWidth: '100%' }"
            minMode="year"
            placeholder="YYYY"
            formControlName="creationDate"
          />
        </div>
      </div>
      <div class="col-md-6">
        <div class="form-group flex-wrap flex-sm-nowrap" *ngIf="attributeToShow.includes('materialTechnique')">
          <label class="">Matières <span class="mandatory" *ngIf="edit">*</span></label>
          <div class="value" *ngIf="!edit">
            <ng-container *ngFor="let materialTechnique of artwork.materialTechnique; let i = index">
              {{ materialTechnique.label }}<span *ngIf="i + 1 < artwork.materialTechnique.length">, </span>
            </ng-container>
          </div>

          <div class="autocomplete form-control value col-12 col-sm-7" *ngIf="edit">
            <p-multiSelect
              *ngIf="edit && materialTechniquesData && materialTechniquesData.length > 0"
              selectionLimit="5"
              [maxSelectedLabels]="2"
              [style]="{ width: '100%' }"
              [options]="materialTechniquesData"
              formControlName="materialTechnique"
              optionLabel="name"
              [filter]="true"
              display="chip"
            >
            </p-multiSelect>
          </div>
        </div>
        <div
          *ngIf="
            edit &&
            descriptifForm.get('materialTechnique').invalid &&
            (descriptifForm.get('materialTechnique').dirty || descriptifForm.get('materialTechnique').touched)
          "
        >
          <div class="mandatory" *ngIf="descriptifForm.get('materialTechnique').errors.required">
            Veuillez saisir une matière/technique
          </div>
        </div>
      </div>
      <div class="col-md-6" *ngIf="attributeToShow.includes('numberOfUnit')">
        <div class="form-group flex-wrap flex-sm-nowrap">
          <label class="">Nombre unité<span class="mandatory" *ngIf="edit">*</span></label>
          <div class="value" *ngIf="!edit">{{ artwork.nbrunite }}</div>
          <div class="d-flex value col-12 col-sm-7">
            <input *ngIf="edit" class="col-md-12 form-control" type="number" value="0" formControlNAme="numberOfUnit" />
          </div>
        </div>
        <div
          *ngIf="
            edit &&
            descriptifForm.get('numberOfUnit').invalid &&
            (descriptifForm.get('numberOfUnit').dirty || descriptifForm.get('numberOfUnit').touched)
          "
        >
          <div class="mandatory" *ngIf="descriptifForm.get('numberOfUnit').errors.required">
            Veuillez saisir un nombre d'unité
          </div>
        </div>
      </div>
      <div class="divider"></div>
      <div class="form-group col-md-6 flex-wrap flex-sm-nowrap" *ngIf="addProperty">
        <label>Marquage</label>
        <div class="value" *ngIf="!edit">{{ artwork.marquage }}</div>
        <input *ngIf="edit" class="form-control value col-12 col-sm-7" placeholder="Marquage" />
      </div>
      <div class="form-group col-md-6 flex-wrap flex-sm-nowrap" *ngIf="addProperty">
        <label>Signature inscription</label>
        <input *ngIf="edit" class="form-control value col-12 col-sm-7" placeholder="Signature inscription" />
      </div>

      <div class="form-group d-flex align-items-center col-md-6" *ngIf="addProperty">
        <label class="">Mots descriptifs</label>
        <div class="value" *ngIf="!edit">{{ artwork.desc }}</div>
        <tag-input
          *ngIf="edit"
          formControlName="descriptiveWords"
          [editable]="true"
          (onTagEdited)="onTagEdited($event)"
          secondaryPlaceholder="Entrer mots descriptifs"
          class="value"
          placeholder=" +Mots descriptifs"
        ></tag-input>
      </div>
      <div class="col-md-12" *ngIf="addProperty">
        <div class="d-flex form-group col-md-12 p-0">
          <label>Commentaire</label>
          <div class="value" *ngIf="!edit">{{ artwork.comment }}</div>
          <textarea type="text" class="form-control" placeholder="Commentaire ..." *ngIf="edit"></textarea>
        </div>
      </div>
    </div>
  </div>
</form>
