<div class="col-md-12 pl-0">
  <div class="col-md-12 p-0">
    <h5 class="pl-0">Liens avec oeuvres</h5>
    <div class="d-flex justify-content-end" *ngIf="(addLinks || existingLinks.length) && !parentLink && !add">
      <button class="btn add-action col-7" (click)="addNewLinks()">
        <i class="fas fa-plus mr-2"></i>Ajouter fait partie de
      </button>
    </div>

    <ol class="rounded-list" *ngIf="!add">
      <li *ngIf="addLinks || existingLinks.length || parentLink || add">Fait partie de:</li>
      <li *ngIf="addLinks">
        <p-autoComplete
          #autocompletePanel
          class="select col-md-4 col-sm-7 p-sm-0 col-12"
          [style]="{ width: '100%' }"
          [suggestions]="artWorksData"
          field="data"
          (completeMethod)="search($event)"
          [dropdown]="true"
          (onShow)="change()"
          minLength="3"
          virtualScroll="true"
          defaultLabel="Sélectionner un numéro d'inventaire"
        >
          <ng-template let-item pTemplate="item"> {{ item.data }} </ng-template>
        </p-autoComplete>
        <div class="d-flex justify-content-end col-12 p-0 mt-2 mb-2">
          <button (click)="cancelLink()" class="mr-2 cancel-btn">Annuler</button>
          <button (click)="addLink()" class="valid-btn">Valider</button>
        </div>
      </li>
      <ng-template ngFor let-item pTemplate="item" [ngForOf]="parentLink" let-i="index">
        <li *ngIf="parentLink">
          <span
            ><a href="#">{{ item.name }}</a>
            <div>
              <i class="far fa-edit col-1 mr-2" (click)="editLink()" pTooltip="Modifier" tooltipPosition="top"></i>
              <i
                class="far fa-trash-alt"
                *ngIf="itemDetails"
                (click)="delete(item)"
                pTooltip="Supprimer"
                tooltipPosition="top"
              ></i>
            </div>
          </span>
        </li>
      </ng-template>
      <li *ngIf="children">
        Composé de :
        <ol>
          <li>
            <span><a href="#">149</a> | 22/01/2020 | Jean</span>
          </li>
          <li>
            <span><a href="#">149</a> | 22/01/2020 | Jean</span>
          </li>
          <li>
            <span><a href="#">149</a> | 22/01/2020 | Jean</span>
          </li>
        </ol>
      </li>
    </ol>
  </div>

  <ol class="mb-2" *ngIf="add">
    <li class="mb-2">Fait partie de:</li>
    <li>
      <p-autoComplete
        #autocompletePanel
        class="select col-md-4 col-sm-7 p-sm-0 col-12"
        [style]="{ width: '100%' }"
        [suggestions]="artWorksData"
        field="data"
        (completeMethod)="search($event)"
        (onSelect)="handleSelect($event)"
        [dropdown]="true"
        (onShow)="change()"
        [(ngModel)]="link"
        minLength="3"
        virtualScroll="true"
        defaultLabel="Sélectionner un numéro d'inventaire"
      >
        <ng-template let-item pTemplate="item"> {{ item.data }} </ng-template>
      </p-autoComplete>
    </li>
  </ol>
</div>
<p-dialog header="Supprimer le lien avec oeuvre" [modal]="true" [(visible)]="deleteDialog" [style]="{ width: '30vw' }">
  <div class="p-0 pb-3">
    <div class="col-12">
      <span
        >Voulez-vous supprimer le lien avec oeuvre "<strong> {{ itemToDelete }} </strong>" ?</span
      >
    </div>
  </div>
  <ng-template pTemplate="footer">
    <button class="cancel-btn" (click)="cancelDelete()" style="font-size: 12px">Annuler</button>
    <button class="valid-btn" (click)="removeLink(getIndex(selectedItem))" style="font-size: 12px">supprimer</button>
  </ng-template>
</p-dialog>
