<div class="col-md-12 pl-0">
  <div class="col-md-12 p-0">
    <h5 class="pl-0">Liens avec oeuvres</h5>

    <ol class="rounded-list" *ngIf="!add">
      <li>Fait partie de:</li>
      <li>
        <span><a href="#">149</a> | 22/01/2020 | Jean</span>
      </li>
      <li>
        Composé de :
        <ol>
          <li>
            <span><a href="#">149</a> | 22/01/2020 | Jean</span>
          </li>
          <li>
            <span><a href="#">149</a> | 22/01/2020 | Jean</span>
          </li>
          <li>
            <span><a href="#">149</a> | 22/01/2020 | Jean</span>
          </li>
        </ol>
      </li>
    </ol>
  </div>

  <ol class="mb-2" *ngIf="add">
    <li class="mb-2">Fait partie de:</li>
    <li>
      <p-autoComplete
        #autocompletePanel
        class="select col-md-4 col-sm-7 p-sm-0 col-12"
        [style]="{ width: '100%' }"
        [suggestions]="artWorksData"
        field="data"
        (completeMethod)="search($event)"
        (onSelect)="handleSelect($event)"
        [dropdown]="true"
        (onShow)="change()"
        minLength="3"
        virtualScroll="true"
        defaultLabel="Sélectionner un numéro d'inventaire"
      >
        <ng-template let-item pTemplate="item"> {{ item.data }} </ng-template>
      </p-autoComplete>
    </li>
  </ol>
</div>
