<form [formGroup]="form">
  <div class="table-container card">
    <p-table
      [loading]="loading"
      [value]="data"
      [dataKey]="key"
      [paginator]="false"
      [rows]="5"
      [lazy]="true"
      (selectionChange)="onCheckBoxSelection($event)"
      [(selection)]="selectedRows"
      [frozenWidth]="frozenCols.length > 0 ? frozenWidth : '0px'"
      [frozenColumns]="frozenCols"
      [columns]="columns"
      [scrollable]="true"
      selectionMode=""
      [totalRecords]="total"
      [resizableColumns]="true"
      [columnResizeMode]="columnResizeMode"
      [rowHover]="false"
      sortMode="single"
      [multiSortMeta]="sortMeta"
      class="p-datatable-gridlines p-datatable-sm"
    >
      <ng-template pTemplate="frozencolgroup" let-columns>
        <colgroup>
          <col *ngIf="checkBoxSelection || singleSelect || expand" style="width: 3em" />
          <col *ngFor="let col of frozenCols" [style.width]="col.width ? col.width : '250px'" />
        </colgroup>
      </ng-template>
      <ng-template pTemplate="colgroup" let-columns>
        <colgroup>
          <col *ngIf="checkBoxSelection && frozenCols.length == 0" style="width: 3em" />
          <col *ngIf="singleSelect && frozenCols.length == 0" style="width: 2em" />
          <col *ngIf="expand && frozenCols.length == 0" style="width: 4em" />
          <col *ngFor="let col of columns" [style.width]="col.width" />
        </colgroup>
      </ng-template>
      <ng-template pTemplate="frozenheader" let-columns>
        <tr>
          <th style="width: 3em; text-align: center" *ngIf="checkBoxSelection">
            <p-tableHeaderCheckbox></p-tableHeaderCheckbox>
          </th>
          <th style="width: 3em; text-align: center" *ngIf="singleSelect || expand"></th>
          <th
            *ngFor="let col of columns; let index = index"
            ngbDropdown
            pResizableColumn
            placement="bottom-left"
            autoClose="outside"
            container="body"
            [pSortableColumn]="col.sortable ? col.header : ''"
          >
            {{ col.header }}
            <p-sortIcon
              #sortIcon
              *ngIf="col.sortable"
              [field]="col.header"
              [pSortableColumn]="col.sortable ? col.header : ''"
              (click)="sortHeader(sortIcon, col)"
            ></p-sortIcon>
            <i
              class="fas fa-filter"
              style="position: relative; top: 3px"
              *ngIf="col.filter"
              [id]="'dropDowFilter-' + col.header"
              ngbDropdownToggle
            ></i>

            <div class="py-0 ng-dropdown" ngbDropdownMenu [attr.aria-labelledby]="'dropDowFilter-' + col.header">
              <div [ngSwitch]="col.filterType">
                <input type="text" [placeholder]="col.header" (input)="filterHeader($event)" *ngSwitchCase="'text'" />
                <p-calendar
                  id="range_frozen"
                  [(ngModel)]="rangeDates"
                  selectionMode="range"
                  [readonlyInput]="true"
                  [monthNavigator]="true"
                  [yearNavigator]="true"
                  (change)="filterHeader($event)"
                  yearRange="1900:2100"
                  *ngSwitchCase="'range-date'"
                  inputId="range"
                ></p-calendar>
              </div>
            </div>
          </th>
        </tr>
      </ng-template>
      <ng-template pTemplate="header" let-columns>
        <tr>
          <th *ngIf="(singleSelect || expand) && frozenCols.length == 0"></th>
          <th
            *ngFor="let col of columns; let index = index"
            ngbDropdown
            pResizableColumn
            (openChange)="onFilterChange($event, col)"
            placement="bottom-left"
            autoClose="outside"
            container="body"
          >
            {{ col.header }}
            <p-sortIcon
              #sortIcon
              *ngIf="col.sortable"
              [field]="col.header"
              [pSortableColumn]="col.sortable ? col.header : ''"
              (click)="sortHeader(sortIcon, col)"
            ></p-sortIcon>

            <i
              class="fas fa-filter"
              style="position: relative; top: 3px"
              *ngIf="col.filter"
              [id]="'dropDowFilter-' + col.header"
              ngbDropdownToggle
            ></i>
            <div class="py-0 ng-dropdown" ngbDropdownMenu [attr.aria-labelledby]="'dropDowFilter-' + col.header">
              <div [ngSwitch]="col.filterType">
                <input type="text" [formControlName]="col.field" [placeholder]="col.header" *ngSwitchCase="'text'" />
                <p-calendar
                  #pcd
                  *ngSwitchCase="'range-date'"
                  [formControlName]="col.field"
                  [readonlyInput]="true"
                  [monthNavigator]="true"
                  [yearNavigator]="true"
                  [numberOfMonths]="1"
                  [selectionMode]="
                    form.value[col.field + '_operator'] && form.value[col.field + '_operator'].name === 'range'
                      ? 'range'
                      : 'single'
                  "
                  [showOtherMonths]="true"
                  [showIcon]="true"
                  dateFormat="dd/mm/yy"
                  yearRange="1900:2100"
                  (onShow)="calendarShow(pcd, dd, col.field)"
                  styleClass="dateTimeField"
                  placeholder="Date"
                >
                  <p-footer>
                    <hr style="color: #6c757d" />
                    <div class="col-md-12 d-flex justify-content-between align-items-baseline">
                      <div class="select">
                        <p-dropdown
                          #dd
                          [options]="dateOperators"
                          optionLabel="value"
                          [formControlName]="col.field + '_operator'"
                          (onClick)="rangeChanged(col.field, dd, pcd)"
                        >
                        </p-dropdown>
                      </div>
                      <button class="btn btn-light btn-sm cancel-btn" (click)="clearDateFilter(col.field, pcd, dd)">
                        Annuler
                      </button>
                    </div>
                  </p-footer>
                </p-calendar>
                <p-dropdown
                  [options]="col.selectData"
                  [id]="col.field + '_id'"
                  *ngSwitchCase="'select'"
                  [formControlName]="col.field"
                  optionLabel="name"
                  optionValue="id"
                ></p-dropdown>
                <p-multiSelect
                  [options]="col.selectData"
                  [virtualScroll]="true"
                  [formControlName]="col.field"
                  emptyFilterMessage="Aucun résultat trouvé"
                  optionLabel="name"
                  display="chip"
                  *ngSwitchCase="'multiselect'"
                  [(ngModel)]="col.defaultData"
                ></p-multiSelect>
                <p-autoComplete
                  [id]="col.field + '_id'"
                  *ngSwitchCase="'autoComplete'"
                  [formControlName]="col.field"
                  [minLength]="3"
                  [multiple]="true"
                  field="name"
                  emptyMessage="Aucun résultat trouvé"
                  placeholder="choisir un élément"
                  (completeMethod)="onDataChange($event, col.filterTab, index)"
                  [suggestions]="col.selectData"
                >
                </p-autoComplete>
              </div>
            </div>
          </th>
        </tr>
      </ng-template>
      <ng-template
        pTemplate="frozenbody"
        let-item
        let-columns="columns"
        let-expanded="expanded"
        let-rowIndex="rowIndex"
      >
        <tr>
          <td *ngIf="checkBoxSelection">
            <p-tableCheckbox [value]="item"></p-tableCheckbox>
          </td>
          <td *ngIf="singleSelect">
            <p-tableRadioButton [value]="item"></p-tableRadioButton>
          </td>
          <td *ngIf="expand">okk</td>
          <td *ngFor="let col of columns; let index = index">
            <span [ngSwitch]="col.type">
              <app-remarquer-details-link-renderer
                *ngSwitchCase="'app-remarquer-details-link-render'"
                [value]="item[col.field]"
                [rowNumber]="rowIndex"
              ></app-remarquer-details-link-renderer>
              <span *ngSwitchDefault> {{ item[col.field] }} </span>
            </span>
          </td>
        </tr>
      </ng-template>
      <ng-template pTemplate="body" let-item let-columns="columns" let-expanded="expanded" let-i="index">
        <tr>
          <td *ngIf="checkBoxSelection && frozenCols.length == 0">
            <p-tableCheckbox [value]="item"></p-tableCheckbox>
          </td>
          <td *ngIf="expand && frozenCols.length == 0">
            <button
              type="button"
              pButton
              pRipple
              [pRowToggler]="item"
              class="p-button-text p-button-rounded p-button-plain"
              [icon]="expanded ? 'pi pi-chevron-down' : 'pi pi-chevron-right'"
            ></button>
          </td>
          <td *ngIf="singleSelect && frozenCols.length == 0">
            <p-tableRadioButton (click)="onRadioSelect(this)" [value]="item"></p-tableRadioButton>
          </td>
          <td *ngFor="let col of columns">
            <span [ngSwitch]="col.type">
              <app-actions-cell
                *ngSwitchCase="'app-actions-cell'"
                [value]="item"
                [component]="component"
                (methodToEmit)="actionMethod($event)"
              ></app-actions-cell>
              <app-status-type-component-render
                *ngSwitchCase="'app-status-component-render'"
                [value]="item[col.field]"
              ></app-status-type-component-render>
              <app-visible-catalog-component-render
                *ngSwitchCase="'app-visible-catalog-component-render'"
                [value]="item[col.field]"
              ></app-visible-catalog-component-render>
              <span *ngSwitchCase="'key-multiple-data'">
                <p-chip
                  *ngFor="let Item of item[col.key_multiple_data[0]]; let i = index"
                  label="{{ Item[col.key_multiple_data[1]] }}"
                  styleClass="p-mr-2 ng-datatable"
                ></p-chip>
              </span>
              <span *ngSwitchCase="'key-array'">
                {{ item[col.key_data[0]] ? item[col.key_data[0]][col.key_data[1]] : '' }}
              </span>
              <span *ngSwitchCase="'date'"> {{ item[col.field] | date: viewDateFormat }} </span>
              <app-in-progress-notice-renderer [value]="item" *ngSwitchCase="'app-in-progress-notice-renderer'">
              </app-in-progress-notice-renderer>
              <app-creation-date-notice-renderer
                [value]="item[col.field]"
                *ngSwitchCase="'app-creation-date-notice-renderer'"
              >
              </app-creation-date-notice-renderer>

              <span *ngSwitchDefault> {{ item[col.field] }} </span>
            </span>
          </td>
        </tr>
      </ng-template>
      <ng-template pTemplate="emptymessage">
        <tr>
          <td colspan="100%" *ngIf="data.length === 0 && !error">{{ noDataMessage }}</td>
          <td colspan="100%" *ngIf="error">{{ errorMessage }}</td>
        </tr>
      </ng-template>

      <ng-template pTemplate="rowexpansion" let-item>
        <tr>
          <td [colSpan]="columns.length + 1" *ngIf="expand">
            <div class="p-p-3">
              <p-table [value]="item.expandData">
                <ng-template pTemplate="header">
                  <tr>
                    <th *ngFor="let col of expandColumns; let index = index">{{ col.header }}</th>
                  </tr>
                </ng-template>

                <ng-template pTemplate="body" let-expandItem>
                  <tr>
                    <td *ngFor="let col of expandColumns; let index = index">
                      <span [ngSwitch]="col.type">
                        <app-remarquer-details-link-renderer
                          *ngSwitchCase="'app-remarquer-details-link-render'"
                          [value]="expandItem[col.field]"
                          [rowNumber]="index"
                        ></app-remarquer-details-link-renderer>
                        <span *ngSwitchDefault> {{ expandItem[col.field] }} </span>
                        <app-select-button-render
                          *ngSwitchCase="'app-select-button-render'"
                          (selectedStatus)="onSelectedStatus($event, expandItem, item)"
                          [value]="expandItem.status"
                          [disabled]="item.requestStatus != 'En cours'"
                        ></app-select-button-render>
                      </span>
                    </td>
                  </tr>
                </ng-template>
                <ng-template pTemplate="emptymessage">
                  <tr>
                    <td colspan="2">Aucune oeuvre demandé.</td>
                  </tr>
                </ng-template>
              </p-table>
              <tr style="float: right; margin-top: 1%" *ngIf="showConfirmRequest">
                <td>
                  <button
                    pButton
                    type="button"
                    [disabled]="
                      item.requestStatus != 'En cours' || item.validatedRequestArtWork.length != item.expandData.length
                    "
                    label="Valider la demande"
                    (click)="onChangeRequestStatus(item, 'Acceptée')"
                  >
                    <i class="fas fa-cog fa-spin" [hidden]="!isValidationRequest"></i>
                  </button>
                  <button
                    pButton
                    type="button"
                    [disabled]="item.requestStatus != 'En cours'"
                    label="Annuler la demande"
                    (click)="onChangeRequestStatus(item, 'Annulée')"
                    class="p-button-secondary"
                  >
                    <i class="fas fa-cog fa-spin" [hidden]="!isCancelingRequest"></i>
                  </button>
                </td>
              </tr>
            </div>
          </td>
        </tr>
      </ng-template>
    </p-table>
    <div style="position: relative; display: flex; flex-direction: row-reverse">
      <p-paginator rows="5" (onPageChange)="onChangePage($event)" [totalRecords]="totalFiltred"></p-paginator>
      <span style="position: absolute; top: 3px; left: 12px; margin: 15px"
        >Résultats
        <span *ngIf="totalFiltred !== 0">de {{ start }} à {{ end }} / {{ totalFiltred }}</span>
        <span *ngIf="totalFiltred === 0"> 0 éléments</span>
        (filtrés parmis {{ total }})
      </span>
    </div>
  </div>
</form>
<ng-template #t let-date let-focused="focused">
  <span
    class="custom-day"
    [class.focused]="focused"
    [class.range]="isRange(date)"
    [class.faded]="isHovered(date) || isInside(date)"
    (mouseenter)="hoveredDate = date"
    (mouseleave)="hoveredDate = null"
  >
    {{ date.day }}
  </span>
</ng-template>
