<div class="p-3">
  <div class="search input-group mb-3">
    <input
      class="form-control py-2 border-right-0 border search-form-control"
      type="search"
      value="Rechercher"
      id="example-search-input"
    />
    <span class="input-group-append">
      <button class="btn btn-outline-secondary border-left-0 border" type="button">
        <i class="fa fa-search"></i>
      </button>
    </span>
  </div>

  <div class="d-flex mb-2">
    <div class="col-md-3">
      <div class="form-group slider-bloc">
        <label for="title">N° inventaire</label>
        <div class="custom-slider">
          <ngx-slider
            [(value)]="inventoryValue"
            [(highValue)]="hightInventoryValue"
            [options]="inventoryOptions"
          ></ngx-slider>
        </div>
      </div>
      <div class="form-group">
        <label for="title">N° inventaire</label>
        <input type="text" class="form-control" id="numInventaire" placeholder="Numéro l'inventaire" />
      </div>
      <div class="form-group">
        <label for="title">Titre</label>
        <input type="text" class="form-control" id="title" placeholder="Titre" />
      </div>
    </div>
    <hr class="vl" />
    <div class="col-md-3">
      <div class="form-group">
        <label>Domaines</label>
        <ng-multiselect-dropdown
          class="select"
          [placeholder]="'Choisir ses domaines'"
          [settings]="dropdownSettings"
          [data]="domaine"
          (onSelect)="onDomainSelect($event)"
          (onSelectAll)="onSelectAll($event)"
        >
        </ng-multiselect-dropdown>
      </div>
      <div class="form-group">
        <label>Dénominations</label>
        <ng-multiselect-dropdown
          class="select"
          [placeholder]="'Choisir des dénominations'"
          [settings]="dropdownSettings"
          [data]="WorkOfArtService.denominations"
          (onSelect)="onItemSelect($event)"
          (onSelectAll)="onSelectAll($event)"
        >
        </ng-multiselect-dropdown>
      </div>
      <div class="form-group">
        <label>Auteurs</label>
        <ng-multiselect-dropdown
          class="select"
          [placeholder]="'--- Choisir des auteurs ---'"
          [settings]="dropdownSettings"
          [data]="WorkOfArtService.authors"
          (onSelect)="onDomainSelect($event)"
          (onSelectAll)="onSelectAll($event)"
        >
        </ng-multiselect-dropdown>
      </div>
    </div>
    <hr class="vl" />
    <div class="col-md-3">
      <div class="form-group">
        <label>Type de mouvement</label>
        <ng-multiselect-dropdown
          class="select"
          [placeholder]="'Choisir types de mouvement'"
          [settings]="dropdownSettings"
          [data]="domaine"
          (onSelect)="onDomainSelect($event)"
          (onSelectAll)="onSelectAll($event)"
        >
        </ng-multiselect-dropdown>
      </div>
      <div class="form-group">
        <label>Type action mouvement</label>
        <ng-multiselect-dropdown
          class="select"
          [placeholder]="'Choisir types d\'actions'"
          [settings]="dropdownSettings"
          [data]="denominations"
          (onSelect)="onItemSelect($event)"
          (onSelectAll)="onSelectAll($event)"
        >
        </ng-multiselect-dropdown>
      </div>
    </div>
    <hr class="vl" />
    <div class="col-md-3">
      <div class="form-group">
        <label>Types de constat</label>
        <ng-multiselect-dropdown
          class="select"
          [placeholder]="'Choisir des types de constat'"
          [settings]="dropdownSettings"
          [data]="domaine"
          (onSelect)="onDomainSelect($event)"
          (onSelectAll)="onSelectAll($event)"
        >
        </ng-multiselect-dropdown>
      </div>
      <div class="form-group">
        <label>Types actions constat</label>
        <ng-multiselect-dropdown
          class="select"
          [placeholder]="'Choisir types d\'actions'"
          [settings]="dropdownSettings"
          [data]="denominations"
          (onSelect)="onItemSelect($event)"
          (onSelectAll)="onSelectAll($event)"
        >
        </ng-multiselect-dropdown>
      </div>
      <div class="form-group mt-4 d-flex align-items-center">
        <input
          class="m-2"
          type="radio"
          name="options"
          id="option1"
          value="collectionTitle"
          [(ngModel)]="collectionTitle"
        />
        <label>Titre de perception demandé </label>
      </div>
    </div>
  </div>
  <div class="d-flex">
    <div class="accordion-bloc col-sm-11 col-lg-6">
      <ngb-accordion #acc="ngbAccordion" [closeOthers]="true" activeIds="toggle-1">
        <ngb-panel id="toggle-1"
          ><ng-template ngbPanelTitle>
            <div class="title-section">
              <div class="d-flex justify-content-between">
                Localisation administrative
                <i class="fas fa-sort-down"></i>
              </div>
            </div>
          </ng-template>
          <ng-template ngbPanelContent>
            <div class="d-flex location">
              <div class="form-group col-xs-12 col-md-6">
                <label>Ministères</label>
                <ng-multiselect-dropdown
                  class="select"
                  [placeholder]="'Choisir des ministères'"
                  [settings]="dropdownSettings"
                  [data]="WorkOfArtService.ministeres"
                  (onSelect)="onItemSelect($event)"
                  (onSelectAll)="onSelectAll($event)"
                >
                </ng-multiselect-dropdown>
              </div>
              <div class="form-group col-xs-12 col-md-6">
                <label>Type Etablissement</label>
                <ng-multiselect-dropdown
                  class="select"
                  [placeholder]="'Choisir type(s) d\'établissement(s)'"
                  [settings]="dropdownSettings"
                  [data]="domaine"
                  (onSelect)="onItemSelect($event)"
                  (onSelectAll)="onSelectAll($event)"
                >
                </ng-multiselect-dropdown>
              </div>
              <div class="form-group col-xs-12 col-md-6">
                <label>Etab./Dir.</label>
                <ng-multiselect-dropdown
                  class="select"
                  [placeholder]="'Choisir des étab/dir'"
                  [settings]="dropdownSettings"
                  [data]="domaine"
                  (onSelect)="onItemSelect($event)"
                  (onSelectAll)="onSelectAll($event)"
                >
                </ng-multiselect-dropdown>
              </div>
              <div class="form-group col-xs-12 col-md-6">
                <label>Sous-direction</label>
                <ng-multiselect-dropdown
                  class="select"
                  [placeholder]="'Choisir des sous-direction'"
                  [settings]="dropdownSettings"
                  [data]="domaine"
                  (onSelect)="onItemSelect($event)"
                  (onSelectAll)="onSelectAll($event)"
                >
                </ng-multiselect-dropdown>
              </div>
              <div class="form-group col-xs-12 col-md-6">
                <label>Services</label>
                <ng-multiselect-dropdown
                  class="select"
                  [placeholder]="'Choisir des services'"
                  [settings]="dropdownSettings"
                  [data]="domaine"
                  (onSelect)="onItemSelect($event)"
                  (onSelectAll)="onSelectAll($event)"
                >
                </ng-multiselect-dropdown>
              </div>
              <div class="form-group col-xs-12 col-md-6">
                <label>Correspodants</label>
                <ng-multiselect-dropdown
                  class="select"
                  [placeholder]="'Choisir des correspondants'"
                  [settings]="dropdownSettings"
                  [data]="domaine"
                  (onSelect)="onItemSelect($event)"
                  (onSelectAll)="onSelectAll($event)"
                >
                </ng-multiselect-dropdown>
              </div>
            </div>
          </ng-template>
        </ngb-panel>
      </ngb-accordion>
    </div>
    <div class="accordion-bloc col-sm-11 col-lg-6">
      <ngb-accordion #acc="ngbAccordion" [closeOthers]="true" activeIds="toggle-1">
        <ngb-panel id="toggle-1"
          ><ng-template ngbPanelTitle>
            <div class="title-section">
              <span class="d-flex justify-content-between"
                >Localisation géographique
                <i class="fas fa-sort-down"></i>
              </span>
            </div>
          </ng-template>
          <ng-template ngbPanelContent>
            <div class="d-flex location">
              <div class="form-group col-xs-12 col-md-6">
                <label>Type local</label>
                <ng-multiselect-dropdown
                  class="select"
                  [placeholder]="'Choisir des types local'"
                  [settings]="dropdownSettings"
                  [data]="domaine"
                  (onSelect)="onItemSelect($event)"
                  (onSelectAll)="onSelectAll($event)"
                >
                </ng-multiselect-dropdown>
              </div>
              <div class="form-group col-xs-12 col-md-6">
                <label>Régions</label>
                <ng-multiselect-dropdown
                  class="select"
                  [placeholder]="'Choisir des régions'"
                  [settings]="dropdownSettings"
                  [data]="domaine"
                  (onSelect)="onItemSelect($event)"
                  (onSelectAll)="onSelectAll($event)"
                >
                </ng-multiselect-dropdown>
              </div>
              <div class="form-group col-xs-12 col-md-6">
                <label>Départements</label>
                <ng-multiselect-dropdown
                  class="select"
                  [placeholder]="'Choisir des départements'"
                  [settings]="dropdownSettings"
                  [data]="domaine"
                  (onSelect)="onItemSelect($event)"
                  (onSelectAll)="onSelectAll($event)"
                >
                </ng-multiselect-dropdown>
              </div>
              <div class="form-group col-xs-12 col-md-6">
                <label>Communes</label>
                <ng-multiselect-dropdown
                  class="select"
                  [placeholder]="'Choisir des communes'"
                  [settings]="dropdownSettings"
                  [data]="domaine"
                  (onSelect)="onItemSelect($event)"
                  (onSelectAll)="onSelectAll($event)"
                >
                </ng-multiselect-dropdown>
              </div>
              <div class="form-group col-xs-12 col-md-6">
                <label>Bâtiments</label>
                <ng-multiselect-dropdown
                  class="select"
                  [placeholder]="'Choisir des bâtiments'"
                  [settings]="dropdownSettings"
                  [data]="domaine"
                  (onSelect)="onItemSelect($event)"
                  (onSelectAll)="onSelectAll($event)"
                >
                </ng-multiselect-dropdown>
              </div>
              <div class="form-group col-xs-12 col-md-6">
                <label>Sites</label>
                <ng-multiselect-dropdown
                  class="select"
                  [placeholder]="'Choisir des sites'"
                  [settings]="dropdownSettings"
                  [data]="domaine"
                  (onSelect)="onItemSelect($event)"
                  (onSelectAll)="onSelectAll($event)"
                >
                </ng-multiselect-dropdown>
              </div>
              <div class="form-group col-xs-12 col-md-6">
                <label>N pièces</label>
                <ng-multiselect-dropdown
                  class="select"
                  [placeholder]="'Choissiez N pièces'"
                  [settings]="dropdownSettings"
                  [data]="domaine"
                  (onSelect)="onItemSelect($event)"
                  (onSelectAll)="onSelectAll($event)"
                >
                </ng-multiselect-dropdown>
              </div>
              <div class="form-group col-xs-12 col-md-6">
                <label>Correspondants</label>
                <ng-multiselect-dropdown
                  class="select"
                  [placeholder]="'Choisir des correspondants'"
                  [settings]="dropdownSettings"
                  [data]="domaine"
                  (onSelect)="onItemSelect($event)"
                  (onSelectAll)="onSelectAll($event)"
                >
                </ng-multiselect-dropdown>
              </div>
            </div>
          </ng-template>
        </ngb-panel>
      </ngb-accordion>
    </div>
  </div>
  <div class="d-flex advanced-search-accordion">
    <div class="add-item" (click)="openAdvancedSearchBloc()"><i class="add ml-2 fas fa-plus"></i></div>
    <span class="col-sm-4 col-lg-2">Recherche avancée</span>
    <hr class="col-sm-7 col-lg-9" />
  </div>
  <div *ngIf="showAdvancedSearchBloc" class="advanced-bloc d-flex">
    <div class="form-group d-flex col-md-6">
      <label class="col-md-2 creation-date-label">Date de création</label>
      <form class="form-inline">
        <div class="form-group hidden">
          <div class="input-group">
            <input
              name="datepicker"
              class="form-control date-input"
              ngbDatepicker
              #datepicker="ngbDatepicker"
              [autoClose]="'outside'"
              (dateSelect)="onDateSelection($event)"
              [displayMonths]="2"
              [dayTemplate]="t"
              outsideDays="hidden"
              [startDate]="fromDate!"
              tabindex="-1"
            />

            <ng-template #t let-date let-focused="focused">
              <span
                class="custom-day"
                [class.focused]="focused"
                [class.range]="isRange(date)"
                [class.faded]="isHovered(date) || isInside(date)"
                (mouseenter)="hoveredDate = date"
                (mouseleave)="hoveredDate = null"
              >
                {{ date.day }}
              </span>
            </ng-template>
          </div>
        </div>
        <div class="form-group">
          <div class="input-group">
            <input
              #dpFromDate
              class="form-control datepicker-input"
              placeholder="yyyy-mm-dd"
              name="dpFromDate"
              [value]="formatter.format(fromDate)"
              (input)="fromDate = validateInput(fromDate, dpFromDate.value)"
            />
            <div class="input-group-append">
              <button class="btn btn-outline-secondary calendar" (click)="datepicker.toggle()" type="button">
                <i class="fas fa-calendar-alt"></i>
              </button>
            </div>
          </div>
        </div>
        <div class="form-group ml-2">
          <div class="input-group">
            <input
              #dpToDate
              class="form-control datepicker-input"
              placeholder="yyyy-mm-dd"
              name="dpToDate"
              [value]="formatter.format(toDate)"
              (input)="toDate = validateInput(toDate, dpToDate.value)"
            />
            <div class="input-group-append">
              <button class="btn btn-outline-secondary calendar" (click)="datepicker.toggle()" type="button">
                <i class="fas fa-calendar-alt"></i>
              </button>
            </div>
          </div>
        </div>
      </form>
    </div>
    <div class="col-md-3"></div>
    <div class="advanced-sub-bloc">
      <div class="form-group col-md-8 col-lg-9">
        <label>Epoques</label>
        <ng-multiselect-dropdown
          class="select"
          [placeholder]="'Choisir des époques'"
          [settings]="dropdownSettings"
          [data]="domaine"
          (onSelect)="onDomainSelect($event)"
          (onSelectAll)="onSelectAll($event)"
        >
        </ng-multiselect-dropdown>
      </div>
      <select class="input-form-control col-md-2">
        <option value="1">Et</option>
        <option value="0">Ou</option>
      </select>
      <div class="form-group col-md-8 col-lg-9">
        <label>Styles</label>
        <ng-multiselect-dropdown
          class="select"
          [placeholder]="'Choisir des styles'"
          [settings]="dropdownSettings"
          [data]="denominations"
          (onSelect)="onItemSelect($event)"
          (onSelectAll)="onSelectAll($event)"
        >
        </ng-multiselect-dropdown>
      </div>
      <select class="input-form-control col-md-2">
        <option value="1">Et</option>
        <option value="0">Ou</option>
      </select>
      <div class="form-group col-md-8 col-lg-9">
        <label>Matières</label>

        <ng-multiselect-dropdown
          class="select"
          [placeholder]="'Choisir des matières'"
          [settings]="dropdownSettings"
          [data]="denominations"
          (onSelect)="onItemSelect($event)"
          (onSelectAll)="onSelectAll($event)"
        >
        </ng-multiselect-dropdown>
      </div>

      <select class="input-form-control col-md-2">
        <option value="1">Et</option>
        <option value="0">Ou</option>
      </select>
    </div>
    <hr class="vl" />
    <div class="advanced-sub-bloc">
      <div class="form-group col-xs-12 col-md-8 col-lg-9 slider-bloc">
        <label>Hauteur</label>
        <div class="custom-slider">
          <ngx-slider [(value)]="value" [(highValue)]="highValue" [options]="dimensionsOptions"></ngx-slider>
        </div>
      </div>
      <select class="input-form-control col-md-2">
        <option value="1">Et</option>
        <option value="0">Ou</option>
      </select>
      <div class="form-group col-xs-12 col-md-8 col-lg-9 slider-bloc">
        <label>Longueur</label>
        <div class="custom-slider">
          <ngx-slider
            [(value)]="lengthValue"
            [(highValue)]="highLengthValue"
            [options]="dimensionsOptions"
          ></ngx-slider>
        </div>
      </div>
      <select class="input-form-control col-md-2">
        <option value="1">Et</option>
        <option value="0">Ou</option>
      </select>
      <div class="form-group col-xs-12 col-md-9 col-lg-9 slider-bloc">
        <label>Largeur</label>
        <div class="custom-slider">
          <ngx-slider [(value)]="widthValue" [(highValue)]="highWidthValue" [options]="dimensionsOptions"></ngx-slider>
        </div>
      </div>
      <select class="input-form-control col-md-2">
        <option value="1">Et</option>
        <option value="0">Ou</option>
      </select>
    </div>
    <hr class="vl" />
    <div class="advanced-sub-bloc">
      <div class="form-group col-xs-12 col-md-9 col-lg-9 slider-bloc">
        <label>Hauteur Tot</label>
        <div class="custom-slider">
          <ngx-slider [(value)]="totValue" [(highValue)]="highTotValue" [options]="dimensionsOptions"></ngx-slider>
        </div>
      </div>
      <select class="input-form-control col-md-2">
        <option value="1">Et</option>
        <option value="0">Ou</option>
      </select>
      <div class="form-group col-xs-12 col-md-9 col-lg-9 slider-bloc">
        <label>Longueur Tot</label>
        <div class="custom-slider">
          <ngx-slider
            [(value)]="totLengthValue"
            [(highValue)]="highTotLengthValue"
            [options]="dimensionsOptions"
          ></ngx-slider>
        </div>
      </div>
      <select class="input-form-control col-md-2">
        <option value="1">Et</option>
        <option value="0">Ou</option>
      </select>
      <div class="form-group col-xs-12 col-md-9 col-lg-9 slider-bloc">
        <label>Largeur Tot</label>
        <div class="custom-slider">
          <ngx-slider
            [(value)]="totWidthValue"
            [(highValue)]="highTotWidthValue"
            [options]="dimensionsOptions"
          ></ngx-slider>
        </div>
      </div>
      <select class="input-form-control col-md-2">
        <option value="1">Et</option>
        <option value="0">Ou</option>
      </select>
    </div>
    <div class="col-12 mt-3 d-flex"></div>
    <div class="advanced-sub-bloc">
      <div class="form-group col-xs-12 col-md-9 col-lg-9 slider-bloc">
        <label>Profondeur</label>
        <div class="custom-slider">
          <ngx-slider [(value)]="depthValue" [(highValue)]="highDepthValue" [options]="dimensionsOptions"></ngx-slider>
        </div>
      </div>
      <select class="input-form-control col-md-2 align-self-center">
        <option value="1">Et</option>
        <option value="0">Ou</option>
      </select>

      <div class="form-group col-xs-12 col-md-9 col-lg-9 slider-bloc">
        <label>Poids</label>
        <div class="custom-slider">
          <ngx-slider
            [(value)]="weightValue"
            [(highValue)]="highWeightValue"
            [options]="dimensionsOptions"
          ></ngx-slider>
        </div>
      </div>
      <select class="input-form-control col-md-2 align-self-center">
        <option value="1">Et</option>
        <option value="0">Ou</option>
      </select>
      <div class="form-group col-xs-12 col-md-9 col-lg-9 slider-bloc">
        <label>N unité</label>
        <input type="number" class="form-control" id="unit" />
      </div>
      <select class="input-form-control col-md-2 align-self-center">
        <option value="1">Et</option>
        <option value="0">Ou</option>
      </select>
    </div>
    <hr class="vl" />
    <div class="advanced-sub-bloc">
      <div class="form-group col-md-8 col-lg-9">
        <label>Type de statut</label>
        <ng-multiselect-dropdown
          class="select"
          [placeholder]="'Choisir un type de statut'"
          [settings]="dropdownSettings"
          [data]="denominations"
          (onSelect)="onItemSelect($event)"
          (onSelectAll)="onSelectAll($event)"
        >
        </ng-multiselect-dropdown>
      </div>
      <select class="input-form-control col-md-2">
        <option value="1">Et</option>
        <option value="0">Ou</option>
      </select>
      <div class="form-group col-md-8 col-lg-9">
        <label>Catégories</label>
        <ng-multiselect-dropdown
          class="select"
          [placeholder]="'Choissiez des catégories'"
          [settings]="dropdownSettings"
          [data]="domaine"
          (onSelect)="onItemSelect($event)"
          (onSelectAll)="onSelectAll($event)"
        >
        </ng-multiselect-dropdown>
      </div>
      <select class="input-form-control col-md-2">
        <option value="1">Et</option>
        <option value="0">Ou</option>
      </select>
      <div class="form-group col-md-8 col-lg-9">
        <label>Mode Entrée</label>
        <ng-multiselect-dropdown
          class="select"
          [placeholder]="'Choissiez des modes'"
          [settings]="dropdownSettings"
          [data]="domaine"
          (onSelect)="onItemSelect($event)"
          (onSelectAll)="onSelectAll($event)"
        >
        </ng-multiselect-dropdown>
      </div>
      <select class="input-form-control col-md-2">
        <option value="1">Et</option>
        <option value="0">Ou</option>
      </select>
      <div class="form-group col-md-12 col-lg-12">
        <label class="col-md-3 pl-0">Date Entrée</label>
        <form class="form-inline">
          <div class="form-group hidden">
            <div class="input-group">
              <input
                name="datepicker"
                class="form-control date-input"
                ngbDatepicker
                #datepicker="ngbDatepicker"
                [autoClose]="'outside'"
                (dateSelect)="onDateSelection($event)"
                [displayMonths]="2"
                [dayTemplate]="t"
                outsideDays="hidden"
                [startDate]="fromDate!"
                tabindex="-1"
              />
              <ng-template #t let-date let-focused="focused">
                <span
                  class="custom-day"
                  [class.focused]="focused"
                  [class.range]="isRange(date)"
                  [class.faded]="isHovered(date) || isInside(date)"
                  (mouseenter)="hoveredDate = date"
                  (mouseleave)="hoveredDate = null"
                >
                  {{ date.day }}
                </span>
              </ng-template>
            </div>
          </div>
          <div class="form-group">
            <div class="input-group">
              <input
                #dpFromDate
                class="form-control datepicker-input"
                placeholder="yyyy-mm-dd"
                name="dpFromDate"
                [value]="formatter.format(fromDate)"
                (input)="fromDate = validateInput(fromDate, dpFromDate.value)"
              />
              <div class="input-group-append">
                <button class="btn btn-outline-secondary calendar" (click)="datepicker.toggle()" type="button">
                  <i class="fas fa-calendar-alt"></i>
                </button>
              </div>
            </div>
          </div>
          <div class="form-group ml-2">
            <div class="input-group">
              <input
                #dpToDate
                class="form-control datepicker-input"
                placeholder="yyyy-mm-dd"
                name="dpToDate"
                [value]="formatter.format(toDate)"
                (input)="toDate = validateInput(toDate, dpToDate.value)"
              />
              <div class="input-group-append">
                <button class="btn btn-outline-secondary calendar" (click)="datepicker.toggle()" type="button">
                  <i class="fas fa-calendar-alt"></i>
                </button>
              </div>
            </div>
          </div>
        </form>
      </div>
    </div>
    <hr class="vl" />
    <div class="advanced-sub-bloc">
      <div class="form-group col-md-8 col-lg-9">
        <div class="form-group col-md-10 col-lg-12 p-0">
          <label>Déposants</label>
          <ng-multiselect-dropdown
            class="select"
            [placeholder]="'Choisir un/plusieurs déposants'"
            [settings]="dropdownSettings"
            [data]="depositor"
            (onSelect)="onDomainSelect($event)"
            (onSelectAll)="onSelectAll($event)"
          >
          </ng-multiselect-dropdown>
        </div>
        <div class="form-group col-md-10 col-lg-12 p-0">
          <label class="col-12 p-0">Oeuvres archivées</label>
          <select class="input-form-control col-md-12">
            <option value="sans oeuvres archivé">Sans oeuvres archivées</option>
            <option value="avec oeuvres archivé">Avec oeuvres archivées</option>
            <option value="uniquement oeuvres">Uniquement oeuvres</option>
          </select>
        </div>
      </div>
    </div>

    <div class="form-group d-flex p-3 align-items-center">
      <label class="mr-2">Mots descriptifs:</label>
      <tag-input
        [(ngModel)]="items"
        [editable]="true"
        (onTagEdited)="onTagEdited($event)"
        secondaryPlaceholder="Entrer mots descriptifs"
        placeholder="+Mots descriptifs"
      ></tag-input>
    </div>
  </div>
  <div class="validation">
    <button class="mt-1 valid-btn" (click)="onValidateRequest()">Valider</button>
  </div>
</div>
