<div>
  <div class="search-panel">
    <input class="form-control" type="text" name="search" autocomplete="off" placeholder="Recherche" />
  </div>
  <div class="d-flex principal-bloc">
    <div class="form-group d-flex col-md-3">
      <label for="ref">Num réference</label>
      <input type="text" class="form-control" id="ref" placeholder="référence" />
    </div>
    <div class="form-group d-flex col-md-3">
      <label for="title">Titre</label>
      <input type="text" class="form-control" id="title" placeholder="Titre" />
    </div>
    <div class="form-group d-flex col-md-3">
      <label>Domaines</label>
      <ng-multiselect-dropdown
        class="select"
        [placeholder]="'Choissiez les domaines'"
        [settings]="dropdownSettings"
        [data]="domaine"
        (onSelect)="onItemSelect($event)"
        (onSelectAll)="onSelectAll($event)"
      >
      </ng-multiselect-dropdown>
    </div>
    <div class="form-group d-flex col-md-3">
      <label>Dénominations</label>
      <ng-multiselect-dropdown
        class="select"
        [placeholder]="'Choissiez les dénominations'"
        [settings]="dropdownSettings"
        [data]="domaine"
        (onSelect)="onItemSelect($event)"
        (onSelectAll)="onSelectAll($event)"
      >
      </ng-multiselect-dropdown>
    </div>
    <div class="form-group d-flex col-md-3">
      <label>Auteurs</label>
      <ng-multiselect-dropdown
        class="select"
        [placeholder]="'Choissiez les auteurs'"
        [settings]="dropdownSettings"
        [data]="domaine"
        (onSelect)="onItemSelect($event)"
        (onSelectAll)="onSelectAll($event)"
      >
      </ng-multiselect-dropdown>
    </div>
    <div class="form-group d-flex col-md-3">
      <label>Déposants</label>
      <ng-multiselect-dropdown
        class="select"
        [placeholder]="'Choissiez les déposants'"
        [settings]="dropdownSettings"
        [data]="domaine"
        (onSelect)="onItemSelect($event)"
        (onSelectAll)="onSelectAll($event)"
      >
      </ng-multiselect-dropdown>
    </div>
    <div class="col-6"></div>
    <div class="form-group d-flex col-md-3">
      <label>Ministères</label>
      <ng-multiselect-dropdown
        class="select"
        [placeholder]="'Choissiez les ministères'"
        [settings]="dropdownSettings"
        [data]="domaine"
        (onSelect)="onItemSelect($event)"
        (onSelectAll)="onSelectAll($event)"
      >
      </ng-multiselect-dropdown>
    </div>
    <div class="form-group d-flex col-md-3">
      <label>Etab./Dir.</label>
      <ng-multiselect-dropdown
        class="select"
        [placeholder]="'Choissiez les étab/dir'"
        [settings]="dropdownSettings"
        [data]="domaine"
        (onSelect)="onItemSelect($event)"
        (onSelectAll)="onSelectAll($event)"
      >
      </ng-multiselect-dropdown>
    </div>
    <div class="form-group d-flex col-md-3">
      <label>Sous-direction</label>
      <ng-multiselect-dropdown
        class="select"
        [placeholder]="'Choissiez les sous-direction'"
        [settings]="dropdownSettings"
        [data]="domaine"
        (onSelect)="onItemSelect($event)"
        (onSelectAll)="onSelectAll($event)"
      >
      </ng-multiselect-dropdown>
    </div>
    <div class="form-group d-flex col-md-3">
      <label>Services</label>
      <ng-multiselect-dropdown
        class="select"
        [placeholder]="'Choissiez les services'"
        [settings]="dropdownSettings"
        [data]="domaine"
        (onSelect)="onItemSelect($event)"
        (onSelectAll)="onSelectAll($event)"
      >
      </ng-multiselect-dropdown>
    </div>
    <div class="form-group d-flex col-md-3">
      <label>Sites</label>
      <ng-multiselect-dropdown
        class="select"
        [placeholder]="'Choissiez les sites'"
        [settings]="dropdownSettings"
        [data]="domaine"
        (onSelect)="onItemSelect($event)"
        (onSelectAll)="onSelectAll($event)"
      >
      </ng-multiselect-dropdown>
    </div>
    <div class="form-group d-flex col-md-3">
      <label>Bâtiments</label>
      <ng-multiselect-dropdown
        class="select"
        [placeholder]="'Choissiez les bâtiments'"
        [settings]="dropdownSettings"
        [data]="domaine"
        (onSelect)="onItemSelect($event)"
        (onSelectAll)="onSelectAll($event)"
      >
      </ng-multiselect-dropdown>
    </div>
    <div class="form-group d-flex col-md-3">
      <label>N pièces</label>
      <ng-multiselect-dropdown
        class="select"
        [placeholder]="'Choissiez N pièces'"
        [settings]="dropdownSettings"
        [data]="domaine"
        (onSelect)="onItemSelect($event)"
        (onSelectAll)="onSelectAll($event)"
      >
      </ng-multiselect-dropdown>
    </div>
  </div>
  <div class="d-flex advanced-search-accordion">
    <div class="add-item" (click)="openAdvancedSearchBloc()"><i class="add ml-2 fas fa-plus"></i></div>
    <span class="col-sm-4 col-lg-2">Recherche avancée</span>
    <hr class="col-sm-7 col-lg-9" />
  </div>
  <div *ngIf="showAdvancedSearchBloc" class="advancedBloc d-flex">
    <div class="form-group d-flex col-md-12">
      <label class="col-md-2 creation-date-label">Date de création</label>
      <select class="input-form-control date-op col-md-1">
        <option *ngFor="let operator of dateOperator">{{ operator }}</option>
      </select>
      <input class="input-form-control col-md-2" type="date" id="date" name="date" useValueAsDate />
    </div>
    <div class="form-group d-flex col-md-3">
      <label>Hauteur</label>
      <div class="custom-slider">
        <ngx-slider [(value)]="value" [(highValue)]="highValue" [options]="options"></ngx-slider>
      </div>
    </div>
    <select class="input-form-control">
      <option value="1">Et</option>
      <option value="0">Ou</option>
    </select>
    <div class="form-group d-flex col-md-3">
      <label>Longueur</label>
      <div class="custom-slider">
        <ngx-slider [(value)]="value" [(highValue)]="highValue" [options]="options"></ngx-slider>
      </div>
    </div>
    <select class="input-form-control">
      <option value="1">Et</option>
      <option value="0">Ou</option>
    </select>
    <div class="form-group d-flex col-md-3">
      <label>Largeur</label>
      <div class="custom-slider">
        <ngx-slider [(value)]="value" [(highValue)]="highValue" [options]="options"></ngx-slider>
      </div>
    </div>
    <select class="input-form-control">
      <option value="1">Et</option>
      <option value="0">Ou</option>
    </select>
    <div class="form-group d-flex col-md-3">
      <label>Hauteur Tot</label>
      <div class="custom-slider">
        <ngx-slider [(value)]="value" [(highValue)]="highValue" [options]="options"></ngx-slider>
      </div>
    </div>
    <select class="input-form-control">
      <option value="1">Et</option>
      <option value="0">Ou</option>
    </select>
    <div class="form-group d-flex col-md-3">
      <label>Longueur Tot</label>
      <div class="custom-slider">
        <ngx-slider [(value)]="value" [(highValue)]="highValue" [options]="options"></ngx-slider>
      </div>
    </div>
    <select class="input-form-control">
      <option value="1">Et</option>
      <option value="0">Ou</option>
    </select>
    <div class="form-group d-flex col-md-3">
      <label>Largeur Tot</label>
      <div class="custom-slider">
        <ngx-slider [(value)]="value" [(highValue)]="highValue" [options]="options"></ngx-slider>
      </div>
    </div>
    <select class="input-form-control">
      <option value="1">Et</option>
      <option value="0">Ou</option>
    </select>
    <div class="form-group d-flex col-md-3">
      <label>Profondeur</label>
      <div class="custom-slider">
        <ngx-slider [(value)]="value" [(highValue)]="highValue" [options]="options"></ngx-slider>
      </div>
    </div>
    <select class="input-form-control">
      <option value="1">Et</option>
      <option value="0">Ou</option>
    </select>
    <div class="form-group d-flex col-md-3">
      <label>Poids</label>
      <div class="custom-slider">
        <ngx-slider [(value)]="value" [(highValue)]="highValue" [options]="options"></ngx-slider>
      </div>
    </div>
    <select class="input-form-control">
      <option value="1">Et</option>
      <option value="0">Ou</option>
    </select>
    <div class="form-group d-flex col-md-3">
      <label>Nombre unité</label>
      <input class="input-form-control" type="number" />
    </div>
    <select class="input-form-control">
      <option value="1">Et</option>
      <option value="0">Ou</option>
    </select>
    <div class="form-group d-flex col-md-3">
      <label>Catégories de bien</label>
      <ng-multiselect-dropdown
        class="select"
        [placeholder]="'Choissiez des catégories'"
        [settings]="dropdownSettings"
        [data]="domaine"
        (onSelect)="onItemSelect($event)"
        (onSelectAll)="onSelectAll($event)"
      >
      </ng-multiselect-dropdown>
    </div>
    <select class="input-form-control">
      <option value="1">Et</option>
      <option value="0">Ou</option>
    </select>
    <div class="form-group d-flex col-md-3">
      <label>Mode Entrée</label>
      <ng-multiselect-dropdown
        class="select"
        [placeholder]="'Choissiez des modes d\'entrée'"
        [settings]="dropdownSettings"
        [data]="domaine"
        (onSelect)="onItemSelect($event)"
        (onSelectAll)="onSelectAll($event)"
      >
      </ng-multiselect-dropdown>
    </div>
    <select class="input-form-control">
      <option value="1">Et</option>
      <option value="0">Ou</option>
    </select>
    <div class="form-group d-flex col-md-3">
      <label class="col-md-4">Date Entrée</label>
      <select class="input-form-control">
        <option *ngFor="let operator of dateOperator">{{ operator }}</option>
      </select>
      <input class="input-form-control" type="date" id="date" name="date" />
    </div>
    <div class="form-group d-flex col-md-3">
      <label>N arrêt</label>
      <ng-multiselect-dropdown
        class="select"
        [placeholder]="'Choissiez N arrêt'"
        [settings]="dropdownSettings"
        [data]="domaine"
        (onSelect)="onItemSelect($event)"
        (onSelectAll)="onSelectAll($event)"
      >
      </ng-multiselect-dropdown>
    </div>
    <select class="input-form-control">
      <option value="1">Et</option>
      <option value="0">Ou</option>
    </select>
    <div class="form-group d-flex col-md-3">
      <label class="col-md-4">Date dépôt</label>
      <select class="input-form-control">
        <option *ngFor="let operator of dateOperator">{{ operator }}</option>
      </select>
      <input class="input-form-control" type="date" id="date" name="date" />
    </div>
  </div>
</div>

<div class="validation">
  <button class="mt-1 valid-btn">Valider</button>
</div>
