.vl {
    border:         none;
    border-left:    1px solid rgba(0, 0, 0, 0.125);
    height:          auto;
    width:          1px;
    margin: 0px 0 10px;
}

.input-form-control {
  border-color: #e4e4e4;
  height: 25px;
  width: 100px;
  font-size: 12px;
  border-radius: 4px;
  margin: 0px 5px 5px 0;
  &:focus {
    box-shadow: none;
    border-color: #e4e4e4;
    outline: none;
  }
}
.add {
  background-color: #0080ff;
  color: white;
  width: 24px !important;
  height: 23px;
  padding: 5.5px;
  font-size: 13px;
  margin-bottom: 5px;
  cursor: pointer;
}
button {
  height: 30px;
  border: 1px solid #ced4da;
  line-height: 0;
  background-color: transparent;
  color: #1d2124;
  font-size: 12px;
  &:focus,
  &:active {
    outline: none;
    box-shadow: none;
  }
  &:hover {
    background-color: #407ca8;
    color: white;
  }
}

.validation {
  width: 100%;
  display: flex;
  justify-content: flex-end;
}

.valid-btn {
  background-color: #0080ff;
  color: white;
}
.add-item {
  display: flex;
  align-items: flex-end;
}

.form-group {
  margin-bottom: 0.5rem;
  label {
    font-size: 12px;
    width: 49%;
    margin-bottom: 0;
    line-height: 25px;
    &.col-md-4 {
      padding-left: 0;
    }
  }
  input {
    width: 65%;
    height: 25px;
    font-size: 12px;
  }
  ::ng-deep ng-multiselect-dropdown {
    width: 65%;
  }
  .creation-date-label {
    padding-left: 0;
  }
}

.advanced-search-accordion {
  span {
    color: #0080ff;
    font-weight: bold;
    padding-top: 4px;
  }
  hr {
    border-top: 1px solid #407ca8;
  }
}
.advanced-bloc {
  flex-wrap: wrap;
}
.advanced-sub-bloc {
  width: 33%;
  display: flex;
  flex-wrap: wrap;
}

.location {
  flex-wrap: wrap;
}
.slider-bloc {
  height: 25px;
}
.custom-slider {
  width: 65%;
}

// css ngx-slider
::ng-deep {
  .custom-slider .ngx-slider .ngx-slider-pointer {
    width: 15px;
    height: 15px;
    top: -21px;
  }
  .custom-slider .ngx-slider .ngx-slider-pointer::after {
    display: none;
  }
  .custom-slider .ngx-slider .ngx-slider-pointer:active,
  .custom-slider .ngx-slider .ngx-slider-pointer:focus {
    outline: none;
    border: none;
  }
  .custom-slider .ngx-slider .ngx-slider-span {
    font-size: 12px;
  }
  .custom-slider .ngx-slider .ngx-slider-bubble {
    top: -35px;
  }
  .custom-slider .ngx-slider .ngx-slider-bar-wrapper {
    padding-top: 0;
  }
}
