<div class="map-container">
  <div class="content d-flex">
    <div class="col-md-12 p-0">
      <div class="">
        <div class="d-flex justify-content-md-between">
          <h5 style="width: 100%">Dernier constat</h5>
        </div>
        <div class="d-flex flex-wrap info-container">
          <!--          <div class="d-flex flex-wrap col-md-12 p-0">-->
          <!--            <p class="col-md-12 d-flex justify-content-md-between flex-wrap p-0">-->
          <!--              <strong>Date </strong>-->
          <!--              <span>26/03/2021</span>-->
          <!--            </p>-->
          <!--            <p class="col-md-12 d-flex justify-content-md-between flex-wrap p-0">-->
          <!--              <strong>Responsable </strong>-->
          <!--              <span>Jean T</span>-->
          <!--            </p>-->
          <!--            <p class="col-md-12 d-flex justify-content-md-between flex-wrap p-0">-->
          <!--              <strong>Constat</strong>-->
          <!--              <span>Non vu</span>-->
          <!--            </p>-->
          <!--            <p class="col-md-12 d-flex justify-content-md-between flex-wrap p-0">-->
          <!--              <strong>Conservation</strong>-->
          <!--              <span>...</span>-->
          <!--            </p>-->
          <!--            <p class="col-md-12 d-flex justify-content-md-between flex-wrap p-0">-->
          <!--              <strong>Etat de conservation</strong>-->
          <!--              <span>Bon état</span>-->
          <!--            </p>-->
          <!--            <p class="col-md-12 d-flex justify-content-md-between flex-wrap p-0">-->
          <!--              <strong>Explication du Constat</strong>-->
          <!--              <span>Récolement SOA</span>-->
          <!--            </p>-->
          <!--            &lt;!&ndash;            <p class="col-md-6 d-flex justify-content-md-between flex-wrap p-0">Commentaire</p>&ndash;&gt;-->
          <!--          </div>-->

          <div class="col-md-12">
            <!--            <ngx-htl-horizontal-timeline [(items)]="items"></ngx-htl-horizontal-timeline>-->

            <div class="row">
              <div class="col-md-12">
                <div class="swiper-container">
                  <p class="swiper-control">
                    <!--                      <button type="button" class="btn btn-default btn-sm prev-slide"><i class="fas fa-angle-double-left"></i></button>-->
                    <button type="button" class="btn btn-default btn-sm next-slide">
                      <i class="fas fa-angle-double-right"></i>
                    </button>
                  </p>
                  <div class="d-flex justify-content-center">
                    <div class="swiper-wrapper timeline">
                      <div class="swiper-slide" *ngFor="let action of constatActions">
                        <div class="timestamp">
                          <span class="date">{{ action.date }}</span>
                          <i
                            class="fas fa-exclamation-triangle text-warning ml-2"
                            *ngIf="action.status === 'alert'"
                          ></i>
                          <i class="fas fa-hourglass-half text-primary ml-2" *ngIf="action.status === 'en cours'"></i>
                          <i class="far fa-check-circle text-success ml-2" *ngIf="action.status === 'terminé'"></i>
                        </div>
                        <div class="status">
                          <span>{{ action.type }}</span>
                          <p>{{ action.author }}</p>
                        </div>
                      </div>
                    </div>
                    <i class="fas fa-plus-circle" style="color: #00d6d4" title="Ajouter une action"></i>
                  </div>
                  <!-- Add Pagination -->
                  <div class="swiper-pagination"></div>
                </div>
              </div>
            </div>

            <div class="col-md-12 mt-2 p-0 d-flex flex-column">
              <h6>Etat de conservation</h6>

              <div class="d-flex flex-wrap action">
                <p class="col-md-12 d-flex justify-content-md-between flex-wrap">
                  <strong>Type </strong>
                  <span>Déclassement</span>
                </p>
                <p class="col-md-12 d-flex justify-content-md-between flex-wrap">
                  <strong>Statut </strong>
                  <span>Terminé</span>
                </p>
                <p class="col-md-12 d-flex justify-content-md-between flex-wrap">
                  <strong>Date début</strong>
                  <span>11/11/2020</span>
                </p>
                <p class="col-md-12 d-flex justify-content-md-between flex-wrap">
                  <strong>Date fin</strong>
                  <span>11/01/2021</span>
                </p>
                <p class="col-md-12 d-flex justify-content-md-between flex-wrap">
                  <strong>Explication</strong>
                  <span>Récolement SOA</span>
                </p>
                <hr />
                <!--              <p class="col-md-12 d-flex justify-content-md-between flex-wrap"><strong>Sous-direction </strong>Ain</p>-->
                <!--              <p class="col-md-12 d-flex justify-content-md-between flex-wrap">-->
                <!--                <strong>Services </strong>Service de l'Environnement Professionnel 2B-->
                <!--              </p>-->
                <!--              <hr />-->
                <!--              <p class="col-md-12 d-flex justify-content-md-between flex-wrap">-->
                <!--                <strong>Correspondants </strong>Nom1, Nom2-->
                <!--              </p>-->
                <!--            </div>-->
                <!--          </div>-->
                <!--          <div class="d-flex flex-wrap col-md-12 mt-2 p-0">-->
                <!--            <h6>Localisation géographique</h6>-->
                <!--            <div class="d-flex flex-wrap localisation">-->
                <!--              <p class="col-md-12 d-flex justify-content-md-between flex-wrap">-->
                <!--                <strong>Site </strong>MINISTÈRES ÉCONOMIQUES ET FINANCIERS-->
                <!--              </p>-->
                <!--              <p class="col-md-12 d-flex justify-content-md-between flex-wrap">-->
                <!--                <strong>Bâtiment </strong>Administration des Contributions Directes-->
                <!--              </p>-->
                <!--              <p class="col-md-12 d-flex justify-content-md-between flex-wrap"><strong>Pièce </strong>Ain</p>-->
                <!--              <p class="col-md-12 d-flex justify-content-md-between flex-wrap">-->
                <!--                <strong>Correspondants </strong>Nom1, Nom2-->
                <!--              </p>-->
                <!--            </div>-->
              </div>
            </div>
          </div>
          <div class="d-flex align-self-end">
            <button class="btn btn-primary mvt-details">
              <div class="add-item"><i class="add ml-2 fas fa-eye"></i></div>
              <span class="col-sm-4 col-lg-2">Ajouter constats</span>
            </button>
          </div>
        </div>

        <!--    <div class="d-flex mvt-details col-md-12">-->
        <!--      <div class="add-item" (click)="openDetailsMvt()"><i class="add ml-2 fas fa-plus"></i></div>-->
        <!--      <span class="col-sm-4 col-lg-2">Mouvements</span>-->
        <!--      <hr class="col-sm-7 col-lg-9" />-->
        <!--    </div>-->
        <!--    <div *ngIf="showDetailsMvt" class="advanced-bloc d-flex col-md-12">-->
        <!--      <div class="col-sm-12 col-md-12">-->
        <!--        <div class="search">-->
        <!--          <input class="form-control" type="text" name="search" autocomplete="off" placeholder="Recherche" />-->
        <!--        </div>-->
        <!--        <app-grid-wrapper-->
        <!--          [columnDefs]="columnDefs"-->
        <!--          [rowData]="movements"-->
        <!--          [defaultColDef]="defaultColDef"-->
        <!--          [frameworkComponents]="frameworkComponent"-->
        <!--          (gridReady)="onGridReady($event)"-->
        <!--        >-->
        <!--        </app-grid-wrapper>-->
        <!--      </div>-->
        <!--    </div>-->
        <!--    </div>-->
      </div>
    </div>
  </div>
</div>
