.map-container {
  min-height: 100%;
  background-color: #f7f7f7;
  border-radius: 0 3rem 2rem 2rem;
  .map-frame {
    height: 350px;
  }
  #map {
    height: 100%;
  }

  .content {
    min-height: 100%;
    display: flex;
    flex-wrap: wrap;

    .action {
      //margin-top: 2%;
      //height: 180px;
      border-left: 1px solid #bfbfbf;
      align-content: flex-start;
    }
    .vl {
      border-left: 4px solid #e6e6ea;
      height: 350px;
      position: absolute;
      left: 58.5%;
      margin-left: -3px;
      top: 52px;
    }
    h5 {
      margin: 0;
      //border-radius: 0rem 10rem 0 0;
      background-color: #00d6d4;
      width: fit-content;
      padding: 0.7rem;
      color: white;
      font-weight: 600;
    }
    .info-container {
      background-color: #f7f7f7;
      padding: 0.5rem 1.5rem;
      border-radius: 0 0 2rem 2rem;
      flex-direction: column;
    }
  }
  .mvt-details {
    align-self: flex-end;
    margin: 0.5rem 0%;
    display: flex;
    background-color: #f8f8f8;
    span {
      color: #1963a7;
      font-weight: bold;
      padding-top: 4px;
    }
    .add-item {
      display: flex;
      font-size: 14px;
      align-self: center;
      color: #1963a7;
    }
  }
}

h6 {
  font-weight: bold;
  color: #6882b0;
  margin: 1% 0%;
}
p {
  margin: 1% 0%;
  font-size: 14px;
  padding-right: 0;
  color: gray;
  strong {
    //color: #484848;
    color: #838a90;
    //font-size: 16px;
  }
  span {
    color: #212121;
    text-align: start;
    width: 55%;
  }
}

.search {
  width: 200px;
  margin-bottom: 10px;
  input {
    height: 30px;
    font-size: 12px;
    &:active,
    &:focus {
      box-shadow: none;
    }
  }
}

@media (max-width: 450px) {
  .content {
    .map-frame {
      margin-bottom: 20px;
    }
    .vl {
      display: none;
    }
  }
}

// timeline css
.timeline {
  list-style-type: none;
  display: flex;
  padding: 0;
  text-align: center;
  overflow-x: scroll;
  justify-content: center;
}
.timeline li {
  transition: all 200ms ease-in;
}
.timestamp {
  width: 100%; // for flexible width
  margin-bottom: 20px;
  padding: 0px 10px;
  display: flex;
  //flex-direction: column;
  justify-content: center;
  align-items: center;
  font-weight: 100;
}
.status {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  border-top: 4px solid #d3d3d3;
  position: relative;
  transition: all 200ms ease-in;
}

.status span {
  font-weight: 600;
  padding-top: 20px;
  min-width: 100%;
}
.status span:before {
  content: "";
  width: 25px;
  height: 25px;
  background-color: #eaeaea;
  border-radius: 25px;
  border: 4px solid #d3d3d3;
  position: absolute;
  top: -15px;
  left: calc(50% - 12px); // align circle to center
  transition: all 200ms ease-in;
}
.swiper-control {
  text-align: right;
}

.swiper-container {
  width: 100%;
  overflow: hidden;
}
.swiper-slide {
  width: 200px;
  text-align: center;
  font-size: 12px;
}

.swiper-slide:last-child {
  .status {
    border-top: 4px solid #6882b0;
  }
  .status span:before {
    border: 4px solid #6882b0;
    background-color: #e8eeff;
  }
}
