.status-container {
  min-width: 42%;
  display: flex;
  justify-content: center;
  border-radius: 15px;
  position: relative;

  span {
    color: #ffffff !important;
  }
}
.class1 {
  background-color: #0080ff;
}
.class2 {
  background-color: #00d6d4;
}
.class_in_progress{
  background-color: #005c7b;
}
.class_canceled{
  background-color: #a6c1be;
}
.class_refused{
  background-color: red;
}
.class_accepted{
  background-color: #0466c8;
}
