.add-action:hover {
  border-color: #6d8292;
  color: white !important;
}
h5 {
  color: #347898 !important;
  font-weight: 600;
  display: flex;
}
.images-container {
  //max-height: 15rem;
  //overflow: hidden;
  //height: 1vh;
  align-content: space-around;
}
.content {
  background-color: white;
  //display: flex;
  //justify-content: space-around;
  .carousel-container {
    justify-content: space-evenly;
    //width: 25rem;
    //margin: 0 3%;

    .carousel {
      margin: 0 1%;
      .picsum-img-wrapper img {
        //width: 100%;
        //height: 500px;
        max-height: 25rem;
      }
    }
    .pictures-list {
      display: flex;
      justify-content: flex-start;
      flex-direction: column;
      overflow-y: scroll;
      max-height: 22rem;
      //margin: 0 1%;
      img {
        max-width: 50px;
        border-radius: 3px;
        margin-bottom: 0.5rem;
      }
    }
  }
  .more-details {
    //width: 300px;
    border-top: 1px #d0d0d0 solid;
    display: flex;
    flex-direction: column;
    p {
      display: flex;
      font-size: 14px;
      strong {
        color: #838a90;
      }
      span {
      }
      i {
        justify-content: flex-end;
        display: flex;
        align-self: baseline;
        color: #838a90;
      }
    }
    .form-group {
      label {
        padding: 0;
        font-size: 12px;
        font-weight: 600;
        color: #838a90;
      }
      .form-control {
        //font-size:12px;
      }
    }
    button {
      align-self: flex-end;
    }
  }
  .edition-btn {
    button {
      background-color: #5c8fb1;
    }
  }
  @media (max-width: 800px) {
    flex-wrap: wrap;
    //.more-details {
    //  border-left: none;
    //  height: auto;
    //}
  }
}
