<div class="content">
  <div class="d-flex">
    <ngb-carousel class="carousel">
      <ng-template ngbSlide>
        <div class="picsum-img-wrapper">
          <img src="assets/images/logo.png" alt="Random first slide" />
        </div>
        <div class="carousel-caption">
          <h3>10 seconds between slides...</h3>
          <p>This carousel uses customized default values.</p>
        </div>
      </ng-template>
      <ng-template ngbSlide>
        <div class="picsum-img-wrapper">
          <img src="assets/images/logo2.png" alt="Random second slide" />
        </div>
        <div class="carousel-caption">
          <h3>No mouse events...</h3>
          <p>This carousel doesn't pause or resume on mouse events</p>
        </div>
      </ng-template>
      <ng-template ngbSlide>
        <div class="picsum-img-wrapper">
          <img src="assets/images/logo3.png" alt="Random third slide" />
        </div>
        <div class="carousel-caption">
          <h3>No keyboard...</h3>
          <p>This carousel uses customized default values.</p>
        </div>
      </ng-template>
      <ng-template ngbSlide>
        <div class="picsum-img-wrapper">
          <img src="assets/images/logo4.png" alt="Random fourth slide" />
        </div>
        <div class="carousel-caption">
          <h3>And no wrap after last slide.</h3>
          <p>This carousel uses customized default values.</p>
        </div>
      </ng-template>
    </ngb-carousel>
    <div class="pictures-list" style="">
      <img src="assets/images/logo.png" alt="" />
      <img src="assets/images/logo2.png" alt="" />
      <img src="assets/images/logo3.png" alt="" />
      <img src="assets/images/logo4.png" alt="" />
    </div>
  </div>

  <div class="more-details">
    <h2>
      <p><strong>Plus de détails</strong></p>
    </h2>
    <p><strong>Pays :</strong> France</p>
    <p><strong>Création :</strong> 2014</p>
    <p><strong>Nombre d'employés :</strong> 4</p>
    <p><strong>Ville :</strong> Londres et Paris</p>
    <p><strong>Domaine(s) :</strong> Street art | Art contemporain</p>
    <p><strong>Taille du catalogue :</strong> Plus de 1 000 oeuvres</p>
    <p><strong>Fourchette de prix :</strong> de 19 EUR à 12 000 EUR</p>
    <p><strong>Modèle :</strong> Galerie d'art en ligne</p>
  </div>
</div>
