<div class="row images-container">
  <!--  <div class="col-12" style="display: flex; flex-direction: row-reverse; margin-bottom: 20px">-->

  <!--  </div>-->
  <div class="col-12 content" [formGroup]="photographyForm">
    <h5 class="col-md-12 pt-2" *ngIf="add">Ajouter photographies</h5>
    <div class="d-flex carousel-container mb-4" *ngIf="!add">
      <div class="d-flex justify-content-center flex-column">
        <div class="pictures-list">
          <img src="assets/images/573.jpg" alt="" />
          <img src="assets/images/573a.jpg" alt="" />
          <img src="assets/images/573b.jpg" alt="" />
          <img src="assets/images/573.jpg" alt="" />
          <img src="assets/images/573b.jpg" alt="" />
          <img src="assets/images/573.jpg" alt="" />
        </div>
        <div style="align-self: center; font-size: 25px; color: gainsboro">
          <i class="fas fa-chevron-down"></i>
        </div>
      </div>
      <ngb-carousel class="carousel" (slide)="onChange($event)" [interval]="false">
        <ng-template ngbSlide id="slide1">
          <div class="picsum-img-wrapper">
            <img src="assets/images/573.jpg" alt="Random first slide" />
          </div>
          <div class="carousel-caption">
            <!--            <h3>10 seconds between slides...</h3>-->
            <!--            <p>This carousel uses customized default values.</p>-->
          </div>
        </ng-template>
        <ng-template ngbSlide id="slide2">
          <div class="picsum-img-wrapper">
            <img src="assets/images/573a.jpg" alt="Random second slide" />
          </div>
          <div class="carousel-caption">
            <!--            <h3>No mouse events...</h3>-->
            <!--            <p>This carousel doesn't pause or resume on mouse events</p>-->
          </div>
        </ng-template>
        <ng-template ngbSlide id="slide3">
          <div class="picsum-img-wrapper">
            <img src="assets/images/573b.jpg" alt="Random third slide" />
          </div>
          <div class="carousel-caption">
            <!--            <h3>No keyboard...</h3>-->
            <!--            <p>This carousel uses customized default values.</p>-->
          </div>
        </ng-template>
        <ng-template ngbSlide id="slide4">
          <div class="picsum-img-wrapper">
            <img src="assets/images/573.jpg" alt="Random fourth slide" />
          </div>
          <div class="carousel-caption">
            <!--            <h3>And no wrap after last slide.</h3>-->
            <!--            <p>This carousel uses customized default values.</p>-->
          </div>
        </ng-template>
      </ngb-carousel>
    </div>

    <div class="more-details mt-2 pt-4">
      <div class="" *ngIf="slide == 1">
        <div class="form-group col-md-12" *ngIf="add">
          <label class="col-5">Photographie</label>
          <div class="input-group input-group-sm upload-file">
            <input class="form-control" [hidden]="true" type="file" accept=".png .jpg" #fileSelect />
            <input readonly class="form-control" placeholder="Choisir fichier..." />
            <div class="input-group-prepend">
              <span class="input-group-text" (click)="fileSelect.click()" translate> Parcourir </span>
            </div>
          </div>
        </div>
        <div class="form-group col-md-12" *ngIf="add">
          <label class="col-md-3">Date</label>
          <input type="date" class="form-control col-md-12" />
        </div>
        <p *ngIf="!add">
          <strong class="col-5">Date d'ajout </strong>
          <span class="col-7" *ngIf="!add">12/02/2019</span>
        </p>
        <div class="form-group col-md-12" *ngIf="add">
          <label class="col-md-3">Type</label>
          <div class="autocomplete col-md-12">
            <select formControlName="photographyType" style="font-size: 12px" class="col-12 p-1">
              <option value="">--Choisissez un type de photographie--</option>
              <option *ngFor="let type of types" [value]="type">{{ type }}</option>
            </select>
            <ng-template #itemTemplate let-item>
              <a [innerHTML]="item.name"></a>
            </ng-template>
            <ng-template #notFoundTemplate let-notFound>
              <div [innerHTML]="notFound"></div>
            </ng-template>
          </div>
        </div>
        <p>
          <strong class="col-5" *ngIf="!add">Type </strong>
          <span class="col-6" *ngIf="!editType && !add">Identification</span>
          <i class="far fa-edit col-1" (click)="editType = !editType" *ngIf="!editType && !add"></i>
        </p>

        <div class="col-12 pr-0" *ngIf="editType">
          <select formControlName="photographyType" style="font-size: 12px" class="col-12 p-1">
            <option value="">--Choisissez un type de photographie--</option>
            <option *ngFor="let type of types" [value]="type">{{ type }}</option>
          </select>
          <div class="d-flex justify-content-end col-12 p-0 mt-2 mb-2 edition-btn">
            <button (click)="editType = !editType" class="mr-2">Annuler</button>
            <button (click)="editPhotoType()">Valider</button>
          </div>
        </div>
      </div>

      <div class="" *ngIf="slide == 2">
        <p><strong>Date d'ajout </strong><span> 16/04/2019</span></p>
        <p><strong>Type </strong> <i class="far fa-edit"></i></p>
      </div>
      <div class="" *ngIf="slide == 3">
        <p><strong>Date d'ajout </strong> <span>12/06/2019</span></p>
        <p><strong>Type </strong> <span>Numérique</span><i class="far fa-edit"></i></p>
      </div>
      <div class="" *ngIf="slide == 4">
        <p><strong>Date d'ajout </strong> <span>12/09/2019</span></p>
        <p><strong>Type </strong> <span>Numérique</span><i class="far fa-edit"></i></p>
      </div>
      <button class="btn add-action mb-2" (click)="addImg()" *ngIf="!add">
        <i class="fas fa-plus"></i>
        Ajouter une photographie
      </button>
    </div>
  </div>
</div>
