<form [formGroup]="descriptifForm">
  <div class="form-bloc">
    <div class="col-md-6" *ngIf="addDepot">
      <div class="form-group flex-wrap flex-sm-nowrap">
        <label class="">N inventaire</label>

        <input type="text" class="form-control value col-12 col-sm-7" formControlName="title" />
      </div>
    </div>
    <div class="col-md-6">
      <div class="form-group flex-wrap flex-sm-nowrap">
        <label class="">Titre<span class="mandatory">*</span></label>
        <input type="text" class="form-control value col-12 col-sm-7" formControlName="title" />
      </div>
      <div
        *ngIf="
          descriptifForm.get('title').invalid &&
          (descriptifForm.get('title').dirty || descriptifForm.get('title').touched)
        "
      >
        <div class="mandatory" *ngIf="descriptifForm.get('title').errors.required">Veuillez saisir un titre.</div>
      </div>
    </div>
    <div class="col-md-6">
      <div class="form-group flex-wrap flex-sm-nowrap">
        <label>Domaine<span class="mandatory">*</span></label>
        <div class="autocomplete form-control value col-12 col-sm-7">
          <p-dropdown
            class="col-md-12"
            [style]="{ minWidth: '100%' }"
            [options]="domainData"
            formControlName="field"
            id="field"
            placeholder="Choisir un domaine"
            optionLabel="name"
            optionValue="id"
            [showClear]="false"
            emptyFilterMessage="Aucun résultat trouvé"
            (onChange)="onSelect($event, 'field')"
          ></p-dropdown>
        </div>
      </div>
      <div
        *ngIf="
          descriptifForm.get('field').invalid &&
          (descriptifForm.get('field').dirty || descriptifForm.get('field').touched)
        "
      >
        <div class="mandatory" *ngIf="descriptifForm.get('field').errors.required">Veuillez saisir un domaine</div>
      </div>
    </div>
    <div class="col-md-6">
      <div class="form-group flex-wrap flex-sm-nowrap">
        <label class="-4">Dénomination<span class="mandatory">*</span></label>
        <div class="autocomplete form-control value col-12 col-sm-7">
          <p-dropdown
            class="col-md-12"
            [style]="{ minWidth: '100%' }"
            [options]="denominationData"
            formControlName="denomination"
            id="denomination"
            placeholder="Choisir une dénomination"
            optionLabel="label"
            optionValue="id"
            [showClear]="false"
            (onChange)="onSelect($event, 'denomination')"
            emptyFilterMessage="Aucun résultat trouvé"
          ></p-dropdown>
        </div>
      </div>
      <div
        *ngIf="
          descriptifForm.get('denomination').invalid &&
          (descriptifForm.get('denomination').dirty || descriptifForm.get('denomination').touched)
        "
      >
        <div class="mandatory" *ngIf="descriptifForm.get('denomination').errors.required">
          Veuillez saisir une dénomination
        </div>
      </div>
    </div>
    <div class="divider"></div>
    <div class="form-group col-md-12 flex-wrap flex-wrap" style="max-width: 98%">
      <label style="margin-right: -17%; width: 18%" class="col-sm-5">Auteurs</label>

      <p-multiSelect
        class="select col-md-4 col-sm-7 p-sm-0 col-12"
        selectionLimit="5"
        [maxSelectedLabels]="2"
        [style]="{ width: '100%' }"
        [options]="authorData"
        formControlName="authors"
        optionValue="id"
        optionLabel="name"
        [filter]="true"
        [virtualScroll]="true"
        itemSize="30"
        defaultLabel="Sélectionner des auteurs"
      >
      </p-multiSelect>
      <div class="col-md-4 col-12 p-sm-0 link value">
        <a (click)="openModal()">Ajouter un nouvel auteur</a>
      </div>
    </div>
    <div class="col-md-8"></div>
    <div class="d-flex flex-wrap justify-content-between" *ngIf="denomination && field && attributeToShow">
      <div class="divider"></div>
      <div class="form-group col-md-6 flex-wrap flex-sm-nowrap" *ngIf="attributeToShow.includes('Height')">
        <label class="">Hauteur</label>
        <div class="d-flex value col-12 col-sm-7">
          <input class="col-md-8 form-control" type="number" formControlName="height" />
          <select class="col-md-4 col-sm-4 form-control" formControlName="heightUnit">
            <option class="active" value="1">cm</option>
            <option value="100">m</option>
          </select>
        </div>
      </div>
      <div class="form-group col-md-6 flex-wrap flex-sm-nowrap" *ngIf="attributeToShow.includes('width')">
        <label class="">Largeur</label>
        <div class="d-flex value col-12 col-sm-7">
          <input class="col-md-8 form-control" type="number" formControlName="width" />
          <select class="col-md-4 col-sm-4 form-control" formControlName="widthUnit">
            <option class="active" value="1">cm</option>
            <option value="100">m</option>
          </select>
        </div>
      </div>
      <div class="form-group col-md-6 flex-wrap flex-sm-nowrap" *ngIf="attributeToShow.includes('totalWidth')">
        <label class="">Largeur Tot </label>
        <div class="d-flex value col-12 col-sm-7">
          <input class="col-md-8 form-control" type="number" formControlName="totalWidth" />
          <select class="col-md-4 col-sm-4 form-control" formControlName="totalWidthUnit">
            <option class="active" value="1">cm</option>
            <option value="100">m</option>
          </select>
        </div>
      </div>
      <div class="form-group col-md-6 flex-wrap flex-sm-nowrap" *ngIf="attributeToShow.includes('totalHeight')">
        <label class="">Hauteur Tot</label>
        <div class="d-flex value col-12 col-sm-7">
          <input class="col-md-8 form-control" type="number" formControlName="totalHeight" />
          <select class="col-md-4 col-sm-4 form-control" formControlName="totalHeightUnit">
            <option class="active" value="1">cm</option>
            <option value="100">m</option>
          </select>
        </div>
      </div>
      <div class="form-group col-md-6 flex-wrap flex-sm-nowrap" *ngIf="attributeToShow.includes('length')">
        <label class="">Longueur</label>
        <div class="d-flex value col-12 col-sm-7">
          <input class="col-md-8 form-control" type="number" formControlName="length" />
          <select class="col-md-4 col-sm-4 form-control" formControlName="lengthUnit">
            <option class="active" value="1">cm</option>
            <option value="100">m</option>
          </select>
        </div>
      </div>
      <div class="form-group col-md-6 flex-wrap flex-sm-nowrap" *ngIf="attributeToShow.includes('depth')">
        <label class="">Profondeur</label>
        <div class="d-flex value">
          <input class="col-md-8 form-control col-12 col-sm-7" type="number" formControlName="depth" />
          <select class="col-md-4 col-sm-4 form-control" formControlName="depthUnit">
            <option class="active" value="1">cm</option>
            <option value="100">m</option>
          </select>
        </div>
      </div>
      <div class="form-group col-md-6 flex-wrap flex-sm-nowrap" *ngIf="attributeToShow.includes('weight')">
        <label class="col-md-3">Poids</label>
        <div class="d-flex value col-12 col-sm-7">
          <input class="col-md-8 form-control" type="number" formControlName="weight" />
          <select class="col-md-4 col-sm-4 form-control">
            <option class="active">Kg</option>
          </select>
        </div>
      </div>
      <div class="form-group col-md-6 flex-wrap flex-sm-nowrap" *ngIf="attributeToShow.includes('diameter')">
        <label class="">Diamètre</label>
        <div class="d-flex value col-12 col-sm-7">
          <input class="col-md-8 form-control" type="number" formControlName="diameter" />
          <select class="col-md-4 col-sm-4 form-control" formControlName="diameterUnit">
            <option class="active" value="1">cm</option>
            <option value="100">m</option>
          </select>
        </div>
      </div>
      <div class="col-md-4"></div>
      <div class="divider"></div>
      <div class="form-group col-md-6 flex-wrap flex-sm-nowrap" *ngIf="attributeToShow.includes('era')">
        <label class="">Epoque</label>
        <div class="autocomplete form-control value col-12 col-sm-7">
          <p-dropdown
            class="col-md-12"
            [style]="{ minWidth: '100%' }"
            [options]="eraData"
            formControlName="era"
            placeholder="Choisir une époque"
            optionLabel="name"
            optionValue="id"
            [showClear]="false"
          ></p-dropdown>
        </div>
      </div>
      <div class="form-group col-md-6 flex-wrap flex-sm-nowrap" *ngIf="attributeToShow.includes('style')">
        <label class="">Style</label>
        <div class="autocomplete form-control value col-12 col-sm-7">
          <p-dropdown
            class="col-md-12"
            [style]="{ minWidth: '100%' }"
            [options]="styleData"
            formControlName="style"
            optionValue="id"
            placeholder="Choisir un style"
            optionLabel="name"
            [showClear]="false"
          ></p-dropdown>
        </div>
      </div>
      <div class="form-group col-md-6 flex-wrap flex-sm-nowrap">
        <label class="">Date de création</label>
        <input
          class="col-12 col-sm-7 form-control"
          autocomplete="off"
          name="date"
          (bsValueChange)="onChange($event)"
          [bsConfig]="{ dateInputFormat: 'YYYY' }"
          bsDatepicker
          minMode="year"
          placeholder="YYYY"
          formControlName="creationDate"
        />
      </div>
      <div class="col-md-6" *ngIf="attributeToShow.includes('materialTechnique')">
        <div class="form-group flex-wrap flex-sm-nowrap">
          <label class="">Matières <span class="mandatory">*</span></label>
          <div class="autocomplete form-control value col-12 col-sm-7">
            <p-multiSelect
              selectionLimit="5"
              [maxSelectedLabels]="2"
              [style]="{ width: '100%' }"
              [options]="materialTechniquesData"
              formControlName="materialTechnique"
              optionLabel="name"
              optionValue="id"
              placeholder="Choisir une matière/technique"
              [filter]="true"
            >
            </p-multiSelect>
          </div>
        </div>
        <div
          *ngIf="
            descriptifForm.get('materialTechnique').invalid &&
            (descriptifForm.get('materialTechnique').dirty || descriptifForm.get('materialTechnique').touched)
          "
        >
          <div class="mandatory" *ngIf="descriptifForm.get('materialTechnique').errors.required">
            Veuillez saisir une matière/technique
          </div>
        </div>
      </div>
      <div class="col-md-6" *ngIf="attributeToShow.includes('numberOfUnit')">
        <div class="form-group flex-wrap flex-sm-nowrap">
          <label class="">Nombre unité<span class="mandatory">*</span></label>
          <div class="d-flex value col-12 col-sm-7">
            <input class="col-md-12 form-control" type="number" value="0" formControlName="numberOfUnit" />
          </div>
        </div>
        <div
          *ngIf="
            descriptifForm.get('numberOfUnit').invalid &&
            (descriptifForm.get('numberOfUnit').dirty || descriptifForm.get('numberOfUnit').touched)
          "
        >
          <div class="mandatory" *ngIf="descriptifForm.get('numberOfUnit').errors.required">
            Veuillez saisir un nombre d'unité
          </div>
        </div>
      </div>
      <div class="divider"></div>
      <div class="form-group col-md-6 flex-wrap flex-sm-nowrap" *ngIf="addProperty">
        <label>Marquage</label>
        <input class="form-control value col-12 col-sm-7" placeholder="Marquage" formControlName="marking" />
      </div>
      <div class="form-group col-md-6 flex-wrap flex-sm-nowrap" *ngIf="addProperty">
        <label>Signature inscription</label>
        <input
          class="form-control value col-12 col-sm-7"
          placeholder="Signature inscription"
          formControlName="registrationSignature"
        />
      </div>

      <div class="form-group d-flex align-items-center col-md-6" *ngIf="addProperty">
        <label class="">Mots descriptifs</label>
        <tag-input
          formControlName="descriptiveWords"
          [editable]="false"
          (onAdd)="addWord($event)"
          secondaryPlaceholder="Entrer mots descriptifs"
          class="value"
          placeholder=" +Mots descriptifs"
        ></tag-input>
      </div>
      <div class="col-md-12" *ngIf="addProperty">
        <div class="d-flex form-group col-md-12 p-0">
          <label>Commentaire</label>
          <textarea
            type="text"
            class="form-control"
            placeholder="Commentaire ..."
            formControlName="description"
          ></textarea>
        </div>
      </div>
    </div>
  </div>
</form>
<p-toast></p-toast>
<ng-template #content let-modal>
  <form [formGroup]="authorForm" appFlashFormErrors (appFormSubmit)="submit()">
    <div class="modal-header">
      <h4 class="modal-title">Ajout d'un auteur</h4>
      <button type="button" class="close" aria-label="Close" (click)="myModal.dismiss('Cross click')">
        <span aria-hidden="true">&times;</span>
      </button>
    </div>
    <div class="modal-body">
      <div class="form-group col-md-12 d-flex justify-content-between align-items-baseline">
        <label class="col-sm-5">Nom<span class="mandatory"> *</span></label>
        <input
          type="text"
          class="form-control col-sm-7"
          value="{{ selectedAuthor ? selectedAuthor.lastName : '' }}"
          formControlName="lastName"
        />
      </div>
      <div class="form-group col-md-12 d-flex justify-content-between align-items-baseline">
        <label class="col-sm-5">Prénom<span class="mandatory"> *</span></label>
        <input
          type="text"
          class="form-control col-sm-7"
          value="{{ selectedAuthor ? selectedAuthor.firstName : '' }}"
          formControlName="firstName"
        />
      </div>
      <div class="form-group col-md-12 d-flex justify-content-between align-items-baseline">
        <label class="col-sm-5">Type</label>
        <div class="select col-sm-7 p-0">
          <p-dropdown
            [options]="activeTypes"
            optionLabel="label"
            formControlName="type"
            placeholder="Sélectionner un type"
            emptyFilterMessage="Aucun résultat trouvé"
            [filter]="true"
            [filterBy]="'label'"
            [virtualScroll]="true"
            itemSize="5"
          ></p-dropdown>
        </div>
      </div>
      <div class="form-group col-md-12 d-flex justify-content-between align-items-baseline">
        <label class="col-sm-5">Personnes ayant-droit</label>
        <div class="select col-sm-7 p-0">
          <p-multiSelect
            [options]="activePeople"
            [virtualScroll]="true"
            formControlName="people"
            emptyFilterMessage="Aucun résultat trouvé"
            optionLabel="label"
            display="chip"
            [filter]="true"
            [filterBy]="'label'"
            placeholder="Sélectionner des personnes"
          ></p-multiSelect>
        </div>
      </div>
      <div class="form-group col-md-12 d-flex align-items-baseline">
        <label class="col-sm-5">visibilité<span class="mandatory"> *</span></label>
      </div>
    </div>
    <div class="modal-footer">
      <button type="button" class="btn btn-light cancel-btn" (click)="myModal.dismiss('Cross click')">Annuler</button>
      <button type="submit" class="btn btn-light valid-btn" [attr.disabled]="btnLoading">Ajouter</button>
    </div>
  </form>
</ng-template>
