a:not([href]) {
  color: #407ca8;
  cursor: pointer;
  &:hover {
    text-decoration: underline;
  }
}
hr {
  margin-top: 1rem;
  margin-bottom: 1rem;
  border: 0;
  border-top: 1px solid rgba(0, 0, 0, 0.1);
}

.divider {
  border-bottom: 0.1em solid #babfc7;
  width: 95%;
  margin-left: 10px;
}

::ng-deep ng-multiselect-dropdown {
  width: 65%;
}
::ng-deep .multiselect-dropdown .dropdown-btn {
  border-color: transparent;
  color: black;
  background-color: white;
}
label {
  font-size: 14px !important;
  color: #838a90;
}
.form-group {
  display: flex;
  justify-content: space-between;
  align-items: baseline;
  //max-width: 48%;
  margin: 0.5% 0;
  font-size: 14px;
  color: #212121;
}
.value {
  padding: 0;
  text-align: start;
  width: 60%;
}
.form-control {
  font-size: 12px;
}
//css modal
.modal-title {
  color: #0ec7c6;
  font-size: 16px;
  font-weight: 700;
  background-color: white;
  border: none;
}
.modal-header,
.modal-footer {
  border: none;
}
