<div class="breadcrumb">
  <a [routerLink]="['accueil']">Accueil</a>
  <a href="tab-ref-domaine" class="selected-item">
    <i class="fas fa-chevron-right"></i>
    Gestion des Domaines
  </a>
</div>
<div class="container-fluid">
  <div class="body d-flex">
    <div class="col-md-12">
      <div class="mt-3">
        <div class="sidebar">
          <div class="card">
            <div class="card-body">
              <ul class="d-flex">
                <li class="col-md-12 selected-table"><i class="fas fa-tasks"></i><a>Gestion des Domaines</a></li>
              </ul>
            </div>
          </div>
        </div>
        <div class="mt-2 datagrid-bloc">
          <div class="quick-filters d-flex">
            <div class="search-add-section-div mt-3">
              <div class="search input-group">
                <input
                  class="form-control py-2 border-right-0 border search-form-control"
                  type="search"
                  placeholder="Rechercher"
                  id="example-search-input"
                  #searchBox
                  (keyup.enter)="search(searchBox.value)"
                  (input)="ClearSearch($event, searchBox.value)"
                />
                <span class="input-group-append">
                  <button
                    class="btn btn-outline-secondary border-left-0 border"
                    type="button"
                    (click)="search(searchBox.value)"
                  >
                    <i class="fa fa-search"></i>
                  </button>
                </span>
              </div>
              <div class="mr-3">
                <button class="btn add-action" (click)="openModal('')">
                  <i class="fas fa-plus-circle mr-1"></i>
                  Ajouter Domaine
                </button>
              </div>
            </div>
            <div></div>
          </div>
          <div class="datatable mt-4">
            <app-ng-data-table
              (action)="actionMethod($event)"
              (pageChanged)="pagination($event)"
              (filterValue)="filters($event)"
              (sort)="sortEvent($event)"
              [component]="'tabRefDomain'"
              [columns]="columns"
              [data]="items"
              [frozenCols]="[]"
              [frozenWidth]="'0px'"
              [checkBoxSelection]="false"
              [totalFiltred]="totalFiltred"
              [total]="total"
              [page]="page"
              [limit]="limit"
              [end]="end"
              [start]="start"
              [loading]="loading"
            >
            </app-ng-data-table>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
