<div class="map-container">
  <div class="add-search-bloc col-md-12">
    <div class="add-button">
      <button (click)="addMovement()" class="add-action"><i class="zmdi zmdi-plus"> </i>Ajouter mouvement</button>
    </div>
  </div>
  <div class="content d-flex">
    <div class="col-sm-12 col-md-12">
      <h5>LISTE DES MOUVEMENTS</h5>
      <app-grid-wrapper
        [columnDefs]="columnDefs"
        [rowData]="movements"
        [defaultColDef]="defaultColDef"
        [frameworkComponents]="frameworkComponent"
        (gridReady)="onGridReady($event)"
      >
      </app-grid-wrapper>
    </div>
  </div>
</div>
