.map-container {
  padding: 10px;
  .map-frame {
    height: 350px;
  }
  #map {
    height: 100%;
  }
  .content {
    display: flex;
    flex-wrap: wrap;
    .localisation {
      margin-top: 2%;
      height: 180px;
      border-left: 1px solid #bfbfbf;
      align-content: flex-start;
    }
    .vl {
      border-left: 4px solid #e6e6ea;
      height: 350px;
      position: absolute;
      left: 58.5%;
      margin-left: -3px;
      top: 52px;
    }
    h5 {
      font-weight: bold;
      color: #1d617b;
      margin: 1%;
    }
  }
  .mvt-details {
    margin: 1% 0%;
    span {
      color: #0080ff;
      font-weight: bold;
      padding-top: 4px;
    }
    hr {
      border-top: 1px solid #407ca8;
    }
    .add-item {
      display: flex;
      font-size: 14px;
      align-self: center;
      color: #0080ff;
    }
  }
}

h6 {
  font-weight: bold;
  color: #6882b0;
  margin: 1% 0%;
}
p {
  margin: 1% 0%;
  font-size: 14px;
  //margin-bottom: 0;
  //border-bottom: 1px solid #d6d6d6;
  color: gray;
  strong {
    color: #484848;
    font-size: 16px;
  }
}

.search {
  width: 200px;
  margin-bottom: 10px;
  input {
    height: 30px;
    font-size: 12px;
    &:active,
    &:focus {
      box-shadow: none;
    }
  }
}

@media (max-width: 450px) {
  .content {
    .map-frame {
      margin-bottom: 20px;
    }
    .vl {
      display: none;
    }
  }
}
