a:not([href]) {
  background-color: transparent !important;
  font-size: 14px;
}

.modal-content {
  width: 90%;
  margin: auto;
}
.add-button {
  display: flex;
  justify-content: flex-end;
  width: 100%;
  padding: 5px;
}
