<div class="container-fluid">
  <div class="first-bloc">
    <div class="cadre col-md-12" aria-label="">
      <div>
        <a (click)="goBack()"><i class="zmdi zmdi-fast-rewind"></i> Retour aux résultats de la recherche</a>
      </div>
      <div>
        <a href="#"><i class="zmdi zmdi-caret-left"></i> Précédant</a>
        |
        <a href="#">Suivant <i class="zmdi zmdi-caret-right"></i></a>
      </div>
    </div>
  </div>
  <div class="col-md-12 firth-bloc">
    <div class="second-page-bloc">
      <app-portail-img-details></app-portail-img-details>
    </div>
  </div>
</div>
