<div class="breadcrumb">
  <a href="accueil">Accueil</a>
  <a href="tab-ref-reserves" class="selected-item">
    <i class="fas fa-chevron-right"></i>
    Gestion des Réserves
  </a>
</div>
<div class="container-fluid">
  <div class="body d-flex">
    <div class="col-md-12">
      <div class="mt-3">
        <div class="sidebar">
          <div class="card">
            <div class="card-body">
              <ul class="d-flex">
                <li class="col-md-12 selected-table"><i class="fas fa-tasks"></i><a>Gestion des Réserves</a></li>
              </ul>
            </div>
          </div>
        </div>
        <div class="mt-2 datagrid-bloc">
          <div class="quick-filters d-flex">
            <div class="search-add-section-div mt-3">
              <div class="search input-group">
                <input
                  class="form-control py-2 border-right-0 border search-form-control"
                  type="search"
                  placeholder="Rechercher"
                  id="example-search-input"
                  #searchBox
                  (keyup.enter)="search(searchBox.value)"
                  (input)="ClearSearch($event, searchBox.value)"
                />
                <span class="input-group-append">
                  <button
                    class="btn btn-outline-secondary border-left-0 border btn-search"
                    type="button"
                    (click)="search(searchBox.value)"
                  >
                    <i class="fa fa-search"></i>
                  </button>
                </span>
              </div>
              <div class="mr-3">
                <button class="btn add-action" (click)="addItemAction()">
                  <i class="fas fa-plus-circle mr-1"></i>
                  Ajouter Réserve
                </button>
              </div>
            </div>
            <div></div>
          </div>
          <div class="datatable mt-4">
            <app-ng-data-table
              [loading]="loading"
              (action)="actionMethod($event)"
              (pageChanged)="pagination($event)"
              (filterValue)="filters($event)"
              (sort)="sortEvent($event)"
              [component]="'tabRefStyle'"
              [columns]="columns"
              [frozenCols]="[]"
              [frozenWidth]="'0px'"
              [checkBoxSelection]="false"
              [data]="items"
              [totalFiltred]="totalFiltred"
              [total]="total"
              [page]="page"
              [limit]="limit"
              [end]="end"
              [start]="start"
            >
            </app-ng-data-table>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<ng-template #content let-modal>
  <div class="modal-header">
    <h4 class="modal-title" *ngIf="editItem">Modification de réserve "{{ itemLabel }}"</h4>
    <h4 class="modal-title" *ngIf="addItem">Ajout d'une réserve</h4>
    <h4 class="modal-title" *ngIf="deleteItems">Suppression de réserve "{{ itemLabel }}"</h4>
    <h4 class="modal-title" *ngIf="editVisibility">Activer/Désactiver la réserve "{{ itemLabel }}"</h4>
    <button type="button" class="close" aria-label="Close" (click)="close()">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  <div class="modal-body">
    <div class="col-md-12" *ngIf="deleteItems">Voulez-vous supprimer la réserve "{{ itemLabel }}" ?</div>
    <div class="col-md-12 d-flex justify-content-center" *ngIf="loadingDropdownData">
      <p-progressSpinner></p-progressSpinner>
    </div>
    <div [hidden]="loadingDropdownData">
      <form [formGroup]="tabForm">
        <div
          class="form-group col-md-12 d-flex justify-content-between align-items-baseline"
          *ngIf="editItem || addItem"
        >
          <label class="col-sm-5">Libellé<span class="mandatory"> *</span></label>
          <input
            type="text"
            class="form-control col-sm-7"
            value="{{ editItem ? selectedItem.label : '' }}"
            formControlName="label"
          />
        </div>
        <div
          class="form-group col-md-12 d-flex justify-content-between align-items-baseline"
          *ngIf="editItem || addItem"
        >
          <label class="col-sm-5">Région</label>
          <div class="select col-sm-7 p-0">
            <p-dropdown
              [options]="autoComplete.regions"
              optionLabel="name"
              [placeholder]="'Filtrer département par région'"
              emptyFilterMessage="Aucun résultat trouvé"
              [filter]="true"
              [filterBy]="'name'"
              [virtualScroll]="true"
              itemSize="5"
              (onChange)="getDropdownData('department', 'region', selectedRelated.region)"
              [(ngModel)]="selectedRelated.region"
              [ngModelOptions]="{ standalone: true }"
            ></p-dropdown>
          </div>
        </div>
        <div
          class="form-group col-md-12 d-flex justify-content-between align-items-baseline"
          *ngIf="editItem || addItem"
        >
          <label class="col-sm-5">Département</label>
          <div class="select col-sm-7 p-0">
            <p-dropdown
              [options]="autoComplete.departments"
              optionLabel="name"
              [placeholder]="'Filtrer commune par département'"
              emptyFilterMessage="Aucun résultat trouvé"
              [filter]="true"
              [filterBy]="'name'"
              [virtualScroll]="true"
              itemSize="5"
              (onChange)="getDropdownData('commune', 'department', selectedRelated.department)"
              [(ngModel)]="selectedRelated.department"
              [ngModelOptions]="{ standalone: true }"
              [disabled]="!selectedRelated.region"
              aria-describedby="departmentHelp"
            ></p-dropdown>
            <small id="departmentHelp" class="form-text text-muted">Filtrer Départment par Région</small>
          </div>
        </div>
        <div
          class="form-group col-md-12 d-flex justify-content-between align-items-baseline"
          *ngIf="editItem || addItem"
        >
          <label class="col-sm-5">Commune</label>
          <div class="select col-sm-7 p-0">
            <p-dropdown
              [options]="autoComplete.communes"
              optionLabel="name"
              [placeholder]="'Filtrer bâtiment par commune'"
              emptyFilterMessage="Aucun résultat trouvé"
              [filter]="true"
              [filterBy]="'name'"
              [virtualScroll]="true"
              itemSize="5"
              (onChange)="getDropdownData('building', 'commune', selectedRelated.commune)"
              [(ngModel)]="selectedRelated.commune"
              [ngModelOptions]="{ standalone: true }"
              [disabled]="!selectedRelated.department"
              aria-describedby="communeHelp"
            ></p-dropdown>
            <small id="communeHelp" class="form-text text-muted">Filtrer Commune par Département</small>
          </div>
        </div>
        <div
          class="form-group col-md-12 d-flex justify-content-between align-items-baseline"
          *ngIf="editItem || addItem"
        >
          <label class="col-sm-5">Site</label>
          <div class="col-sm-7 p-0">
            <p-autoComplete
              [minLength]="3"
              field="label"
              emptyMessage="Aucun résultat trouvé"
              placeholder="Filtrer bâtiment par site"
              (completeMethod)="autoCompleteSites($event)"
              (onSelect)="getDropdownData('building', 'site', selectedRelated.site)"
              [suggestions]="autoComplete.sites"
              [(ngModel)]="selectedRelated.site"
              [ngModelOptions]="{ standalone: true }"
            ></p-autoComplete>
          </div>
        </div>
        <div
          class="form-group col-md-12 d-flex justify-content-between align-items-baseline"
          *ngIf="editItem || addItem"
        >
          <label class="col-sm-5">Bâtiment<span class="mandatory"> *</span></label>
          <div class="select col-sm-7 p-0">
            <p-dropdown
              [options]="autoComplete.buildings"
              optionLabel="name"
              [placeholder]="'Filtrer pièce par bâtiment'"
              emptyFilterMessage="Aucun résultat trouvé"
              [filter]="true"
              [filterBy]="'name'"
              [virtualScroll]="true"
              itemSize="5"
              (onChange)="getRoomsByBuilding()"
              [(ngModel)]="selectedRelated.building"
              [ngModelOptions]="{ standalone: true }"
              [disabled]="!selectedRelated.commune && !selectedRelated.site"
              aria-describedby="buildingHelp"
            ></p-dropdown>
            <small id="buildingHelp" class="form-text text-muted">Filtrer Bâtiment par Site ou par Commune</small>
          </div>
        </div>
        <div
          class="form-group col-md-12 d-flex justify-content-between align-items-baseline"
          *ngIf="editItem || addItem"
        >
          <label class="col-sm-5">Pièce<span class="mandatory"> *</span></label>
          <div class="select col-sm-7 p-0">
            <p-dropdown
              [options]="activeRelatedRooms"
              optionLabel="reference"
              formControlName="room"
              [placeholder]="'Sélectionner une pièce'"
              emptyFilterMessage="Aucun résultat trouvé"
              [filter]="true"
              [filterBy]="'reference'"
              [virtualScroll]="true"
              itemSize="5"
              aria-describedby="roomHelp"
            ></p-dropdown>
            <small id="roomHelp" class="form-text text-muted">Filtrer Pièce par Bâtiment</small>
          </div>
        </div>
        <div
          class="form-group col-md-12 d-flex justify-content-between align-items-baseline"
          *ngIf="addItem || editVisibility"
        >
          <label class="col-sm-5">Date début de validité<span class="mandatory"> *</span></label>
          <input type="date" name="datepicker" class="form-control date-input col-sm-7" formControlName="startDate" />
        </div>
        <div
          class="form-group col-md-12 d-flex justify-content-between align-items-baseline"
          *ngIf="addItem || editVisibility"
        >
          <label class="col-sm-5">Date fin de validité</label>
          <input
            type="date"
            name="datepicker"
            class="form-control date-input col-sm-7"
            formControlName="endDate"
            [class.ng-invalid]="tabForm.errors && tabForm.errors.dateInvalid"
          />
        </div>
      </form>
    </div>
  </div>

  <div class="modal-footer">
    <button type="button" class="btn btn-light cancel-btn" (click)="close()">Annuler</button>
    <button
      type="submit"
      class="btn btn-light valid-btn"
      *ngIf="editItem || editVisibility"
      [attr.disabled]="btnLoading"
      (click)="submit()"
    >
      Modifier
    </button>
    <button
      type="submit"
      class="btn btn-light valid-btn"
      *ngIf="addItem"
      [attr.disabled]="btnLoading"
      (click)="submit()"
    >
      Ajouter
    </button>
    <button
      type="button"
      class="btn btn-light valid-btn"
      *ngIf="deleteItems"
      (click)="deleteItemss(itemToDelete)"
      [attr.disabled]="btnLoading"
    >
      Supprimer
    </button>
  </div>
</ng-template>
<p-toast></p-toast>
