<!--<div class="row" style="">-->
<app-accordion-section
  #accordionSectionDOM
  [editable]="false"
  [showIcon]="true"
  [headerTitle]="'Localisations'"
  [icon]="'zmdi zmdi-pin zmdi-hc-3x'"
  [idMilestoneSection]="1"
  [sectionIndex]="1"
  [index]="1"
  [sectionTitle]="'Localisations'"
>
  <app-movements></app-movements>
</app-accordion-section>

<app-accordion-section
  #accordionSectionDOM
  [editable]="false"
  [showIcon]="true"
  [headerTitle]="'Constats'"
  [icon]="'fas fa-search zmdi-hc-3x'"
  [idMilestoneSection]="1"
  [sectionIndex]="1"
  [index]="1"
  [sectionTitle]="'Constats'"
>
  <app-movements></app-movements>
  <!--  <li class="nav-item firth-icon">-->
  <!--    <a (click)="page4()" class="nav-link text-uppercase font-weight-bold">-->
  <!--      <i class="zmdi zmdi-pin zmdi-hc-3x"></i>-->
  <!--    </a>-->
  <!--    <p style="margin-left: -10px">Localisations</p>-->
  <!--  </li>-->
  <!--  <li class="nav-item fifth-icon">-->
  <!--    <a (click)="page5()" class="nav-link text-uppercase font-weight-bold">-->
  <!--      <i class="fas fa-search zmdi-hc-3x"></i>-->
  <!--    </a>-->
  <!--    <p style="margin-left: 0px">Constats</p>-->
  <!--  </li>-->
</app-accordion-section>
<!--</div>-->
