<!--<div class="row" style="">-->
<!--<app-accordion-section-->
<!--  #accordionSectionDOM-->
<!--  [editable]="false"-->
<!--  [showIcon]="true"-->
<!--  [headerTitle]="'Dernier mouvement'"-->
<!--  [icon]="'zmdi zmdi-pin zmdi-hc-3x'"-->
<!--  [idMilestoneSection]="1"-->
<!--  [sectionIndex]="1"-->
<!--  [index]="1"-->
<!--  [sectionTitle]="'Dernier mouvement'"-->
<!--&gt;-->
<!--  <app-movements></app-movements>-->
<!--</app-accordion-section>-->
<div class="d-flex">
  <app-movements></app-movements>
  <app-observations></app-observations>
</div>
<!--<app-accordion-section-->
<!--  #accordionSectionDOM-->
<!--  [editable]="false"-->
<!--  [showIcon]="true"-->
<!--  [headerTitle]="'Dernier constat'"-->
<!--  [icon]="'fas fa-search zmdi-hc-3x'"-->
<!--  [idMilestoneSection]="1"-->
<!--  [sectionIndex]="1"-->
<!--  [index]="1"-->
<!--  [sectionTitle]="'Dernier constat'"-->
<!--&gt;-->
<!--  <app-movements></app-movements>-->
<!--  &lt;!&ndash;  <li class="nav-item firth-icon">&ndash;&gt;-->
<!--  &lt;!&ndash;    <a (click)="page4()" class="nav-link text-uppercase font-weight-bold">&ndash;&gt;-->
<!--  &lt;!&ndash;      <i class="zmdi zmdi-pin zmdi-hc-3x"></i>&ndash;&gt;-->
<!--  &lt;!&ndash;    </a>&ndash;&gt;-->
<!--  &lt;!&ndash;    <p style="margin-left: -10px">Localisations</p>&ndash;&gt;-->
<!--  &lt;!&ndash;  </li>&ndash;&gt;-->
<!--  &lt;!&ndash;  <li class="nav-item fifth-icon">&ndash;&gt;-->
<!--  &lt;!&ndash;    <a (click)="page5()" class="nav-link text-uppercase font-weight-bold">&ndash;&gt;-->
<!--  &lt;!&ndash;      <i class="fas fa-search zmdi-hc-3x"></i>&ndash;&gt;-->
<!--  &lt;!&ndash;    </a>&ndash;&gt;-->
<!--  &lt;!&ndash;    <p style="margin-left: 0px">Constats</p>&ndash;&gt;-->
<!--  &lt;!&ndash;  </li>&ndash;&gt;-->
<!--</app-accordion-section>-->
<!--</div>-->
